educare-backend/docs/n8n-main-refactored-with-subflows.json
{"name": "Educare app-chat", "nodes": [{"parameters": {"httpMethod": "POST", "path": "chat", "options": {}}, "id": "801324b6-72df-42cd-9ab1-91ee230dad0e", "name": "Webhook (Unified Entry)", "type": "n8n-nodes-base.webhook", "typeVersion": 1, "position": [-4384, 656], "webhookId": "f44aaa18-a489-4a77-a5af-b3f5b20953a9", "notes": "Ponto de entrada unificado - recebe mensagens do Evolution API OU Chatwoot"}, {"parameters": {"jsCode": "// Source Detector v4.2 - Chatwoot + Evolution (normaliza\u00e7\u00e3o correta)\n\nconst items = $input.all();\nconst results = [];\n\nfunction pickTextFromEvolutionMessage(msg = {}) {\n  return (\n    msg.conversation ||\n    msg.extendedTextMessage?.text ||\n    msg.imageMessage?.caption ||\n    msg.videoMessage?.caption ||\n    msg.documentMessage?.caption ||\n    null\n  );\n}\n\nfunction pickMediaFromEvolutionMessage(msg = {}) {\n  // URL \u00e0s vezes n\u00e3o vem no upsert; pode exigir etapa posterior de download\n  if (msg.imageMessage) return { type: \"image\", mime: msg.imageMessage.mimetype || null, url: null };\n  if (msg.videoMessage) return { type: \"video\", mime: msg.videoMessage.mimetype || null, url: null };\n  if (msg.audioMessage) return { type: \"audio\", mime: msg.audioMessage.mimetype || null, url: null };\n  if (msg.documentMessage) return { type: \"document\", mime: msg.documentMessage.mimetype || null, url: null };\n  return { type: null, mime: null, url: null };\n}\n\nfor (const item of items) {\n  const body = item.json.body || item.json || {};\n\n  // Detectar Chatwoot\n  const isChatwoot = !!(body.event && body.conversation);\n\n  // Detectar Evolution\n  const data = body.data || body;\n  const isEvolution = !!(data.key?.remoteJid);\n\n  let source = \"unknown\";\n  if (isChatwoot) source = \"chatwoot\";\n  else if (isEvolution) source = \"evolution\";\n\n  // Defaults (mant\u00e9m compatibilidade com o resto do fluxo)\n  let nome = null;\n  let contato = null;\n  let id_mensagem = null;\n  let mensagem = null;\n  let type_message = null;\n  let url_anexo = null;\n  let mime_type = null;\n  let canal = null;\n  let instancia = body.instance || body.instancia || \"educare-chat\";\n  let origem = null;\n  let timestamp = body.timestamp || body.created_at || new Date().toISOString();\n\n  // Flag humano (default)\n  let is_human = null;\n\n  // ---- Normaliza\u00e7\u00e3o por fonte ----\n  if (isChatwoot) {\n    nome = body.sender?.name || body.sender_name || null;\n    contato = body.sender?.phone_number?.replace(\"+\", \"\") || body.phone || null;\n    id_mensagem = body.id || body.message_id || null;\n    mensagem = body.message || body.content || null;\n    type_message = body.content_type || body.type_message || null;\n    url_anexo = body.url_anexo || null;\n    mime_type = body.mime_type || null;\n    canal = body.conversation?.channel || body.canal || null;\n    origem = body.inbox?.name || body.origem || null;\n\n    // Chatwoot: humano geralmente \u00e9 quem N\u00c3O \u00e9 \"private note\"/bot/etc (depende da sua regra)\n    // Mantendo neutro:\n    is_human = true;\n  }\n\n  if (isEvolution) {\n    const key = data.key || {};\n    const msg = data.message || {};\n\n    nome = data.pushName || null;\n    contato = key.remoteJid ? key.remoteJid.split(\"@\")[0] : null;\n    id_mensagem = key.id || null;\n\n    const text = pickTextFromEvolutionMessage(msg);\n    const media = pickMediaFromEvolutionMessage(msg);\n\n    mensagem = text;\n    type_message = data.messageType || media.type || null;\n    url_anexo = media.url;\n    mime_type = media.mime;\n\n    canal = \"evolution\";\n    origem = \"whatsapp\";\n\n    // Use o timestamp da pr\u00f3pria mensagem se existir\n    timestamp = data.messageTimestamp\n      ? new Date(Number(data.messageTimestamp) * 1000).toISOString()\n      : timestamp;\n\n    // HUMANO = inbound (fromMe === false) + tem conte\u00fado (texto ou m\u00eddia)\n    const hasContent = !!text || !!media.type;\n    is_human = (key.fromMe === false) && hasContent;\n  }\n\n  const enrichedData = {\n    source,\n    raw_body: body,\n    is_chatwoot: isChatwoot,\n    is_evolution: isEvolution,\n\n    nome,\n    contato,\n    id_mensagem,\n    mensagem,\n    type_message,\n    url_anexo,\n    mime_type,\n    canal,\n    instancia,\n    origem,\n    timestamp,\n\n    // Campos auxiliares \u00fateis pro fluxo:\n    is_human,\n    from_me: isEvolution ? (data.key?.fromMe ?? null) : null,\n    remote_jid: isEvolution ? (data.key?.remoteJid ?? null) : null\n  };\n\n  results.push({ json: enrichedData });\n}\n\nreturn results;"}, "id": "300684ba-6022-423b-afa9-c4625b081598", "name": "Source Detector", "type": "n8n-nodes-base.code", "typeVersion": 1, "position": [-4096, 656], "notes": "Identifica se a mensagem vem do Chatwoot ou Evolution API"}, {"parameters": {"dataType": "string", "value1": "={{ $json.source }}", "rules": {"rules": [{"value2": "chatwoot"}, {"value2": "evolution", "output": 1}]}}, "id": "8373b41d-efc1-4e0c-b4da-70afb219d615", "name": "Router: Source Type", "type": "n8n-nodes-base.switch", "typeVersion": 1, "position": [-3392, 624], "notes": "Roteia para extrator espec\u00edfico baseado na fonte"}, {"parameters": {"jsCode": "// Chatwoot Extractor v4.2\n// Extra\u00e7\u00e3o robusta de mensagens e anexos do Chatwoot\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const body = item.json.raw || item.json.raw_body || {};\n  const event = body.event || '';\n  const conversation = body.conversation || {};\n  const meta = conversation.meta || {};\n  const sender = meta.sender || {};\n  const messages = conversation.messages || [];\n  const latestMessage = messages[messages.length - 1] || {};\n\n  const messageType = latestMessage.message_type || '';\n\n  // Filtrar apenas mensagens do usu\u00e1rio\n  if (event !== 'message_created' || messageType === 'outgoing') {\n    results.push({ json: { skip: true, reason: 'not_incoming_message' } });\n    continue;\n  }\n\n  // Anexos\n  let attachments = body.attachments || [];\n  if (attachments.length === 0 && latestMessage.attachments) {\n    attachments = latestMessage.attachments;\n  }\n\n  // Telefone\n  let phone = sender.phone_number || sender.identifier || '';\n  phone = phone.replace(/\\D/g, '').replace('@s.whatsapp.net', '');\n  if (phone.startsWith('+')) phone = phone.substring(1);\n\n  // Conte\u00fado da mensagem\n  const message = latestMessage.content || body.content || '';\n\n  // Detectar m\u00eddia\n  let is_audio = false;\n  let media_url = null;\n  let media_type = 'text';\n\n  const audio = attachments.find(a => a.file_type === 'audio');\n  const image = attachments.find(a => a.file_type === 'image');\n  const doc = attachments.find(a => ['file', 'document'].includes(a.file_type));\n\n  if (audio) {\n    is_audio = true;\n    media_type = 'audio';\n    media_url = audio.data_url;\n  } else if (image) {\n    media_type = 'image';\n    media_url = image.data_url;\n  } else if (doc) {\n    media_type = 'document';\n    media_url = doc.data_url;\n  }\n\n  results.push({\n    json: {\n      source: 'chatwoot',\n      phone,\n      message,\n      is_audio,\n      media_url,\n      media_type,\n      source_id: latestMessage.source_id || '',\n      conversation_id: conversation.id,\n      inbox_id: body.inbox?.id || conversation.inbox_id,\n      account_id: body.account?.id,\n      contact_id: sender.id,\n      sender_name: sender.name || '',\n      timestamp: latestMessage.created_at || body.created_at || new Date().toISOString(),\n      raw: body\n    }\n  });\n}\n\nreturn results.length ? results : [{ json: { skip: true } }];"}, "id": "cd241153-9467-4752-b166-ff0d28b4b801", "name": "Chatwoot Extractor", "type": "n8n-nodes-base.code", "typeVersion": 1, "position": [-3072, 528], "notes": "Extrai phone, message, audio de webhooks Chatwoot"}, {"parameters": {"jsCode": "// Evolution API Extractor v4.1\n// Extra\u00e7\u00e3o de mensagens com m\u00eddia, texto e bot\u00f5es - padronizado\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const body = item.json.raw_body || {};\n  const data = body.data || body;\n  const key = data.key || {};\n  const msg = data.message || {};\n\n  // 1. Filtro: ignora mensagens enviadas por si ou de status\n  if (key.fromMe || key.remoteJid?.includes('status')) {\n    results.push({ json: { skip: true, reason: 'from_me_or_status' } });\n    continue;\n  }\n\n  // 2. Extrair telefone\n  const phone = key.remoteJid?.replace(/\\D/g, '').replace('@s.whatsapp.net', '') || '';\n\n  // 3. Detectar tipo de mensagem/m\u00eddia\n  let is_audio = false;\n  let media_url = null;\n  let message = '';\n  let media_type = 'text';\n  const type_message = Object.keys(msg)[0] || 'unknown';\n\n  if (msg.audioMessage) {\n    is_audio = true;\n    media_url = msg.audioMessage.url || data.mediaUrl;\n    media_type = 'audio';\n  } else if (msg.imageMessage) {\n    media_url = msg.imageMessage.url || data.mediaUrl;\n    message = msg.imageMessage.caption || '';\n    media_type = 'image';\n  } else if (msg.documentMessage) {\n    media_url = msg.documentMessage.url || data.mediaUrl;\n    message = msg.documentMessage.caption || '';\n    media_type = 'document';\n  } else if (msg.conversation) {\n    message = msg.conversation;\n  } else if (msg.extendedTextMessage) {\n    message = msg.extendedTextMessage.text;\n  } else if (msg.buttonsResponseMessage) {\n    message = msg.buttonsResponseMessage.selectedButtonId;\n  } else if (msg.listResponseMessage) {\n    message = msg.listResponseMessage.singleSelectReply?.selectedRowId || '';\n  }\n\n  results.push({\n    json: {\n      source: 'evolution',\n      phone,\n      message,\n      is_audio,\n      media_url,\n      media_type,\n      type_message,\n      conversation_id: null,\n      inbox_id: null,\n      account_id: null,\n      contact_id: null,\n      sender_name: data.pushName || '',\n      timestamp: data.messageTimestamp || data.messageTimestampMs || new Date().toISOString(),\n      raw: data\n    }\n  });\n}\n\nreturn results.length ? results : [{ json: { skip: true } }];"}, "id": "6c0617aa-8bcf-4266-be9e-dbee037442b8", "name": "Evolution Extractor", "type": "n8n-nodes-base.code", "typeVersion": 1, "position": [-3072, 736], "notes": "Extrai phone, message, audio de webhooks Evolution API"}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1}, "conditions": [{"id": "skip", "leftValue": "={{ $json.skip }}", "rightValue": true, "operator": {"type": "boolean", "operation": "notEquals"}}], "combinator": "and"}, "options": {}}, "id": "b5e1eb68-9b03-47f5-888e-29f691aa7c16", "name": "Gate: Not Skipped?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [-2752, 640], "notes": "Filtra mensagens que devem ser ignoradas (skip=true)"}, {"parameters": {"dataType": "boolean", "value1": "={{ $json.is_audio }}", "rules": {"rules": [{"operation": "notEqual"}, {"output": 1}]}}, "id": "c47042b2-2f79-4d59-b0cf-b452703d4a06", "name": "Router: Input Type", "type": "n8n-nodes-base.switch", "typeVersion": 1, "position": [-2400, 768]}, {"parameters": {"jsCode": "// Normaliza o \u00e1udio transcrito para texto\nconst item = $input.item;\nreturn [{\n  json: {\n    ...item.json,\n    message: item.json.text || item.json.message, \n    is_audio_transcribed: true\n  }\n}];"}, "id": "13785ce9-b68c-4614-b07e-caee1e59f9f5", "name": "Normalize Audio", "type": "n8n-nodes-base.code", "typeVersion": 1, "position": [-2032, 384]}, {"parameters": {"url": "={{ $node[\"Global Constants\"].json.EDUCARE_API_URL }}/api/n8n/users/check", "sendQuery": true, "queryParameters": {"parameters": [{"name": "phone", "value": "={{ $input.item.json.phone }}"}]}, "sendHeaders": true, "headerParameters": {"parameters": [{"name": "x-api-key", "value": "={{ $node[\"Global Constants\"].json.EDUCARE_API_KEY }}"}]}, "options": {"allowUnauthorizedCerts": true}}, "id": "e9882692-7e4f-4370-81a4-87b4683aad19", "name": "API: Check User", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-1728, 752], "notes": "Verifica se usu\u00e1rio existe e status da assinatura"}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1}, "conditions": [{"id": "exists", "leftValue": "={{ $json.exists }}", "rightValue": true, "operator": {"type": "boolean", "operation": "equals"}}], "combinator": "and"}, "options": {}}, "id": "9318ec1d-6d10-4440-bd08-c850d335dfc3", "name": "Gate: User Exists?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [-1376, 624]}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1}, "conditions": [{"id": "active", "leftValue": "={{ $json.subscription_status }}", "rightValue": "active", "operator": {"type": "string", "operation": "equals"}}, {"id": "trialing", "leftValue": "={{ $json.subscription_status }}", "rightValue": "trialing", "operator": {"type": "string", "operation": "equals"}}], "combinator": "or"}, "options": {}}, "id": "8fa51ab3-a33a-44ad-8af3-658bdd05162b", "name": "Gate: Active Sub?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [-1088, 608]}, {"parameters": {"jsCode": "// Prepare: No User Msg v2.0 \u2014 supports both Chatwoot and Evolution sources\nconst item = $input.item;\n\n// Try to get data from whichever extractor ran\nlet ref;\ntry {\n  ref = $('Chatwoot Extractor').item.json;\n} catch (e1) {\n  try {\n    ref = $('Evolution Extractor').item.json;\n  } catch (e2) {\n    ref = item.json;\n  }\n}\n\nconst escapeMarkdown = (text = '') => text.replace(/([_*~])/g, '\\\\$1');\n\nconst phone = String(ref.phone || '');\nconst message = ref.message || '';\nconst media_type = ref.media_type || 'text';\nconst media_url = ref.media_url || null;\nconst is_audio = String(ref.is_audio || false);\nconst source_id = ref.source_id || null;\nconst timestamp = ref.timestamp || Date.now();\nconst source = ref.source || 'evolution';\n\nconst conversation_id = String(ref.conversation_id || '');\nconst inbox_id = String(ref.inbox_id || '');\nconst account_id = String(ref.account_id || '');\nconst contact_id = String(ref.contact_id || '');\nconst sender_name_raw = ref.sender_name || ref.name || '';\nconst sender_name = sender_name_raw.trim() || 'mam\u00e3e/papai';\nconst safe_sender_name = escapeMarkdown(sender_name);\n\nconst instancia = ref.instancia || 'educare-chat';\n\nconst response_text = `Oi, ${safe_sender_name}! \ud83d\udc4b\n\nNotei que voc\u00ea ainda n\u00e3o tem uma conta ativa no app *Educare+*. Com ele, voc\u00ea acompanha vacinas, consultas, fases do beb\u00ea, tudo com muito carinho e praticidade. \ud83d\udc76\u2728\n\n\ud83d\udc99 Que tal experimentar o app gratuitamente?\n\n\ud83d\udcf2 Baixe agora: https://educareapp.com.br/app\n\nSe preferir, posso te ajudar por aqui no WhatsApp tamb\u00e9m!`;\n\nreturn [{\n  json: {\n    phone,\n    message,\n    media_type,\n    media_url,\n    is_audio,\n    source_id,\n    timestamp,\n    conversation_id,\n    inbox_id,\n    account_id,\n    contact_id,\n    sender_name,\n    instancia,\n    source,\n    response_text,\n    user_found: false,\n    lead_status: 'novo'\n  }\n}];"}, "id": "873f7608-c956-4d1f-9140-151357602a33", "name": "Prepare: No User Msg", "type": "n8n-nodes-base.code", "typeVersion": 1, "position": [-1376, 880]}, {"parameters": {"jsCode": "// Prepara mensagem para usu\u00e1rios com assinatura inativa\n// v2.0 \u2014 Phase 2 fix: removed Merge: Unified Data references\nconst base = $input.item.json;\n\n// Recuperar dados do extractor ativo nesta execu\u00e7\u00e3o\nlet extractorData = {};\ntry { extractorData = $('Chatwoot Extractor').item.json; } catch(e) {\n  try { extractorData = $('Evolution Extractor').item.json; } catch(e2) {\n    extractorData = {};\n  }\n}\n\nconst phone = base.phone || extractorData.phone || '';\n\nreturn [{\n  json: {\n    channel: base.source || extractorData.source || 'evolution',\n    source: base.source || extractorData.source || 'evolution',\n    message_id: base.message_id || base.id || String(base.timestamp || $execution.id),\n    phone,\n    text: base.text || base.message || base.body || '',\n    user: {\n      user_id: base.user_id || (base.user ? (base.user.id || base.user.user_id) : undefined),\n      name: base.user_name || (base.user ? base.user.name : '') || '',\n      subscription_status: base.subscription_status || (base.user ? base.user.subscription_status : '') || 'inactive',\n      stripe_customer_id: base.stripe_customer_id || (base.user ? base.user.stripe_customer_id : '') || '',\n      stripe_checkout_url: base.stripe_checkout_url || ''\n    },\n    ctx: {\n      locale: base.locale || 'pt-BR',\n      campaign_id: base.campaign_id || 'inactive_reactivation_v1',\n      conversation_id: extractorData.conversation_id || null,\n      inbox_id: extractorData.inbox_id || null,\n      account_id: extractorData.account_id || null\n    }\n  }\n}];"}, "id": "f594a78d-d93c-494f-88d5-73c49cefd846", "name": "Prepare: Inactive Msg", "type": "n8n-nodes-base.code", "typeVersion": 1, "position": [-1104, 880]}, {"parameters": {"content": "Valida\u00e7\u00e3o de usu\u00e1rio, classifica\u00e7\u00e3o, e  descarte de mensagem geradas por agentes. Ou atualiza\u00e7\u00f5es do chatwoot ou evolution.", "height": 480, "width": 928}, "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-3824, 464], "id": "54cbb66f-6337-49bf-93b2-d952dae3b6d5", "name": "Sticky Note"}, {"parameters": {"content": "Detecta o tipo de mensagem (texto, audio, etc.)", "height": 624, "width": 1344, "color": 4}, "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-2832, 336], "id": "bd7fd420-7656-4601-9703-a57a116e5c82", "name": "Sticky Note1"}, {"parameters": {"resource": "audio", "operation": "transcribe", "options": {}}, "type": "@n8n/n8n-nodes-langchain.openAi", "typeVersion": 2.1, "position": [-2192, 640], "id": "a15cb076-9a83-4d14-8662-7e047eb06203", "name": "Transcribe a recording", "credentials": {"openAiApi": {"id": "gddH24JwjrAV57aC", "name": "OpenAi account"}}}, {"parameters": {"assignments": {"assignments": [{"id": "8d59441a-8a58-4dae-8bad-8477b148786b", "name": "phone", "value": "={{$json.phone}}", "type": "string"}, {"id": "30ddb993-997d-4fa8-8418-c07c48f96624", "name": "name", "value": "={{$json.sender_name}}\n", "type": "string"}, {"id": "a5077ce4-5e0c-4f3c-9785-de5c9d5b6b55", "name": "lastmessage", "value": "={{$json.message}}", "type": "string"}, {"id": "168d7eff-bfd3-46fd-8112-10b795103105", "name": "media_type", "value": "={{$json.media_type}}", "type": "string"}, {"id": "d1c66522-0cfa-48cb-9918-f7f20c97a8ed", "name": "media_url", "value": "={{$json.media_url}}", "type": "string"}, {"id": "32f49946-61b4-4c0b-8ecb-dfa927849f6c", "name": "is_audio", "value": "={{$json.is_audio}}", "type": "boolean"}, {"id": "b4e529ad-2ec8-419d-bc4c-6fd3d2f0072d", "name": "source", "value": "={{$json.source}}", "type": "string"}, {"id": "dd0c314f-ae01-4c71-a102-ce9a5c3d0708", "name": "source_id", "value": "={{$json.source_id}}", "type": "string"}, {"id": "5e264e66-8654-4623-97b8-feba01a06db5", "name": "timestamp", "value": "={{$json.timestamp}}", "type": "number"}, {"id": "864ea5bf-be3e-4764-a38d-4447b29cb624", "name": "conversation_id", "value": "={{$json.conversation_id}}", "type": "string"}, {"id": "937ef3c0-a6de-4b81-ab7c-3db3e0772eaa", "name": "inbox_id", "value": "={{ $json.inbox_id }}", "type": "string"}, {"id": "ec2a4fb8-d54c-4b1c-8439-9543164520ce", "name": "account_id", "value": "={{ $json.account_id }}", "type": "string"}, {"id": "6408684e-59ac-43f7-a2e9-5aea4a5030e4", "name": "contact_id", "value": "={{ $json.contact_id }}", "type": "string"}, {"id": "ccefef9e-50db-4a5e-941f-afb9fed2643e", "name": "sender_name", "value": "={{ $json.sender_name }}", "type": "string"}, {"id": "ea85d2fc-e888-4418-88c1-a90de65c08c9", "name": "thumbnail", "value": "={{ $json.thumbnail }}", "type": "string"}, {"id": "c4083e63-e4fe-4313-aaa5-7909edb7c7db", "name": "lead_status", "value": "={{ $json.lead_status }}", "type": "string"}, {"id": "6df6bcdd-63fc-4b16-99fb-a8b596a5b535", "name": "user_found", "value": "={{ $json.user_found }}", "type": "boolean"}, {"id": "bbb87b09-5467-40d7-9fdf-8c2a84f67f50", "name": "response_text", "value": "={{ $json.response_text }}", "type": "string"}]}, "options": {}}, "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [-1376, 1088], "id": "b3c3bba5-51be-4b40-af77-96aa016f47b9", "name": "Edit Fields", "notes": "Dados para tratar leads"}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3}, "conditions": [{"id": "45663cbc-a1b9-46d2-9fa5-0d6b32039e88", "leftValue": "={{$json.is_human}}", "rightValue": "incoming", "operator": {"type": "boolean", "operation": "true", "singleValue": true}}], "combinator": "and"}, "options": {}}, "type": "n8n-nodes-base.if", "typeVersion": 2.3, "position": [-3744, 656], "id": "66fee6be-f9d6-442a-977b-d56a5ef973c7", "name": "\u00c9 humano?"}, {"parameters": {"options": {}}, "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [-1088, 1088], "id": "00fa1dae-5a2c-47f7-b5d9-65d75077617c", "name": "Edit Fields1"}, {"parameters": {"workflowId": {"__rl": true, "value": "jGZCuPWlkZa8v9OB", "mode": "list", "cachedResultUrl": "/workflow/jGZCuPWlkZa8v9OB", "cachedResultName": "SUB | Inactive User Reactivation (WhatsApp + Stripe + PG Memory)"}, "workflowInputs": {"mappingMode": "defineBelow", "value": {"thisFieldAcceptsAnyType": "={{$json}}"}, "matchingColumns": [], "schema": [{"id": "aField", "displayName": "aField", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": true}, {"id": "aNumber", "displayName": "aNumber", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "number", "removed": true}, {"id": "thisFieldAcceptsAnyType", "displayName": "thisFieldAcceptsAnyType", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "removed": false}, {"id": "anArray", "displayName": "anArray", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "array", "removed": true}], "attemptToConvertTypes": false, "convertFieldsToString": true}, "options": {}}, "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.3, "position": [-1088, 1264], "id": "12f082d0-0412-4824-b7c6-4767c3e1b1d4", "name": "Call 'Agente Lead - long memory'1"}, {"parameters": {"workflowId": {"__rl": true, "value": "n6ZpQvp96iPCaIvG", "mode": "list", "cachedResultUrl": "/workflow/n6ZpQvp96iPCaIvG", "cachedResultName": "Lead CRM"}, "workflowInputs": {"mappingMode": "defineBelow", "value": {"thisFieldAcceptsAnyType": "={{$json}}"}, "matchingColumns": [], "schema": [{"id": "aField", "displayName": "aField", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": true}, {"id": "aNumber", "displayName": "aNumber", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "number", "removed": true}, {"id": "thisFieldAcceptsAnyType", "displayName": "thisFieldAcceptsAnyType", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "removed": false}, {"id": "anArray", "displayName": "anArray", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "array", "removed": true}], "attemptToConvertTypes": false, "convertFieldsToString": true}, "options": {}}, "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.3, "position": [-1376, 1392], "id": "14fd7168-4324-463f-8d7a-19f617a6b4b3", "name": "Call 'Agente Lead'"}, {"parameters": {"jsCode": "// Global Constants v2.0 \u2014 Static values (no $env needed)\nconst item = $input.item;\n\nreturn [{\n  json: {\n    ...item.json,\n    EDUCARE_API_URL: \"https://educareapp.com.br\",\n    EDUCARE_API_KEY: \"educare_external_api_key_2025\",\n    EVOLUTION_API_URL: \"https://api.educareapp.com.br\",\n    EVOLUTION_INSTANCE: \"educare-chat\",\n    EVOLUTION_API_KEY: \"0C7951B425D6-458B-B662-1FF1EFDE0AFF\",\n    CHATWOOT_API_URL: \"https://chatwoot.educareapp.com.br\",\n    CHATWOOT_API_TOKEN: \"\"\n  }\n}];"}, "type": "n8n-nodes-base.code", "typeVersion": 1, "position": [-1984, 752], "id": "8cdeb497-286a-4d70-bae7-756e8c68eb99", "name": "Global Constants", "alwaysOutputData": true, "notes": "Constantes globais hardcoded (server-to-server, seguro)"}, {"parameters": {"url": "={{ $node[\"Global Constants\"].json.EDUCARE_API_URL }}/api/conversation/state", "sendQuery": true, "queryParameters": {"parameters": [{"name": "phone", "value": "={{ $input.item.json.phone }}"}]}, "sendHeaders": true, "headerParameters": {"parameters": [{"name": "x-api-key", "value": "={{ $node[\"Global Constants\"].json.EDUCARE_API_KEY }}"}]}, "options": {"allowUnauthorizedCerts": true, "timeout": 10000}}, "id": "state-get-001", "name": "API: Get State", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-976, 368]}, {"parameters": {"jsCode": "// State Router v2.0\nconst item = $input.item;\nconst stateData = item.json;\nconst currentState = (stateData.current_state || \"ENTRY\").toUpperCase();\n\nlet upstreamData = {};\ntry { upstreamData = $node[\"Gate: Active Sub?\"].json || {}; } catch(e) {\n  try { upstreamData = $node[\"API: Check User\"].json || {}; } catch(e2) {}\n}\n\nconst message = (upstreamData.message || \"\").toString().trim();\nconst msgLower = message.toLowerCase();\nconst phone = stateData.phone || upstreamData.phone || \"\";\n\nconst result = {\n  ...upstreamData,\n  phone,\n  conversation_state: currentState,\n  active_context: stateData.active_context || stateData.context || null,\n  assistant_name: stateData.assistant_name || null,\n  selected_child_id: stateData.selected_child_id || null,\n  journey_week: stateData.journey_week || null,\n  route: \"normal\"\n};\n\nconst isContextButton = (msgLower === \"ctx_child\" || msgLower === \"ctx_mother\" ||\n  (currentState === \"CONTEXT_SELECTION\" && (msgLower === \"1\" || msgLower === \"2\")));\n\nconst isActionButton = (msgLower.startsWith(\"action_\") || msgLower.startsWith(\"content_\") ||\n  msgLower.startsWith(\"log_\") || msgLower.startsWith(\"support_\"));\n\nconst isFeedbackButton = msgLower.startsWith(\"fb_\");\n\nif (currentState === \"ENTRY\" || !currentState || currentState === \"null\" || currentState === \"undefined\") {\n  result.route = \"entry\";\n} else if (isContextButton) {\n  result.route = \"button_resolve\";\n  result.button_id = msgLower === \"1\" ? \"ctx_child\" : msgLower === \"2\" ? \"ctx_mother\" : msgLower;\n} else if (currentState === \"CONTEXT_SELECTION\") {\n  result.route = \"entry\";\n} else if (isFeedbackButton || currentState === \"FEEDBACK\") {\n  result.route = \"feedback\";\n  if (isFeedbackButton) result.button_id = msgLower;\n} else if (isActionButton) {\n  result.route = \"button_resolve\";\n  result.button_id = msgLower;\n} else if (currentState === \"EXIT\" || currentState === \"PAUSE\") {\n  result.route = \"entry\";\n} else {\n  result.route = \"normal\";\n}\n\nreturn [{ json: result }];"}, "id": "state-router-001", "name": "State Router", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-784, 368]}, {"parameters": {"dataType": "string", "value1": "={{ $json.route }}", "rules": {"rules": [{"value2": "normal"}, {"value2": "entry", "output": 1}, {"value2": "feedback", "output": 2}, {"value2": "exit", "output": 3}, {"value2": "button_resolve", "output": 4}]}, "fallbackOutput": 0}, "id": "state-switch-001", "name": "Router: State Flow", "type": "n8n-nodes-base.switch", "typeVersion": 1, "position": [-512, 224]}, {"parameters": {"method": "POST", "url": "={{ $node[\"Global Constants\"].json.EDUCARE_API_URL }}/api/conversation/state/transition", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "x-api-key", "value": "={{ $node[\"Global Constants\"].json.EDUCARE_API_KEY }}"}, {"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({ phone: $json.phone, to_state: \"CONTEXT_SELECTION\" }) }}", "options": {"allowUnauthorizedCerts": true, "timeout": 10000}, "contentType": "json", "body": "={\n  \"phone\": \"{{ $json.phone }}\",\n  \"to_state\": \"CONTEXT_SELECTION\"\n}"}, "id": "entry-transition-001", "name": "API: Entry Transition", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-528, 32]}, {"parameters": {"method": "POST", "url": "={{ $node[\"Global Constants\"].json.EVOLUTION_API_URL }}/message/sendButtons/{{ $node[\"Global Constants\"].json.EVOLUTION_INSTANCE }}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "={{ $node[\"Global Constants\"].json.EVOLUTION_API_KEY }}"}, {"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({ phone: $json.phone, button_type: \"context_selection\" }) }}", "options": {"allowUnauthorizedCerts": true, "timeout": 10000}, "contentType": "json", "body": "={\n  \"number\": \"{{ $json.phone }}\",\n  \"options\": { \"delay\": 300, \"presence\": \"composing\" },\n  \"buttonMessage\": {\n    \"text\": \"Sobre o que voc\\u00ea quer falar agora? \\ud83d\\udcac\",\n    \"buttons\": [\n      { \"type\": \"reply\", \"reply\": { \"id\": \"ctx_child\", \"title\": \"\\ud83d\\udc76 Sobre meu beb\\u00ea\" } },\n      { \"type\": \"reply\", \"reply\": { \"id\": \"ctx_mother\", \"title\": \"\\ud83d\\udc9a Sobre mim\" } }\n    ],\n    \"footerText\": \"TitiNauta \\ud83d\\ude80\"\n  }\n}"}, "id": "entry-buttons-001", "name": "API: Send Context Buttons", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-352, 32]}, {"parameters": {"method": "POST", "url": "={{ $node[\"Global Constants\"].json.EDUCARE_API_URL }}/api/conversation/feedback", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "x-api-key", "value": "={{ $node[\"Global Constants\"].json.EDUCARE_API_KEY }}"}, {"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({\n  phone: $json.phone,\n  rating: $json.message === 'fb_1' ? 1 : ($json.message === 'fb_3' ? 3 : 5),\n  context: $json.conversation_state || 'FEEDBACK',\n  source: 'whatsapp_button'\n}) }}", "options": {"allowUnauthorizedCerts": true, "timeout": 10000}, "contentType": "json", "body": "={\n  \"phone\": \"{{ $json.phone }}\",\n  \"score\": 3,\n  \"state\": \"{{ $json.conversation_state }}\",\n  \"active_context\": \"{{ $json.active_context }}\"\n}"}, "id": "feedback-save-001", "name": "API: Save Feedback", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-592, 640]}, {"parameters": {"jsCode": "// Prepare thank-you message after feedback\nconst item = $input.item;\nconst phone = item.json.phone || '';\n\nlet extractorData = {};\ntry { extractorData = $node[\"Evolution Extractor\"].item.json; } catch(e) {\n  try { extractorData = $node[\"Chatwoot Extractor\"].item.json; } catch(e2) {}\n}\n\nreturn [{ json: {\n  source: extractorData.source || 'evolution',\n  phone,\n  response_text: 'Obrigado pelo seu feedback! Ele nos ajuda a melhorar. \ud83d\udc99',\n  media_type: 'text',\n  conversation_id: extractorData.conversation_id || null,\n  inbox_id: extractorData.inbox_id || null,\n  account_id: extractorData.account_id || null\n}}];"}, "id": "feedback-thanks-001", "name": "Feedback: Thank You", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-416, 640]}, {"parameters": {"method": "POST", "url": "={{ $node[\"Global Constants\"].json.EDUCARE_API_URL }}/api/conversation/state/transition", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "x-api-key", "value": "={{ $node[\"Global Constants\"].json.EDUCARE_API_KEY }}"}, {"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({ phone: $json.phone, to_state: \"EXIT\" }) }}", "options": {"allowUnauthorizedCerts": true, "timeout": 10000}, "contentType": "json", "body": "={\n  \"phone\": \"{{ $json.phone }}\",\n  \"to_state\": \"EXIT\"\n}"}, "id": "exit-handler-001", "name": "Exit: Reset State", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-688, 832]}, {"parameters": {"jsCode": "// Prepare goodbye message\nconst item = $input.item;\nlet extractorData = {};\ntry { extractorData = $node[\"Evolution Extractor\"].item.json; } catch(e) {\n  try { extractorData = $node[\"Chatwoot Extractor\"].item.json; } catch(e2) {}\n}\n\nreturn [{ json: {\n  source: extractorData.source || 'evolution',\n  phone: item.json.phone || '',\n  response_text: 'At\u00e9 logo! Volte quando precisar. \ud83d\udc4b',\n  media_type: 'text',\n  conversation_id: extractorData.conversation_id || null,\n  inbox_id: extractorData.inbox_id || null,\n  account_id: extractorData.account_id || null\n}}];"}, "id": "exit-msg-001", "name": "Exit: Goodbye", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-480, 832]}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1}, "conditions": [{"id": "fb_check", "leftValue": "={{ $json.message }}", "rightValue": "fb_", "operator": {"type": "string", "operation": "startsWith"}}], "combinator": "and"}, "options": {}}, "id": "feedback-detect-001", "name": "Gate: Is Feedback?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [-2560, 640]}, {"parameters": {"method": "POST", "url": "={{ $node[\"Global Constants\"].json.EDUCARE_API_URL }}/api/conversation/feedback", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "x-api-key", "value": "={{ $node[\"Global Constants\"].json.EDUCARE_API_KEY }}"}, {"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({\n  phone: $json.phone,\n  rating: $json.message === 'fb_1' ? 1 : ($json.message === 'fb_3' ? 3 : 5),\n  context: 'whatsapp_inline',\n  source: 'whatsapp_button'\n}) }}", "options": {"allowUnauthorizedCerts": true, "timeout": 10000}, "contentType": "json", "body": "={\n  \"phone\": \"{{ $json.phone }}\",\n  \"score\": 3\n}"}, "id": "feedback-direct-001", "name": "Feedback: Direct Save", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-2464, 448]}, {"parameters": {"method": "POST", "url": "={{ $node[\"Global Constants\"].json.EVOLUTION_API_URL }}/message/sendText/{{ $node[\"Global Constants\"].json.EVOLUTION_INSTANCE }}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "={{ $node[\"Global Constants\"].json.EVOLUTION_API_KEY }}"}, {"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({\n  number: $json.phone,\n  text: \"Obrigado pelo feedback! \ud83d\udc99\"\n}) }}", "options": {"allowUnauthorizedCerts": true, "timeout": 10000}, "contentType": "json", "body": "={\n  \"number\": \"{{ $json.phone }}\",\n  \"options\": { \"delay\": 200, \"presence\": \"composing\" },\n  \"text\": \"Obrigado por compartilhar! Sua opini\\u00e3o nos ajuda muito \\ud83d\\udc9c\"\n}"}, "id": "feedback-ack-001", "name": "Feedback: Send Ack", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-2272, 448]}, {"parameters": {"method": "POST", "url": "={{ $node[\"Global Constants\"].json.EDUCARE_API_URL }}/api/conversation/buttons/resolve", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "x-api-key", "value": "={{ $node[\"Global Constants\"].json.EDUCARE_API_KEY }}"}, {"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "contentType": "json", "body": "={\n  \"phone\": \"{{ $json.phone }}\",\n  \"button_id\": \"{{ $json.button_id }}\"\n}", "options": {"allowUnauthorizedCerts": true, "timeout": 10000}}, "id": "resolve-button-001", "name": "API: Resolve Button", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-320, -160]}, {"parameters": {"jsCode": "// Process button resolution result and prepare response\nconst item = $input.item;\nconst result = item.json;\nconst action = result.action || '';\nconst phone = result.state_data?.phone || '';\n\nlet extractorData = {};\ntry { extractorData = $('Evolution Extractor').item.json; } catch(e) {\n  try { extractorData = $('Chatwoot Extractor').item.json; } catch(e2) {}\n}\n\nconst source = extractorData.source || 'evolution';\n\nif (action === 'context_selected') {\n  const ctx = result.context?.active_context;\n  const msg = ctx === 'child'\n    ? 'Perfeito \ud83d\udc99\\nEnt\u00e3o vamos falar sobre seu beb\u00ea \ud83d\udc76\\n\\nPode me contar sua d\u00favida! Estou aqui para ajudar.'\n    : 'Combinado \ud83d\udc9a\\nAgora nosso foco \u00e9 voc\u00ea.\\n\\nPode me contar sua d\u00favida! Estou aqui para ajudar.';\n  return [{ json: {\n    phone, source, response_text: msg, media_type: 'text',\n    active_context: ctx,\n    assistant_name: result.context?.assistant_name,\n    conversation_state: 'FREE_CONVERSATION',\n    conversation_id: extractorData.conversation_id,\n    inbox_id: extractorData.inbox_id,\n    account_id: extractorData.account_id\n  }}];\n}\n\nif (action === 'feedback_saved') {\n  const score = result.score || 3;\n  const msg = score >= 4\n    ? 'Que bom saber disso \ud83d\udc99\\nObrigado por compartilhar!'\n    : 'Obrigado por me contar \ud83e\udd0d\\nSe quiser, pode me dizer o que posso melhorar.';\n  return [{ json: {\n    phone, source, response_text: msg, media_type: 'text',\n    conversation_id: extractorData.conversation_id,\n    inbox_id: extractorData.inbox_id,\n    account_id: extractorData.account_id\n  }}];\n}\n\nif (action === 'state_transition') {\n  const toState = result.button_action?.to_state || 'FREE_CONVERSATION';\n  const stateMsg = result.state_message?.text || 'Como posso te ajudar? \u2728';\n  return [{ json: {\n    phone, source, response_text: stateMsg, media_type: 'text',\n    conversation_state: toState,\n    conversation_id: extractorData.conversation_id,\n    inbox_id: extractorData.inbox_id,\n    account_id: extractorData.account_id\n  }}];\n}\n\nreturn [{ json: {\n  phone, source, response_text: 'Desculpe, n\u00e3o entendi. Tente novamente! \ud83d\ude0a',\n  media_type: 'text',\n  conversation_id: extractorData.conversation_id,\n  inbox_id: extractorData.inbox_id,\n  account_id: extractorData.account_id\n}}];"}, "id": "process-button-001", "name": "Process Button Result", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-128, -160]}, {"parameters": {"workflowId": {"__rl": true, "value": "M2O311CIHw8KuO5u", "mode": "id"}, "options": {}}, "id": "exec-buffer-01", "name": "Call: Buffer Processing", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.2, "position": [-960, 1200]}, {"parameters": {"workflowId": {"__rl": true, "value": "87sV1w208s0MmeCW", "mode": "id"}, "options": {}}, "id": "exec-intent-01", "name": "Call: Intent & Flows", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.2, "position": [-600, 1200]}, {"parameters": {"workflowId": {"__rl": true, "value": "XRURisA1LysS7a6m", "mode": "id"}, "options": {}}, "id": "exec-response-01", "name": "Call: Response Delivery", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.2, "position": [-240, 1200]}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1}, "conditions": [{"id": "buffer_ready_check", "leftValue": "={{ $json.buffer_action }}", "rightValue": "process", "operator": {"type": "string", "operation": "equals"}}], "combinator": "and"}}, "id": "gate-buffer-result-01", "name": "Gate: Buffer Result", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [-780, 1200]}], "connections": {"Webhook (Unified Entry)": {"main": [[{"node": "Source Detector", "type": "main", "index": 0}]]}, "Source Detector": {"main": [[{"node": "\u00c9 humano?", "type": "main", "index": 0}]]}, "Router: Source Type": {"main": [[{"node": "Chatwoot Extractor", "type": "main", "index": 0}], [{"node": "Evolution Extractor", "type": "main", "index": 0}]]}, "Chatwoot Extractor": {"main": [[{"node": "Gate: Not Skipped?", "type": "main", "index": 0}]]}, "Evolution Extractor": {"main": [[{"node": "Gate: Not Skipped?", "type": "main", "index": 0}]]}, "Gate: Not Skipped?": {"main": [[{"node": "Gate: Is Feedback?", "type": "main", "index": 0}]]}, "Router: Input Type": {"main": [[{"node": "Transcribe a recording", "type": "main", "index": 0}], [{"node": "Global Constants", "type": "main", "index": 0}], []]}, "Normalize Audio": {"main": [[{"node": "Global Constants", "type": "main", "index": 0}]]}, "API: Check User": {"main": [[{"node": "Gate: User Exists?", "type": "main", "index": 0}]]}, "Gate: User Exists?": {"main": [[{"node": "Gate: Active Sub?", "type": "main", "index": 0}], [{"node": "Prepare: No User Msg", "type": "main", "index": 0}]]}, "Gate: Active Sub?": {"main": [[{"node": "API: Get State", "type": "main", "index": 0}], [{"node": "Prepare: Inactive Msg", "type": "main", "index": 0}]]}, "Prepare: No User Msg": {"main": [[{"node": "Edit Fields", "type": "main", "index": 0}]]}, "Prepare: Inactive Msg": {"main": [[{"node": "Edit Fields1", "type": "main", "index": 0}]]}, "Transcribe a recording": {"main": [[{"node": "Normalize Audio", "type": "main", "index": 0}]]}, "Edit Fields": {"main": [[{"node": "Call 'Agente Lead'", "type": "main", "index": 0}]]}, "\u00c9 humano?": {"main": [[{"node": "Router: Source Type", "type": "main", "index": 0}]]}, "Edit Fields1": {"main": [[{"node": "Call 'Agente Lead - long memory'1", "type": "main", "index": 0}]]}, "Global Constants": {"main": [[{"node": "API: Check User", "type": "main", "index": 0}]]}, "API: Get State": {"main": [[{"node": "State Router", "type": "main", "index": 0}]]}, "State Router": {"main": [[{"node": "Router: State Flow", "type": "main", "index": 0}]]}, "Router: State Flow": {"main": [[{"node": "Call: Buffer Processing", "type": "main", "index": 0}], [{"node": "API: Entry Transition", "type": "main", "index": 0}], [{"node": "API: Save Feedback", "type": "main", "index": 0}], [{"node": "Exit: Reset State", "type": "main", "index": 0}], [{"node": "API: Resolve Button", "type": "main", "index": 0}], [{"node": "Call: Buffer Processing", "type": "main", "index": 0}]]}, "API: Entry Transition": {"main": [[{"node": "API: Send Context Buttons", "type": "main", "index": 0}]]}, "API: Save Feedback": {"main": [[{"node": "Feedback: Thank You", "type": "main", "index": 0}]]}, "Feedback: Thank You": {"main": [[{"node": "Call: Response Delivery", "type": "main", "index": 0}]]}, "Exit: Reset State": {"main": [[{"node": "Exit: Goodbye", "type": "main", "index": 0}]]}, "Exit: Goodbye": {"main": [[{"node": "Call: Response Delivery", "type": "main", "index": 0}]]}, "Gate: Is Feedback?": {"main": [[{"node": "Feedback: Direct Save", "type": "main", "index": 0}], [{"node": "Router: Input Type", "type": "main", "index": 0}]]}, "Feedback: Direct Save": {"main": [[{"node": "Feedback: Send Ack", "type": "main", "index": 0}]]}, "API: Resolve Button": {"main": [[{"node": "Process Button Result", "type": "main", "index": 0}]]}, "Process Button Result": {"main": [[{"node": "Call: Response Delivery", "type": "main", "index": 0}]]}, "Call: Buffer Processing": {"main": [[{"node": "Gate: Buffer Result", "type": "main", "index": 0}]]}, "Gate: Buffer Result": {"main": [[{"node": "Call: Intent & Flows", "type": "main", "index": 0}], []]}, "Call: Intent & Flows": {"main": [[{"node": "Call: Response Delivery", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "availableInMCP": true, "callerPolicy": "workflowsFromSameOwner"}}