educare-backend/docs/n8n-lead-crm-current.json
{
  "updatedAt": "2026-02-07T22:59:34.958Z",
  "createdAt": "2025-12-27T04:18:41.061Z",
  "id": "n6ZpQvp96iPCaIvG",
  "name": "Lead CRM",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE IF NOT EXISTS lead_context (\n  id SERIAL PRIMARY KEY,\n  phone VARCHAR(20) NOT NULL UNIQUE,\n  timestamp BIGINT NOT NULL,\n  last_message TEXT,\n  media_type TEXT,\n  media_url TEXT,\n  source TEXT,\n  source_id TEXT,\n  context JSONB DEFAULT '{}',\n  updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1744,
        1024
      ],
      "id": "61714141-267f-47c5-a92f-b1f10c042287",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "GOPEUe1LAiJGNq6A",
          "name": "Postgres_n8n"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE IF NOT EXISTS lead_journey (\n  id SERIAL PRIMARY KEY,\n  phone VARCHAR(20) NOT NULL,\n  step TEXT,\n  message TEXT,\n  response TEXT,\n  is_audio BOOLEAN DEFAULT FALSE,\n  media_type TEXT,\n  media_url TEXT,\n  timestamp BIGINT,\n  source TEXT,\n  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1536,
        1024
      ],
      "id": "61393cb6-0e42-459a-bca4-d318ce4907d6",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "GOPEUe1LAiJGNq6A",
          "name": "Postgres_n8n"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE IF NOT EXISTS lead_summary (\n  id SERIAL PRIMARY KEY,\n  phone VARCHAR(20) NOT NULL UNIQUE,\n  summary TEXT,\n  tags TEXT[],\n  updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1776,
        1184
      ],
      "id": "6fe777e0-d4eb-4ca6-a23b-240620a23e15",
      "name": "Lead_summary",
      "credentials": {
        "postgres": {
          "id": "GOPEUe1LAiJGNq6A",
          "name": "Postgres_n8n"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "ALTER TABLE lead_summary\nADD COLUMN IF NOT EXISTS funnel_step TEXT;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1536,
        1184
      ],
      "id": "f8a8af1a-893f-4d65-bc4d-6025fcd87399",
      "name": "Lead_summary1",
      "credentials": {
        "postgres": {
          "id": "GOPEUe1LAiJGNq6A",
          "name": "Postgres_n8n"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -992,
        1408
      ],
      "id": "e3391afe-bd9a-4dad-8929-8c2fc86d297a",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO lead_context (\n  phone, timestamp, last_message, media_type, media_url, source, source_id, context, updated_at\n)\nVALUES (\n  {{$json.phone ? (\"'\" + $json.phone + \"'\") : 'NULL'}},\n  {{$json.timestamp}},\n  {{$json.lastmessage_sql}}::text,\n  {{$json.media_type_sql}}::text,\n  {{$json.media_url_sql}}::text,\n  {{$json.source_sql}}::text,\n  {{$json.source_id_sql}}::text,\n  '{}'::jsonb,\n  NOW()\n)\nON CONFLICT (phone)\nDO UPDATE SET\n  timestamp = EXCLUDED.timestamp,\n  last_message = EXCLUDED.last_message,\n  media_type = EXCLUDED.media_type,\n  media_url = EXCLUDED.media_url,\n  source = EXCLUDED.source,\n  source_id = EXCLUDED.source_id,\n  updated_at = NOW();",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -896,
        1024
      ],
      "id": "3539d653-5600-4414-a222-734ccef8e69f",
      "name": "UPSERT lead_context",
      "credentials": {
        "postgres": {
          "id": "GOPEUe1LAiJGNq6A",
          "name": "Postgres_n8n"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const j = $json;\n\nconst summary = (j.summary && String(j.summary).trim())\n  ? String(j.summary).trim()\n  : '(sem resumo anterior)';\n\nconst tags = Array.isArray(j.tags) && j.tags.length\n  ? j.tags.join(', ')\n  : '(sem tags)';\n\nreturn [{\n  json: {\n    ...j,\n    long_memory_context: `Memória longa (lead_summary):\\nResumo: ${summary}\\nTags: ${tags}`,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        1184
      ],
      "id": "94e85fdd-636c-4732-a880-4501e5da2c4a",
      "name": "long_memory_context"
    },
    {
      "parameters": {
        "jsCode": "const j = $json.thisFieldAcceptsAnyType ?? $json;\n\nconst trim = (v) => (v ?? '').toString().trim();\n\nconst sqlStr = (v) => {\n  if (v === null || v === undefined) return 'NULL';\n  const s = String(v).replace(/'/g, \"''\");\n  return `'${s}'`;\n};\n\n// media_url \"null\" -> null\nconst mediaUrl =\n  j.media_url === \"null\" || j.media_url === \"\" || j.media_url === undefined\n    ? null\n    : j.media_url;\n\n// response_text: parse se vier como JSON string\nlet responseClean = j.response_text;\ntry {\n  if (typeof responseClean === \"string\" && responseClean.startsWith('\"')) {\n    responseClean = JSON.parse(responseClean);\n  }\n} catch (e) {}\n\nreturn [{\n  json: {\n    ...j,\n    phone: trim(j.phone),\n    name: trim(j.name),\n    lastmessage: trim(j.lastmessage),\n    media_type: trim(j.media_type),\n    media_url: mediaUrl,\n    is_audio: Boolean(j.is_audio),\n    source: trim(j.source),\n    source_id: trim(j.source_id),\n    timestamp: Number(j.timestamp),\n    response_text_clean: responseClean,\n\n    // strings prontas pra SQL\n    name_sql: sqlStr(trim(j.name)),\n    lastmessage_sql: sqlStr(trim(j.lastmessage)),\n    media_type_sql: sqlStr(trim(j.media_type)),\n    source_sql: sqlStr(trim(j.source)),\n    source_id_sql: sqlStr(trim(j.source_id)),\n    media_url_sql: mediaUrl === null ? 'NULL' : sqlStr(mediaUrl),\n    response_sql: sqlStr(responseClean),\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1536,
        1440
      ],
      "id": "a2c7885b-29cd-4d19-8bca-48cae3876da6",
      "name": "Normalize"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  {{$json.phone ? (\"'\" + $json.phone + \"'\") : 'NULL'}}::text AS phone,\n  ls.summary,\n  ls.tags\nFROM (SELECT 1) x\nLEFT JOIN lead_summary ls ON ls.phone = {{$json.phone ? (\"'\" + $json.phone + \"'\") : 'NULL'}}::text\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -880,
        1184
      ],
      "id": "8db6f342-a40f-48b7-ac2f-a163f87b041b",
      "name": "lead_summary",
      "credentials": {
        "postgres": {
          "id": "GOPEUe1LAiJGNq6A",
          "name": "Postgres_n8n"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO lead_journey (\n  phone, step, message, response,\n  is_audio, media_type, media_url,\n  timestamp, source\n)\nVALUES (\n  {{ $json.phone ? (\"'\" + $json.phone + \"'\") : \"NULL\" }}::text,\n  'lead_not_registered',\n  {{ $json.lastmessage ? (\"'\" + $json.lastmessage.replace(/'/g,\"''\") + \"'\") : \"NULL\" }}::text,\n  NULL,\n  {{ $json.is_audio === true ? \"TRUE\" : \"FALSE\" }}::boolean,\n  {{ $json.media_type ? (\"'\" + $json.media_type.replace(/'/g,\"''\") + \"'\") : \"NULL\" }}::text,\n  {{ $json.media_url ? (\"'\" + String($json.media_url).replace(/'/g,\"''\") + \"'\") : \"NULL\" }}::text,\n  {{ ($json.timestamp !== undefined && $json.timestamp !== null) ? String($json.timestamp) : \"NULL\" }}::bigint,\n  {{ $json.source ? (\"'\" + $json.source.replace(/'/g,\"''\") + \"'\") : \"NULL\" }}::text\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -528,
        1408
      ],
      "id": "5ef82410-cbdf-464b-8287-eb97f2f571e4",
      "name": "lead_journey",
      "credentials": {
        "postgres": {
          "id": "GOPEUe1LAiJGNq6A",
          "name": "Postgres_n8n"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const j = $json;\n\nconst name = (j.name ?? '').toString().trim();\nconst last = (j.lastmessage ?? '').toString().trim();\n\nconst summary = `Lead novo (não cadastrado). Nome: ${name || '(não informado)'}. Última msg: \"${last || '(vazia)'}\".`;\n\nconst escapeSql = (s) => String(s ?? '').replace(/'/g, \"''\");\n\nreturn [{\n  json: {\n    ...j,\n    summary_text: summary,\n    summary_text_escaped: escapeSql(summary),\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        1584
      ],
      "id": "c0615ad1-148a-485f-aaf1-e124fc112015",
      "name": "summary_text"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO lead_summary (phone, summary, tags, updated_at)\nVALUES (\n  {{$json.phone ? (\"'\" + $json.phone + \"'\") : 'NULL'}},\n  '{{$json.summary_text_escaped}}',\n  ARRAY['lead','novo','nao_cadastrado']::text[],\n  NOW()\n)\nON CONFLICT (phone)\nDO UPDATE SET\n  summary = EXCLUDED.summary,\n  tags = EXCLUDED.tags,\n  updated_at = NOW();",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -320,
        1584
      ],
      "id": "7631f2bc-ebeb-4f67-9353-0cfb8c3c5415",
      "name": "lead_summary1",
      "credentials": {
        "postgres": {
          "id": "GOPEUe1LAiJGNq6A",
          "name": "Postgres_n8n"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const j = $json;\n\n// 0) output pode vir como OBJETO (Structured Output) ou STRING\nlet obj = j.output;\n\nif (typeof obj === 'string') {\n  const raw = obj.trim();\n  try {\n    obj = JSON.parse(raw);\n  } catch (e) {\n    obj = { reply_text: raw };\n  }\n}\n\n// 1) Primeiro tenta pegar do INPUT (trava). Se vier vazio, faz fallback do output.\nconst instancia =\n  (j.instancia ?? j.instance ?? '').toString().trim()\n  || (obj?.instancia ?? 'educare-chat').toString().trim();\n\nconst contato =\n  String(j.contato ?? j.phone ?? j.numero ?? '').replace(/\\D/g, '').trim()\n  || String(obj?.contato ?? '').replace(/\\D/g, '').trim();\n\n// 2) reply_text final\nconst reply_text = String(obj?.reply_text ?? j.reply_text ?? '').trim();\nconst safeReply = reply_text || 'Oi! Como posso te ajudar com o Educare+ Tech hoje?';\n\n// 3) Campos p/ Postgres\nconst reply_text_escaped = safeReply.replace(/'/g, \"''\");\nconst phone = contato; // canônico\nconst ts = Number(j.timestamp ?? Math.floor(Date.now() / 1000));\n\nreturn [{\n  json: {\n    ...j,\n    instancia,\n    contato,\n    phone,\n    reply_text: safeReply,\n    reply_text_escaped,\n    timestamp: ts,\n    response: safeReply,\n    response_sql: `'${reply_text_escaped}'`,\n    source: j.source ?? 'evolution',\n    step: j.step ?? 'bot_reply_sent',\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -656,
        1792
      ],
      "id": "54a000cd-7b70-41e2-b05b-2629175a768e",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Nome do lead: {{ $json.name }}\nMensagem do lead: {{ $json.lastmessage }}\n\nResumo atual do lead:\n{{ $json.summary }}\n\nContexto de memória longa:\n{{ $json.long_memory_context }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Você é o Educare+ MyChat, assistente inteligente de pré-vendas e suporte inicial do Educare+ Tech.\n\nOBJETIVO PRINCIPAL\n- Ajudar o lead a entender rapidamente o Educare+ Tech\n- Avançar o lead exatamente 1 etapa no funil a cada resposta\n  (descoberta → interesse → ação)\n\nCONTEXTO DO PRODUTO (1 FRASE)\nEducare+ Tech é um app para acompanhar saúde infantil, vacinas, consultas e desenvolvimento da criança.\n\nESTADO DO FUNIL\nEtapa atual do lead: {{ $json.funnel_step }}\n\nREGRAS DO FUNIL\n- descoberta → apresentar valor e qualificar\n- interesse → aprofundar benefício e reduzir objeções\n- ação → convidar para cadastro, teste ou assinatura\n\nREGRAS DE COMUNICAÇÃO\n- Português do Brasil\n- Tom acolhedor, humano e objetivo\n- Respostas curtas (máx. 4 parágrafos)\n- Fazer no máximo 1 pergunta clara de continuidade\n- Nunca repetir mensagens anteriores\n- Nunca inventar informações\n\nREGRAS DE COMPORTAMENTO\n- Se a mensagem do lead for apenas um cumprimento (ex: \"bom dia\", \"oi\"):\n  1) acolha o lead\n  2) explique o Educare+ Tech em 1 frase\n  3) faça 1 pergunta de qualificação\n\nUSO DE CONTEXTO\n- Utilize memória longa, histórico e dados do lead quando disponíveis\n- Se não houver contexto suficiente, responda de forma segura e acolhedora\n\nINSTRUÇÃO TÉCNICA OBRIGATÓRIA\n- Sua resposta FINAL deve seguir EXATAMENTE o schema definido pelo Output Parser.\n- Não inclua texto fora da estrutura.\n- Não inclua explicações, comentários ou markdown.\n\nREGRA DE SEGURANÇA\n- A resposta nunca pode ser vazia.\n- Se faltar informação, gere uma resposta padrão de acolhimento com 1 pergunta simples de continuidade.\n\nIMPORTANTE (NÃO QUEBRE ESTA REGRA):\n\t•\tcontato e instancia devem ser copiados exatamente dos valores recebidos no input.\n\t•\tVocê NÃO pode alterar esses campos.\n\t•\tSe você não souber os valores, use exatamente {{ $json.contato }} e {{ $json.instancia }}."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -1024,
        1792
      ],
      "id": "919ebf93-20ca-4462-95a0-099265f19bad",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1152,
        1984
      ],
      "id": "157813d5-0aab-4fb9-8e42-1d7c78895d13",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "gddH24JwjrAV57aC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO lead_journey (\n  phone,\n  step,\n  message,\n  response,\n  is_audio,\n  media_type,\n  media_url,\n  timestamp,\n  source\n)\nVALUES (\n  {{ $json.phone_sql }},\n  'bot_reply_sent',\n  NULL,\n  {{ $json.response_sql }},\n  false,\n  'text',\n  NULL,\n  {{ $json.timestamp }},\n  'evolution'\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        224,
        1776
      ],
      "id": "0a728885-e07f-402d-a806-15a2ba943911",
      "name": "lead_journey2",
      "credentials": {
        "postgres": {
          "id": "GOPEUe1LAiJGNq6A",
          "name": "Postgres_n8n"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $json.instancia || 'educare-chat' }}",
        "remoteJid": "={{ $json.contato }}",
        "messageText": "={{ $json.reply_text }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -384,
        2000
      ],
      "id": "5d0c1a6b-15fc-48a8-bacb-30c6e8adf80c",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "4nQKa33RgOv6Iu5T",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const j = $json;\n\n/**\n * =========================\n * DADOS BASE (obrigatórios)\n * =========================\n */\nconst contato = (j.phone ?? '').toString().trim();\nconst instancia = (j.instancia ?? 'educare-chat').toString().trim();\n\n/**\n * =========================\n * FUNIL (normalizado)\n * =========================\n */\nconst funnel_stage = j.funnel_stage || 'descoberta';\nconst funnel_step  = j.funnel_step  || 'qualificar';\n\n/**\n * =========================\n * CONTEXTO DO LEAD\n * =========================\n */\nconst memory  = (j.long_memory_context ?? '').toString();\nconst name    = (j.name ?? '').toString().trim();\nconst userMsg = (j.lastmessage ?? '').toString().trim();\n\n/**\n * =========================\n * OBJETIVO DO AGENTE\n * =========================\n */\nconst agent_goal =\n  j.agent_goal ||\n  'Ajudar o lead a entender o Educare+ Tech e avançar uma etapa no funil.';\n\nconst agent_question =\n  j.agent_question ||\n  'Qual a idade da criança que você deseja acompanhar pelo app?';\n\n/**\n * =========================\n * PROMPT FINAL (seguro)\n * =========================\n */\nconst agent_prompt = `\nVocê é o atendente do WhatsApp do Educare+ Tech (tom acolhedor, direto e sem enrolar).\n\nOBJETIVO ATUAL:\n${agent_goal}\n\nETAPA DO FUNIL:\n${funnel_stage} / ${funnel_step}\n\nPERGUNTA OBRIGATÓRIA (faça somente esta pergunta):\n${agent_question}\n\nREGRAS:\n- Seja claro, humano e direto\n- Avance apenas 1 etapa do funil\n- Faça no máximo 1 pergunta\n\nMEMÓRIA LONGA:\n${memory || '(sem histórico relevante)'}\n\nMENSAGEM DO LEAD:\n${name ? `Nome: ${name}\\n` : ''}${userMsg}\n\nResponda somente com o texto final que será enviado no WhatsApp.\n`.trim();\n\n/**\n * =========================\n * OUTPUT\n * =========================\n */\nreturn [{\n  json: {\n    ...j,\n    contato,\n    instancia,\n    funnel_stage,\n    funnel_step,\n    agent_prompt,\n  }\n}];"
      },
      "id": "3d1e3026-de48-4e66-b718-17e84c949b91",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1264,
        1792
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -176,
        1808
      ],
      "id": "6f909e35-de5a-472e-9a39-e12c32db5d50",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "const j = $json;\nconst d = j.data ?? {};\n\n// 1) phone canônico\nconst remoteJid = String(d?.key?.remoteJid ?? '');\nconst phoneFromRemote = remoteJid.includes('@')\n  ? remoteJid.split('@')[0].replace(/\\D/g, '')\n  : '';\n\nconst phone = String(j.phone || j.contato || phoneFromRemote || '')\n  .replace(/\\D/g, '')\n  .trim();\n\n// 2) response canônico (texto que você enviou)\nconst response = String(\n  j.reply_text ||\n  j.response ||\n  d?.message?.conversation ||\n  ''\n).trim();\n\n// 3) timestamp canônico\nconst timestamp =\n  Number(d?.messageTimestamp) ||\n  Number(j.timestamp) ||\n  Math.floor(Date.now() / 1000);\n\n// 4) extras úteis\nconst source_message_id = String(d?.key?.id ?? '');\nconst status = String(d?.status ?? '');\nconst success = Boolean(j.success);\n\n// 5) SQL safe\nconst phone_sql = phone ? `'${phone}'` : 'NULL';\nconst response_sql = response ? `'${response.replace(/'/g, \"''\")}'` : 'NULL';\nconst source_message_id_sql = source_message_id ? `'${source_message_id.replace(/'/g, \"''\")}'` : 'NULL';\nconst status_sql = status ? `'${status.replace(/'/g, \"''\")}'` : 'NULL';\n\nreturn [{\n  json: {\n    ...j,\n    phone,\n    response,\n    timestamp,\n    source: 'evolution',\n    step: 'bot_reply_sent',\n\n    success,\n    status,\n    source_message_id,\n\n    phone_sql,\n    response_sql,\n    source_message_id_sql,\n    status_sql,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        1776
      ],
      "id": "2521b1e9-ffc5-4596-816f-46175f0270f4",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "jsCode": "const j = $json;\n\n// Entradas base (já existem no seu fluxo)\nconst phone = (j.phone ?? j.contato ?? '').toString().trim();\nconst name = (j.name ?? j.sender_name ?? '').toString().trim();\nconst userMsg = (j.lastmessage ?? '').toString().trim().toLowerCase();\n\n// Memória longa (texto) + tags (array)\nconst longMem = (j.long_memory_context ?? '').toString();\nconst tagsArr = Array.isArray(j.tags) ? j.tags : [];\n\n// Helpers\nconst hasAnyTag = (...t) => t.some(x => tagsArr.includes(x));\nconst isGreetingOnly = (txt) => {\n  const t = (txt || '').trim();\n  // cumprimentos comuns\n  return ['oi','olá','ola','bom dia','boa tarde','boa noite','eai','e aí','hey'].includes(t);\n};\n\n// Regras do funil (MVP: Discovery -> Interest -> Action)\n// Discovery: primeira qualificação (idade / objetivo principal)\n// Interest: detalhar benefício + remover dúvida + pedir preferência\n// Action: CTA (link / cadastro / teste) + 1 pergunta final objetiva\n\nlet funnel_stage = 'discovery';\nlet funnel_step = 'qualificar';\nlet agent_goal = 'Qualificar rapidamente o lead e entender necessidade principal.';\nlet agent_question = 'Qual a idade da criança e o que você quer acompanhar primeiro (vacinas, consultas ou desenvolvimento)?';\n\n// Se já temos tags de intenção/interesse, avançamos\nif (hasAnyTag('interesse', 'quero_conhecer', 'saude_infantil', 'educare_tech', 'app')) {\n  funnel_stage = 'interest';\n  funnel_step = 'explicar_valor';\n  agent_goal = 'Explicar valor em 1-2 frases e pedir uma preferência para guiar a demonstração.';\n  agent_question = 'Você quer começar por vacinas, consultas ou desenvolvimento?';\n}\n\n// Se detectar intenção de ação (heurística por texto)\nconst actionHints = ['baixar', 'link', 'assinar', 'preço', 'valor', 'plano', 'cadastro', 'cadastrar', 'instalar', 'download', 'quero'];\nif (actionHints.some(k => userMsg.includes(k))) {\n  funnel_stage = 'action';\n  funnel_step = 'cta';\n  agent_goal = 'Fechar o loop com CTA (link) e 1 pergunta curta para destravar a conversão.';\n  agent_question = 'Quer que eu te envie o link para baixar agora e te guie no primeiro acesso?';\n}\n\n// Caso seja só cumprimento, força Discovery (melhor prática)\nif (isGreetingOnly(userMsg)) {\n  funnel_stage = 'discovery';\n  funnel_step = 'qualificar';\n  agent_goal = 'Responder acolhendo + 1 frase do produto + 1 pergunta de qualificação.';\n  agent_question = 'Qual a idade da criança e o que você quer acompanhar primeiro (vacinas, consultas ou desenvolvimento)?';\n}\n\n// Saída do nó\nreturn [{\n  json: {\n    ...j,\n    phone,\n    name,\n    funnel_stage,\n    funnel_step,\n    agent_goal,\n    agent_question,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1264,
        1600
      ],
      "id": "ce4e8bf1-f2ff-47b1-b424-314d6d147017",
      "name": "FUNIL — Resolver etapa e objetivo"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"reply_text\": \"string\",\n  \"contato\": \"string\",\n  \"instancia\": \"string\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -656,
        2032
      ],
      "id": "9ff93a3f-0970-4939-98d3-08866dbd3003",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsCode": "const j = $json;\n\n// 1) Phone canônico (sempre dígitos)\nconst phone = String(j.phone || j.contato || '')\n  .replace(/\\D/g, '')\n  .trim();\n\n// 2) phone_sql (sempre com aspas, ou NULL)\nconst phone_sql = phone ? `'${phone}'` : 'NULL';\n\n// 3) Regra simples de avanço do funil após enviar a pergunta\n// (você está perguntando qualificação -> agora o próximo passo é aguardar a resposta)\nlet next_funnel_step = 'aguardar_resposta_qualificacao';\n\n// Se quiser diferenciar pela etapa atual (opcional, mas seguro):\nconst current = String(j.funnel_step || '').trim();\n\nif (current === 'explicar_valor') {\n  next_funnel_step = 'aguardar_resposta_preferencia';\n}\n\n// 4) next_funnel_step_sql\nconst next_funnel_step_sql = next_funnel_step ? `'${next_funnel_step}'` : 'NULL';\n\nreturn [{\n  json: {\n    ...j,\n    phone,\n    phone_sql,\n    next_funnel_step,\n    next_funnel_step_sql,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        1776
      ],
      "id": "dfa163c1-f611-434e-be73-9d74a4b699ad",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE lead_summary\nSET\n  funnel_step = {{ $json.next_funnel_step_sql }},\n  updated_at = NOW()\nWHERE phone = {{ $json.phone_sql }};",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        608,
        1776
      ],
      "id": "2dc9ffc1-fd74-4e58-a54a-93344975fb83",
      "name": "Execute a SQL query2",
      "credentials": {
        "postgres": {
          "id": "GOPEUe1LAiJGNq6A",
          "name": "Postgres_n8n"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        384,
        1552
      ],
      "id": "b961c349-5972-417a-a5df-2c766e3a6ab5",
      "name": "Merge2"
    },
    {
      "parameters": {
        "inputSource": "jsonExample"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1760,
        1440
      ],
      "id": "bb92e572-e5c8-4580-a8ca-e8c463479548",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  current_database() AS database,\n  current_user AS user,\n  inet_server_addr() AS server_ip;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -688,
        1024
      ],
      "id": "dbf0031a-10a0-4d84-a0db-903f2ac7b6c9",
      "name": "Execute a SQL query3",
      "credentials": {
        "postgres": {
          "id": "GOPEUe1LAiJGNq6A",
          "name": "Postgres_n8n"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -736,
        2240
      ],
      "id": "8d3412bb-a94d-4527-a455-82e2d7ae9b39",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "gddH24JwjrAV57aC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        -912,
        2000
      ],
      "id": "a7b7a3cf-0846-467d-a13d-bb5bbd6c4edd",
      "name": "Answer questions with a vector store1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        -1072,
        2176
      ],
      "id": "75e2ce36-fc18-4b42-bb5f-183d40a30212",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "QR6UfUfQc6ZJoZMA",
          "name": "Postgres RAG (pgvector)"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1136,
        2320
      ],
      "id": "bd1cc378-6bdb-4a49-9fbf-32108af8e578",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "gddH24JwjrAV57aC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -1040,
        2000
      ],
      "id": "5d6bac4e-00e2-49d4-b073-715d8654d380",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "GOPEUe1LAiJGNq6A",
          "name": "Postgres_n8n"
        }
      }
    }
  ],
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "lead_journey",
            "type": "main",
            "index": 0
          },
          {
            "node": "summary_text",
            "type": "main",
            "index": 0
          },
          {
            "node": "FUNIL — Resolver etapa e objetivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UPSERT lead_context": {
      "main": [
        [
          {
            "node": "Execute a SQL query3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "long_memory_context": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize": {
      "main": [
        [
          {
            "node": "UPSERT lead_context",
            "type": "main",
            "index": 0
          },
          {
            "node": "lead_summary",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "lead_summary": {
      "main": [
        [
          {
            "node": "long_memory_context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead_journey": {
      "main": [
        []
      ]
    },
    "summary_text": {
      "main": [
        [
          {
            "node": "lead_summary1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "lead_journey2": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "lead_journey2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FUNIL — Resolver etapa e objetivo": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Execute a SQL query2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store1",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "927e792b-1855-4452-80ac-61af8da1b42d",
  "activeVersionId": "927e792b-1855-4452-80ac-61af8da1b42d",
  "versionCounter": 259,
  "triggerCount": 0,
  "tags": [
    {
      "updatedAt": "2025-12-21T13:03:08.318Z",
      "createdAt": "2025-12-21T13:03:08.318Z",
      "id": "FCtg3of3kkHgvSJd",
      "name": "Educare+"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-07T22:59:34.964Z",
    "createdAt": "2026-02-07T22:59:34.964Z",
    "versionId": "927e792b-1855-4452-80ac-61af8da1b42d",
    "workflowId": "n6ZpQvp96iPCaIvG",
    "nodes": [
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "CREATE TABLE IF NOT EXISTS lead_context (\n  id SERIAL PRIMARY KEY,\n  phone VARCHAR(20) NOT NULL UNIQUE,\n  timestamp BIGINT NOT NULL,\n  last_message TEXT,\n  media_type TEXT,\n  media_url TEXT,\n  source TEXT,\n  source_id TEXT,\n  context JSONB DEFAULT '{}',\n  updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP\n);",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -1744,
          1024
        ],
        "id": "61714141-267f-47c5-a92f-b1f10c042287",
        "name": "Execute a SQL query",
        "credentials": {
          "postgres": {
            "id": "GOPEUe1LAiJGNq6A",
            "name": "Postgres_n8n"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "CREATE TABLE IF NOT EXISTS lead_journey (\n  id SERIAL PRIMARY KEY,\n  phone VARCHAR(20) NOT NULL,\n  step TEXT,\n  message TEXT,\n  response TEXT,\n  is_audio BOOLEAN DEFAULT FALSE,\n  media_type TEXT,\n  media_url TEXT,\n  timestamp BIGINT,\n  source TEXT,\n  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP\n);",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -1536,
          1024
        ],
        "id": "61393cb6-0e42-459a-bca4-d318ce4907d6",
        "name": "Execute a SQL query1",
        "credentials": {
          "postgres": {
            "id": "GOPEUe1LAiJGNq6A",
            "name": "Postgres_n8n"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "CREATE TABLE IF NOT EXISTS lead_summary (\n  id SERIAL PRIMARY KEY,\n  phone VARCHAR(20) NOT NULL UNIQUE,\n  summary TEXT,\n  tags TEXT[],\n  updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP\n);",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -1776,
          1184
        ],
        "id": "6fe777e0-d4eb-4ca6-a23b-240620a23e15",
        "name": "Lead_summary",
        "credentials": {
          "postgres": {
            "id": "GOPEUe1LAiJGNq6A",
            "name": "Postgres_n8n"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "ALTER TABLE lead_summary\nADD COLUMN IF NOT EXISTS funnel_step TEXT;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -1536,
          1184
        ],
        "id": "f8a8af1a-893f-4d65-bc4d-6025fcd87399",
        "name": "Lead_summary1",
        "credentials": {
          "postgres": {
            "id": "GOPEUe1LAiJGNq6A",
            "name": "Postgres_n8n"
          }
        }
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -992,
          1408
        ],
        "id": "e3391afe-bd9a-4dad-8929-8c2fc86d297a",
        "name": "Merge"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO lead_context (\n  phone, timestamp, last_message, media_type, media_url, source, source_id, context, updated_at\n)\nVALUES (\n  {{$json.phone ? (\"'\" + $json.phone + \"'\") : 'NULL'}},\n  {{$json.timestamp}},\n  {{$json.lastmessage_sql}}::text,\n  {{$json.media_type_sql}}::text,\n  {{$json.media_url_sql}}::text,\n  {{$json.source_sql}}::text,\n  {{$json.source_id_sql}}::text,\n  '{}'::jsonb,\n  NOW()\n)\nON CONFLICT (phone)\nDO UPDATE SET\n  timestamp = EXCLUDED.timestamp,\n  last_message = EXCLUDED.last_message,\n  media_type = EXCLUDED.media_type,\n  media_url = EXCLUDED.media_url,\n  source = EXCLUDED.source,\n  source_id = EXCLUDED.source_id,\n  updated_at = NOW();",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -896,
          1024
        ],
        "id": "3539d653-5600-4414-a222-734ccef8e69f",
        "name": "UPSERT lead_context",
        "credentials": {
          "postgres": {
            "id": "GOPEUe1LAiJGNq6A",
            "name": "Postgres_n8n"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const j = $json;\n\nconst summary = (j.summary && String(j.summary).trim())\n  ? String(j.summary).trim()\n  : '(sem resumo anterior)';\n\nconst tags = Array.isArray(j.tags) && j.tags.length\n  ? j.tags.join(', ')\n  : '(sem tags)';\n\nreturn [{\n  json: {\n    ...j,\n    long_memory_context: `Memória longa (lead_summary):\\nResumo: ${summary}\\nTags: ${tags}`,\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -464,
          1184
        ],
        "id": "94e85fdd-636c-4732-a880-4501e5da2c4a",
        "name": "long_memory_context"
      },
      {
        "parameters": {
          "jsCode": "const j = $json.thisFieldAcceptsAnyType ?? $json;\n\nconst trim = (v) => (v ?? '').toString().trim();\n\nconst sqlStr = (v) => {\n  if (v === null || v === undefined) return 'NULL';\n  const s = String(v).replace(/'/g, \"''\");\n  return `'${s}'`;\n};\n\n// media_url \"null\" -> null\nconst mediaUrl =\n  j.media_url === \"null\" || j.media_url === \"\" || j.media_url === undefined\n    ? null\n    : j.media_url;\n\n// response_text: parse se vier como JSON string\nlet responseClean = j.response_text;\ntry {\n  if (typeof responseClean === \"string\" && responseClean.startsWith('\"')) {\n    responseClean = JSON.parse(responseClean);\n  }\n} catch (e) {}\n\nreturn [{\n  json: {\n    ...j,\n    phone: trim(j.phone),\n    name: trim(j.name),\n    lastmessage: trim(j.lastmessage),\n    media_type: trim(j.media_type),\n    media_url: mediaUrl,\n    is_audio: Boolean(j.is_audio),\n    source: trim(j.source),\n    source_id: trim(j.source_id),\n    timestamp: Number(j.timestamp),\n    response_text_clean: responseClean,\n\n    // strings prontas pra SQL\n    name_sql: sqlStr(trim(j.name)),\n    lastmessage_sql: sqlStr(trim(j.lastmessage)),\n    media_type_sql: sqlStr(trim(j.media_type)),\n    source_sql: sqlStr(trim(j.source)),\n    source_id_sql: sqlStr(trim(j.source_id)),\n    media_url_sql: mediaUrl === null ? 'NULL' : sqlStr(mediaUrl),\n    response_sql: sqlStr(responseClean),\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1536,
          1440
        ],
        "id": "a2c7885b-29cd-4d19-8bca-48cae3876da6",
        "name": "Normalize"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT\n  {{$json.phone ? (\"'\" + $json.phone + \"'\") : 'NULL'}}::text AS phone,\n  ls.summary,\n  ls.tags\nFROM (SELECT 1) x\nLEFT JOIN lead_summary ls ON ls.phone = {{$json.phone ? (\"'\" + $json.phone + \"'\") : 'NULL'}}::text\nLIMIT 1;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -880,
          1184
        ],
        "id": "8db6f342-a40f-48b7-ac2f-a163f87b041b",
        "name": "lead_summary",
        "credentials": {
          "postgres": {
            "id": "GOPEUe1LAiJGNq6A",
            "name": "Postgres_n8n"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO lead_journey (\n  phone, step, message, response,\n  is_audio, media_type, media_url,\n  timestamp, source\n)\nVALUES (\n  {{ $json.phone ? (\"'\" + $json.phone + \"'\") : \"NULL\" }}::text,\n  'lead_not_registered',\n  {{ $json.lastmessage ? (\"'\" + $json.lastmessage.replace(/'/g,\"''\") + \"'\") : \"NULL\" }}::text,\n  NULL,\n  {{ $json.is_audio === true ? \"TRUE\" : \"FALSE\" }}::boolean,\n  {{ $json.media_type ? (\"'\" + $json.media_type.replace(/'/g,\"''\") + \"'\") : \"NULL\" }}::text,\n  {{ $json.media_url ? (\"'\" + String($json.media_url).replace(/'/g,\"''\") + \"'\") : \"NULL\" }}::text,\n  {{ ($json.timestamp !== undefined && $json.timestamp !== null) ? String($json.timestamp) : \"NULL\" }}::bigint,\n  {{ $json.source ? (\"'\" + $json.source.replace(/'/g,\"''\") + \"'\") : \"NULL\" }}::text\n);",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -528,
          1408
        ],
        "id": "5ef82410-cbdf-464b-8287-eb97f2f571e4",
        "name": "lead_journey",
        "credentials": {
          "postgres": {
            "id": "GOPEUe1LAiJGNq6A",
            "name": "Postgres_n8n"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const j = $json;\n\nconst name = (j.name ?? '').toString().trim();\nconst last = (j.lastmessage ?? '').toString().trim();\n\nconst summary = `Lead novo (não cadastrado). Nome: ${name || '(não informado)'}. Última msg: \"${last || '(vazia)'}\".`;\n\nconst escapeSql = (s) => String(s ?? '').replace(/'/g, \"''\");\n\nreturn [{\n  json: {\n    ...j,\n    summary_text: summary,\n    summary_text_escaped: escapeSql(summary),\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -544,
          1584
        ],
        "id": "c0615ad1-148a-485f-aaf1-e124fc112015",
        "name": "summary_text"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO lead_summary (phone, summary, tags, updated_at)\nVALUES (\n  {{$json.phone ? (\"'\" + $json.phone + \"'\") : 'NULL'}},\n  '{{$json.summary_text_escaped}}',\n  ARRAY['lead','novo','nao_cadastrado']::text[],\n  NOW()\n)\nON CONFLICT (phone)\nDO UPDATE SET\n  summary = EXCLUDED.summary,\n  tags = EXCLUDED.tags,\n  updated_at = NOW();",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -320,
          1584
        ],
        "id": "7631f2bc-ebeb-4f67-9353-0cfb8c3c5415",
        "name": "lead_summary1",
        "credentials": {
          "postgres": {
            "id": "GOPEUe1LAiJGNq6A",
            "name": "Postgres_n8n"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const j = $json;\n\n// 0) output pode vir como OBJETO (Structured Output) ou STRING\nlet obj = j.output;\n\nif (typeof obj === 'string') {\n  const raw = obj.trim();\n  try {\n    obj = JSON.parse(raw);\n  } catch (e) {\n    obj = { reply_text: raw };\n  }\n}\n\n// 1) Primeiro tenta pegar do INPUT (trava). Se vier vazio, faz fallback do output.\nconst instancia =\n  (j.instancia ?? j.instance ?? '').toString().trim()\n  || (obj?.instancia ?? 'educare-chat').toString().trim();\n\nconst contato =\n  String(j.contato ?? j.phone ?? j.numero ?? '').replace(/\\D/g, '').trim()\n  || String(obj?.contato ?? '').replace(/\\D/g, '').trim();\n\n// 2) reply_text final\nconst reply_text = String(obj?.reply_text ?? j.reply_text ?? '').trim();\nconst safeReply = reply_text || 'Oi! Como posso te ajudar com o Educare+ Tech hoje?';\n\n// 3) Campos p/ Postgres\nconst reply_text_escaped = safeReply.replace(/'/g, \"''\");\nconst phone = contato; // canônico\nconst ts = Number(j.timestamp ?? Math.floor(Date.now() / 1000));\n\nreturn [{\n  json: {\n    ...j,\n    instancia,\n    contato,\n    phone,\n    reply_text: safeReply,\n    reply_text_escaped,\n    timestamp: ts,\n    response: safeReply,\n    response_sql: `'${reply_text_escaped}'`,\n    source: j.source ?? 'evolution',\n    step: j.step ?? 'bot_reply_sent',\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -656,
          1792
        ],
        "id": "54a000cd-7b70-41e2-b05b-2629175a768e",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Nome do lead: {{ $json.name }}\nMensagem do lead: {{ $json.lastmessage }}\n\nResumo atual do lead:\n{{ $json.summary }}\n\nContexto de memória longa:\n{{ $json.long_memory_context }}",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "=Você é o Educare+ MyChat, assistente inteligente de pré-vendas e suporte inicial do Educare+ Tech.\n\nOBJETIVO PRINCIPAL\n- Ajudar o lead a entender rapidamente o Educare+ Tech\n- Avançar o lead exatamente 1 etapa no funil a cada resposta\n  (descoberta → interesse → ação)\n\nCONTEXTO DO PRODUTO (1 FRASE)\nEducare+ Tech é um app para acompanhar saúde infantil, vacinas, consultas e desenvolvimento da criança.\n\nESTADO DO FUNIL\nEtapa atual do lead: {{ $json.funnel_step }}\n\nREGRAS DO FUNIL\n- descoberta → apresentar valor e qualificar\n- interesse → aprofundar benefício e reduzir objeções\n- ação → convidar para cadastro, teste ou assinatura\n\nREGRAS DE COMUNICAÇÃO\n- Português do Brasil\n- Tom acolhedor, humano e objetivo\n- Respostas curtas (máx. 4 parágrafos)\n- Fazer no máximo 1 pergunta clara de continuidade\n- Nunca repetir mensagens anteriores\n- Nunca inventar informações\n\nREGRAS DE COMPORTAMENTO\n- Se a mensagem do lead for apenas um cumprimento (ex: \"bom dia\", \"oi\"):\n  1) acolha o lead\n  2) explique o Educare+ Tech em 1 frase\n  3) faça 1 pergunta de qualificação\n\nUSO DE CONTEXTO\n- Utilize memória longa, histórico e dados do lead quando disponíveis\n- Se não houver contexto suficiente, responda de forma segura e acolhedora\n\nINSTRUÇÃO TÉCNICA OBRIGATÓRIA\n- Sua resposta FINAL deve seguir EXATAMENTE o schema definido pelo Output Parser.\n- Não inclua texto fora da estrutura.\n- Não inclua explicações, comentários ou markdown.\n\nREGRA DE SEGURANÇA\n- A resposta nunca pode ser vazia.\n- Se faltar informação, gere uma resposta padrão de acolhimento com 1 pergunta simples de continuidade.\n\nIMPORTANTE (NÃO QUEBRE ESTA REGRA):\n\t•\tcontato e instancia devem ser copiados exatamente dos valores recebidos no input.\n\t•\tVocê NÃO pode alterar esses campos.\n\t•\tSe você não souber os valores, use exatamente {{ $json.contato }} e {{ $json.instancia }}."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3,
        "position": [
          -1024,
          1792
        ],
        "id": "919ebf93-20ca-4462-95a0-099265f19bad",
        "name": "AI Agent1"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4.1-mini"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          -1152,
          1984
        ],
        "id": "157813d5-0aab-4fb9-8e42-1d7c78895d13",
        "name": "OpenAI Chat Model1",
        "credentials": {
          "openAiApi": {
            "id": "gddH24JwjrAV57aC",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO lead_journey (\n  phone,\n  step,\n  message,\n  response,\n  is_audio,\n  media_type,\n  media_url,\n  timestamp,\n  source\n)\nVALUES (\n  {{ $json.phone_sql }},\n  'bot_reply_sent',\n  NULL,\n  {{ $json.response_sql }},\n  false,\n  'text',\n  NULL,\n  {{ $json.timestamp }},\n  'evolution'\n);",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          224,
          1776
        ],
        "id": "0a728885-e07f-402d-a806-15a2ba943911",
        "name": "lead_journey2",
        "credentials": {
          "postgres": {
            "id": "GOPEUe1LAiJGNq6A",
            "name": "Postgres_n8n"
          }
        }
      },
      {
        "parameters": {
          "resource": "messages-api",
          "instanceName": "={{ $json.instancia || 'educare-chat' }}",
          "remoteJid": "={{ $json.contato }}",
          "messageText": "={{ $json.reply_text }}",
          "options_message": {}
        },
        "type": "n8n-nodes-evolution-api.evolutionApi",
        "typeVersion": 1,
        "position": [
          -384,
          2000
        ],
        "id": "5d0c1a6b-15fc-48a8-bacb-30c6e8adf80c",
        "name": "Enviar texto",
        "credentials": {
          "evolutionApi": {
            "id": "4nQKa33RgOv6Iu5T",
            "name": "Evolution account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const j = $json;\n\n/**\n * =========================\n * DADOS BASE (obrigatórios)\n * =========================\n */\nconst contato = (j.phone ?? '').toString().trim();\nconst instancia = (j.instancia ?? 'educare-chat').toString().trim();\n\n/**\n * =========================\n * FUNIL (normalizado)\n * =========================\n */\nconst funnel_stage = j.funnel_stage || 'descoberta';\nconst funnel_step  = j.funnel_step  || 'qualificar';\n\n/**\n * =========================\n * CONTEXTO DO LEAD\n * =========================\n */\nconst memory  = (j.long_memory_context ?? '').toString();\nconst name    = (j.name ?? '').toString().trim();\nconst userMsg = (j.lastmessage ?? '').toString().trim();\n\n/**\n * =========================\n * OBJETIVO DO AGENTE\n * =========================\n */\nconst agent_goal =\n  j.agent_goal ||\n  'Ajudar o lead a entender o Educare+ Tech e avançar uma etapa no funil.';\n\nconst agent_question =\n  j.agent_question ||\n  'Qual a idade da criança que você deseja acompanhar pelo app?';\n\n/**\n * =========================\n * PROMPT FINAL (seguro)\n * =========================\n */\nconst agent_prompt = `\nVocê é o atendente do WhatsApp do Educare+ Tech (tom acolhedor, direto e sem enrolar).\n\nOBJETIVO ATUAL:\n${agent_goal}\n\nETAPA DO FUNIL:\n${funnel_stage} / ${funnel_step}\n\nPERGUNTA OBRIGATÓRIA (faça somente esta pergunta):\n${agent_question}\n\nREGRAS:\n- Seja claro, humano e direto\n- Avance apenas 1 etapa do funil\n- Faça no máximo 1 pergunta\n\nMEMÓRIA LONGA:\n${memory || '(sem histórico relevante)'}\n\nMENSAGEM DO LEAD:\n${name ? `Nome: ${name}\\n` : ''}${userMsg}\n\nResponda somente com o texto final que será enviado no WhatsApp.\n`.trim();\n\n/**\n * =========================\n * OUTPUT\n * =========================\n */\nreturn [{\n  json: {\n    ...j,\n    contato,\n    instancia,\n    funnel_stage,\n    funnel_step,\n    agent_prompt,\n  }\n}];"
        },
        "id": "3d1e3026-de48-4e66-b718-17e84c949b91",
        "name": "Code",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1264,
          1792
        ]
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -176,
          1808
        ],
        "id": "6f909e35-de5a-472e-9a39-e12c32db5d50",
        "name": "Merge1"
      },
      {
        "parameters": {
          "jsCode": "const j = $json;\nconst d = j.data ?? {};\n\n// 1) phone canônico\nconst remoteJid = String(d?.key?.remoteJid ?? '');\nconst phoneFromRemote = remoteJid.includes('@')\n  ? remoteJid.split('@')[0].replace(/\\D/g, '')\n  : '';\n\nconst phone = String(j.phone || j.contato || phoneFromRemote || '')\n  .replace(/\\D/g, '')\n  .trim();\n\n// 2) response canônico (texto que você enviou)\nconst response = String(\n  j.reply_text ||\n  j.response ||\n  d?.message?.conversation ||\n  ''\n).trim();\n\n// 3) timestamp canônico\nconst timestamp =\n  Number(d?.messageTimestamp) ||\n  Number(j.timestamp) ||\n  Math.floor(Date.now() / 1000);\n\n// 4) extras úteis\nconst source_message_id = String(d?.key?.id ?? '');\nconst status = String(d?.status ?? '');\nconst success = Boolean(j.success);\n\n// 5) SQL safe\nconst phone_sql = phone ? `'${phone}'` : 'NULL';\nconst response_sql = response ? `'${response.replace(/'/g, \"''\")}'` : 'NULL';\nconst source_message_id_sql = source_message_id ? `'${source_message_id.replace(/'/g, \"''\")}'` : 'NULL';\nconst status_sql = status ? `'${status.replace(/'/g, \"''\")}'` : 'NULL';\n\nreturn [{\n  json: {\n    ...j,\n    phone,\n    response,\n    timestamp,\n    source: 'evolution',\n    step: 'bot_reply_sent',\n\n    success,\n    status,\n    source_message_id,\n\n    phone_sql,\n    response_sql,\n    source_message_id_sql,\n    status_sql,\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          16,
          1776
        ],
        "id": "2521b1e9-ffc5-4596-816f-46175f0270f4",
        "name": "Code in JavaScript2"
      },
      {
        "parameters": {
          "jsCode": "const j = $json;\n\n// Entradas base (já existem no seu fluxo)\nconst phone = (j.phone ?? j.contato ?? '').toString().trim();\nconst name = (j.name ?? j.sender_name ?? '').toString().trim();\nconst userMsg = (j.lastmessage ?? '').toString().trim().toLowerCase();\n\n// Memória longa (texto) + tags (array)\nconst longMem = (j.long_memory_context ?? '').toString();\nconst tagsArr = Array.isArray(j.tags) ? j.tags : [];\n\n// Helpers\nconst hasAnyTag = (...t) => t.some(x => tagsArr.includes(x));\nconst isGreetingOnly = (txt) => {\n  const t = (txt || '').trim();\n  // cumprimentos comuns\n  return ['oi','olá','ola','bom dia','boa tarde','boa noite','eai','e aí','hey'].includes(t);\n};\n\n// Regras do funil (MVP: Discovery -> Interest -> Action)\n// Discovery: primeira qualificação (idade / objetivo principal)\n// Interest: detalhar benefício + remover dúvida + pedir preferência\n// Action: CTA (link / cadastro / teste) + 1 pergunta final objetiva\n\nlet funnel_stage = 'discovery';\nlet funnel_step = 'qualificar';\nlet agent_goal = 'Qualificar rapidamente o lead e entender necessidade principal.';\nlet agent_question = 'Qual a idade da criança e o que você quer acompanhar primeiro (vacinas, consultas ou desenvolvimento)?';\n\n// Se já temos tags de intenção/interesse, avançamos\nif (hasAnyTag('interesse', 'quero_conhecer', 'saude_infantil', 'educare_tech', 'app')) {\n  funnel_stage = 'interest';\n  funnel_step = 'explicar_valor';\n  agent_goal = 'Explicar valor em 1-2 frases e pedir uma preferência para guiar a demonstração.';\n  agent_question = 'Você quer começar por vacinas, consultas ou desenvolvimento?';\n}\n\n// Se detectar intenção de ação (heurística por texto)\nconst actionHints = ['baixar', 'link', 'assinar', 'preço', 'valor', 'plano', 'cadastro', 'cadastrar', 'instalar', 'download', 'quero'];\nif (actionHints.some(k => userMsg.includes(k))) {\n  funnel_stage = 'action';\n  funnel_step = 'cta';\n  agent_goal = 'Fechar o loop com CTA (link) e 1 pergunta curta para destravar a conversão.';\n  agent_question = 'Quer que eu te envie o link para baixar agora e te guie no primeiro acesso?';\n}\n\n// Caso seja só cumprimento, força Discovery (melhor prática)\nif (isGreetingOnly(userMsg)) {\n  funnel_stage = 'discovery';\n  funnel_step = 'qualificar';\n  agent_goal = 'Responder acolhendo + 1 frase do produto + 1 pergunta de qualificação.';\n  agent_question = 'Qual a idade da criança e o que você quer acompanhar primeiro (vacinas, consultas ou desenvolvimento)?';\n}\n\n// Saída do nó\nreturn [{\n  json: {\n    ...j,\n    phone,\n    name,\n    funnel_stage,\n    funnel_step,\n    agent_goal,\n    agent_question,\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1264,
          1600
        ],
        "id": "ce4e8bf1-f2ff-47b1-b424-314d6d147017",
        "name": "FUNIL — Resolver etapa e objetivo"
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\n  \"reply_text\": \"string\",\n  \"contato\": \"string\",\n  \"instancia\": \"string\"\n}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          -656,
          2032
        ],
        "id": "9ff93a3f-0970-4939-98d3-08866dbd3003",
        "name": "Structured Output Parser"
      },
      {
        "parameters": {
          "jsCode": "const j = $json;\n\n// 1) Phone canônico (sempre dígitos)\nconst phone = String(j.phone || j.contato || '')\n  .replace(/\\D/g, '')\n  .trim();\n\n// 2) phone_sql (sempre com aspas, ou NULL)\nconst phone_sql = phone ? `'${phone}'` : 'NULL';\n\n// 3) Regra simples de avanço do funil após enviar a pergunta\n// (você está perguntando qualificação -> agora o próximo passo é aguardar a resposta)\nlet next_funnel_step = 'aguardar_resposta_qualificacao';\n\n// Se quiser diferenciar pela etapa atual (opcional, mas seguro):\nconst current = String(j.funnel_step || '').trim();\n\nif (current === 'explicar_valor') {\n  next_funnel_step = 'aguardar_resposta_preferencia';\n}\n\n// 4) next_funnel_step_sql\nconst next_funnel_step_sql = next_funnel_step ? `'${next_funnel_step}'` : 'NULL';\n\nreturn [{\n  json: {\n    ...j,\n    phone,\n    phone_sql,\n    next_funnel_step,\n    next_funnel_step_sql,\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          416,
          1776
        ],
        "id": "dfa163c1-f611-434e-be73-9d74a4b699ad",
        "name": "Code in JavaScript1"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE lead_summary\nSET\n  funnel_step = {{ $json.next_funnel_step_sql }},\n  updated_at = NOW()\nWHERE phone = {{ $json.phone_sql }};",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          608,
          1776
        ],
        "id": "2dc9ffc1-fd74-4e58-a54a-93344975fb83",
        "name": "Execute a SQL query2",
        "credentials": {
          "postgres": {
            "id": "GOPEUe1LAiJGNq6A",
            "name": "Postgres_n8n"
          }
        }
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          384,
          1552
        ],
        "id": "b961c349-5972-417a-a5df-2c766e3a6ab5",
        "name": "Merge2"
      },
      {
        "parameters": {
          "inputSource": "jsonExample"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -1760,
          1440
        ],
        "id": "bb92e572-e5c8-4580-a8ca-e8c463479548",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT\n  current_database() AS database,\n  current_user AS user,\n  inet_server_addr() AS server_ip;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -688,
          1024
        ],
        "id": "dbf0031a-10a0-4d84-a0db-903f2ac7b6c9",
        "name": "Execute a SQL query3",
        "credentials": {
          "postgres": {
            "id": "GOPEUe1LAiJGNq6A",
            "name": "Postgres_n8n"
          }
        }
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4.1-mini"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          -736,
          2240
        ],
        "id": "8d3412bb-a94d-4527-a455-82e2d7ae9b39",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "gddH24JwjrAV57aC",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {},
        "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
        "typeVersion": 1.1,
        "position": [
          -912,
          2000
        ],
        "id": "a7b7a3cf-0846-467d-a13d-bb5bbd6c4edd",
        "name": "Answer questions with a vector store1"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
        "typeVersion": 1.3,
        "position": [
          -1072,
          2176
        ],
        "id": "75e2ce36-fc18-4b42-bb5f-183d40a30212",
        "name": "Postgres PGVector Store",
        "credentials": {
          "postgres": {
            "id": "QR6UfUfQc6ZJoZMA",
            "name": "Postgres RAG (pgvector)"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
        "typeVersion": 1.2,
        "position": [
          -1136,
          2320
        ],
        "id": "bd1cc378-6bdb-4a49-9fbf-32108af8e578",
        "name": "Embeddings OpenAI",
        "credentials": {
          "openAiApi": {
            "id": "gddH24JwjrAV57aC",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {},
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1.3,
        "position": [
          -1040,
          2000
        ],
        "id": "5d6bac4e-00e2-49d4-b073-715d8654d380",
        "name": "Postgres Chat Memory",
        "credentials": {
          "postgres": {
            "id": "GOPEUe1LAiJGNq6A",
            "name": "Postgres_n8n"
          }
        }
      }
    ],
    "connections": {
      "Merge": {
        "main": [
          [
            {
              "node": "lead_journey",
              "type": "main",
              "index": 0
            },
            {
              "node": "summary_text",
              "type": "main",
              "index": 0
            },
            {
              "node": "FUNIL — Resolver etapa e objetivo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "UPSERT lead_context": {
        "main": [
          [
            {
              "node": "Execute a SQL query3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "long_memory_context": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize": {
        "main": [
          [
            {
              "node": "UPSERT lead_context",
              "type": "main",
              "index": 0
            },
            {
              "node": "lead_summary",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "lead_summary": {
        "main": [
          [
            {
              "node": "long_memory_context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "lead_journey": {
        "main": [
          []
        ]
      },
      "summary_text": {
        "main": [
          [
            {
              "node": "lead_summary1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 0
            },
            {
              "node": "Enviar texto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent1": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent1",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "lead_journey2": {
        "main": [
          [
            {
              "node": "Merge2",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Code": {
        "main": [
          [
            {
              "node": "AI Agent1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar texto": {
        "main": [
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge1": {
        "main": [
          [
            {
              "node": "Code in JavaScript2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript2": {
        "main": [
          [
            {
              "node": "lead_journey2",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "FUNIL — Resolver etapa e objetivo": {
        "main": [
          [
            {
              "node": "Code",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser": {
        "ai_outputParser": [
          [
            {
              "node": "AI Agent1",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript1": {
        "main": [
          [
            {
              "node": "Execute a SQL query2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge2": {
        "main": [
          [
            {
              "node": "Code in JavaScript1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Normalize",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Answer questions with a vector store1",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Answer questions with a vector store1": {
        "ai_tool": [
          [
            {
              "node": "AI Agent1",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Postgres PGVector Store": {
        "ai_vectorStore": [
          [
            {
              "node": "Answer questions with a vector store1",
              "type": "ai_vectorStore",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings OpenAI": {
        "ai_embedding": [
          [
            {
              "node": "Postgres PGVector Store",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Postgres Chat Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent1",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Derik Silva",
    "name": null,
    "description": null,
    "autosaved": false
  }
}