educare-backend/docs/n8n-workflow-template.json
{
  "name": "Educare+ WhatsApp Integration",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-educare",
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Evolution Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "whatsapp-educare"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Extrai dados da mensagem WhatsApp (Evolution API format)\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n  \n  // Evolution API v2 format\n  let phone = '';\n  let message = '';\n  let senderName = '';\n  \n  if (data.data) {\n    // Format: data.key.remoteJid contains phone@s.whatsapp.net\n    phone = data.data.key?.remoteJid?.replace('@s.whatsapp.net', '') || '';\n    message = data.data.message?.conversation || \n              data.data.message?.extendedTextMessage?.text || '';\n    senderName = data.data.pushName || 'Usuário WhatsApp';\n  } else if (data.body) {\n    // Alternative format\n    phone = data.body.key?.remoteJid?.replace('@s.whatsapp.net', '') || '';\n    message = data.body.message?.conversation || '';\n    senderName = data.body.pushName || 'Usuário WhatsApp';\n  }\n  \n  // Remove non-numeric characters from phone\n  phone = phone.replace(/\\D/g, '');\n  \n  if (phone && message) {\n    results.push({\n      json: {\n        phone,\n        message,\n        senderName,\n        timestamp: new Date().toISOString()\n      }\n    });\n  }\n}\n\nreturn results.length > 0 ? results : [{ json: { error: 'No valid message data' } }];"
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "Extract WhatsApp Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-has-phone",
              "leftValue": "={{ $json.phone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "Valid Message?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $vars.EDUCARE_API_URL }}/api/external/users/search",
        "authentication": "none",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "api_key",
              "value": "={{ $vars.EDUCARE_API_KEY }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "Search User by Phone",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "condition-user-found",
              "leftValue": "={{ $json.body?.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0005-4000-8000-000000000005",
      "name": "User Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.EDUCARE_API_URL }}/api/external/users",
        "authentication": "none",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "={{ $vars.EDUCARE_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $('Extract WhatsApp Data').item.json.senderName }}\",\n  \"email\": \"{{ $('Extract WhatsApp Data').item.json.phone }}@whatsapp.educare.local\",\n  \"phone\": \"{{ $('Extract WhatsApp Data').item.json.phone }}\",\n  \"password\": \"WhatsApp2025!\",\n  \"role\": \"user\",\n  \"subscription_status\": \"trial\"\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "a1b2c3d4-0006-4000-8000-000000000006",
      "name": "Create New User",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 380]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Prepara dados do usuário para próximo passo\nconst items = $input.all();\nconst originalData = $('Extract WhatsApp Data').first().json;\n\nreturn items.map(item => {\n  const userData = item.json.body?.data?.user || item.json.body?.data || {};\n  return {\n    json: {\n      ...originalData,\n      userId: userData.id,\n      userFound: true\n    }\n  };\n});"
      },
      "id": "a1b2c3d4-0007-4000-8000-000000000007",
      "name": "Merge User Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $vars.EDUCARE_API_URL }}/api/external/users/by-phone/{{ $json.phone }}/active-child",
        "authentication": "none",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "={{ $vars.EDUCARE_API_KEY }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "a1b2c3d4-0008-4000-8000-000000000008",
      "name": "Get Active Child",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "condition-child-found",
              "leftValue": "={{ $json.body?.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0009-4000-8000-000000000009",
      "name": "Child Selected?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.EDUCARE_API_URL }}/api/rag/external/ask",
        "authentication": "none",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "={{ $vars.EDUCARE_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"question\": \"{{ $('Extract WhatsApp Data').item.json.message }}\",\n  \"context\": {\n    \"user_phone\": \"{{ $('Extract WhatsApp Data').item.json.phone }}\",\n    \"child_id\": \"{{ $json.body.data.id }}\",\n    \"child_name\": \"{{ $json.body.data.name }}\",\n    \"child_age_months\": {{ $json.body.data.age_months || 12 }},\n    \"module_type\": \"baby\",\n    \"source\": \"whatsapp\"\n  }\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          },
          "timeout": 60000
        }
      },
      "id": "a1b2c3d4-0010-4000-8000-000000000010",
      "name": "Ask TitiNauta AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2220, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.EVOLUTION_API_URL }}/message/sendText/{{ $vars.EVOLUTION_INSTANCE_NAME }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.EVOLUTION_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('Extract WhatsApp Data').item.json.phone }}@s.whatsapp.net\",\n  \"text\": \"{{ $json.body?.answer || $json.body?.data?.answer || 'Desculpe, não consegui processar sua pergunta. Tente novamente.' }}\"\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0011-4000-8000-000000000011",
      "name": "Send AI Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2440, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.EVOLUTION_API_URL }}/message/sendText/{{ $vars.EVOLUTION_INSTANCE_NAME }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.EVOLUTION_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('Extract WhatsApp Data').item.json.phone }}@s.whatsapp.net\",\n  \"text\": \"Olá! 👋 Para eu poder te ajudar melhor, preciso que você selecione uma criança no aplicativo Educare+.\\n\\nAcesse: app.educare.com.br\\n\\nApós selecionar a criança, volte aqui e faça sua pergunta!\"\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0012-4000-8000-000000000012",
      "name": "Send Select Child Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2220, 420]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.EVOLUTION_API_URL }}/message/sendText/{{ $vars.EVOLUTION_INSTANCE_NAME }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.EVOLUTION_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('Extract WhatsApp Data').item.json.phone }}@s.whatsapp.net\",\n  \"text\": \"Bem-vindo ao Educare+! 🎉\\n\\nSua conta foi criada automaticamente.\\n\\nPara começar a usar o TitiNauta, acesse app.educare.com.br e cadastre uma criança.\\n\\nDepois volte aqui para fazer suas perguntas!\"\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0013-4000-8000-000000000013",
      "name": "Send Welcome Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 480]
    },
    {
      "parameters": {},
      "id": "a1b2c3d4-0014-4000-8000-000000000014",
      "name": "NoOp - Invalid Message",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [900, 420]
    }
  ],
  "connections": {
    "Evolution Webhook": {
      "main": [
        [
          {
            "node": "Extract WhatsApp Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract WhatsApp Data": {
      "main": [
        [
          {
            "node": "Valid Message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid Message?": {
      "main": [
        [
          {
            "node": "Search User by Phone",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoOp - Invalid Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search User by Phone": {
      "main": [
        [
          {
            "node": "User Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Exists?": {
      "main": [
        [
          {
            "node": "Merge User Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create New User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New User": {
      "main": [
        [
          {
            "node": "Send Welcome Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge User Data": {
      "main": [
        [
          {
            "node": "Get Active Child",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Child": {
      "main": [
        [
          {
            "node": "Child Selected?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Child Selected?": {
      "main": [
        [
          {
            "node": "Ask TitiNauta AI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Select Child Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask TitiNauta AI": {
      "main": [
        [
          {
            "node": "Send AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "",
    "timezone": "America/Sao_Paulo",
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all"
  },
  "staticData": null,
  "tags": [
    {
      "name": "WhatsApp",
      "createdAt": "2025-12-10T00:00:00.000Z",
      "updatedAt": "2025-12-10T00:00:00.000Z"
    },
    {
      "name": "Educare",
      "createdAt": "2025-12-10T00:00:00.000Z",
      "updatedAt": "2025-12-10T00:00:00.000Z"
    },
    {
      "name": "TitiNauta",
      "createdAt": "2025-12-10T00:00:00.000Z",
      "updatedAt": "2025-12-10T00:00:00.000Z"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-12-10T00:00:00.000Z",
  "versionId": "1.0.0"
}
