educare-backend/docs/n8n-workflow-template.json
{
  "name": "Educare+ WhatsApp Journey Bot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-entry",
      "name": "Webhook Entry",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "whatsapp-webhook-educare"
    },
    {
      "parameters": {
        "functionCode": "// Extract phone number from WhatsApp format\nconst from = $input.item.json.From || $input.item.json.from;\nconst body = $input.item.json.Body || $input.item.json.body || '';\nconst profileName = $input.item.json.ProfileName || $input.item.json.profile_name || 'Usuário';\n\n// Clean phone number\nlet phone = from.replace('whatsapp:', '').replace(/\\D/g, '');\n\n// Ensure Brazilian format\nif (phone.length === 11 && !phone.startsWith('55')) {\n  phone = '55' + phone;\n}\nif (!phone.startsWith('+')) {\n  phone = '+' + phone;\n}\n\nreturn {\n  phone: phone,\n  message: body.trim(),\n  userName: profileName,\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "extract-phone",
      "name": "Extract Phone",
      "type": "n8n-nodes-base.functionItem",
      "typeVersion": 1,
      "position": [440, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.EDUCARE_API_URL}}/users/search",
        "queryParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{$node['Extract Phone'].json.phone}}"
            },
            {
              "name": "api_key",
              "value": "={{$env.EXTERNAL_API_KEY}}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "search-user",
      "name": "Search User",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [640, 300]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "conditions": {
                "options": {
                  "combineOperation": "all"
                },
                "conditions": [
                  {
                    "leftValue": "={{$node['Search User'].json.success}}",
                    "operation": "equals",
                    "rightValue": true
                  },
                  {
                    "leftValue": "={{$node['Search User'].json.data.user}}",
                    "operation": "isNotEmpty"
                  }
                ]
              },
              "output": 0
            },
            {
              "conditions": {
                "options": {
                  "combineOperation": "any"
                },
                "conditions": [
                  {
                    "leftValue": "={{$node['Search User'].json.success}}",
                    "operation": "equals",
                    "rightValue": false
                  },
                  {
                    "leftValue": "={{$node['Search User'].json.data.user}}",
                    "operation": "isEmpty"
                  }
                ]
              },
              "output": 1
            }
          ]
        }
      },
      "id": "check-user",
      "name": "Check User",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [840, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.EDUCARE_API_URL}}/users/by-phone/{{$node['Extract Phone'].json.phone}}/active-child",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{$env.EXTERNAL_API_KEY}}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "get-active-child",
      "name": "Get Active Child",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1040, 200]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "conditions": {
                "options": {
                  "combineOperation": "all"
                },
                "conditions": [
                  {
                    "leftValue": "={{$node['Get Active Child'].json.success}}",
                    "operation": "equals",
                    "rightValue": true
                  },
                  {
                    "leftValue": "={{$node['Get Active Child'].json.data.active_child}}",
                    "operation": "isNotEmpty"
                  }
                ]
              },
              "output": 0
            }
          ]
        }
      },
      "id": "check-child",
      "name": "Check Child",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [1240, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.EDUCARE_API_URL}}/children/{{$node['Get Active Child'].json.data.active_child.id}}/unanswered-questions",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "={{$env.EXTERNAL_API_KEY}}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "get-questions",
      "name": "Get Unanswered Questions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1440, 100]
    },
    {
      "parameters": {
        "functionCode": "const message = $node['Extract Phone'].json.message.toLowerCase().trim();\n\n// Check for answer patterns\nconst answerMap = {\n  '1': 0, 'um': 0, 'nao': 0, 'não': 0, 'nunca': 0, 'raramente': 0,\n  '2': 1, 'dois': 1, 'as vezes': 1, 'às vezes': 1, 'parcialmente': 1,\n  '3': 2, 'tres': 2, 'três': 2, 'sim': 2, 'sempre': 2, 'frequentemente': 2\n};\n\nconst greetings = ['oi', 'ola', 'olá', 'bom dia', 'boa tarde', 'boa noite', 'começar', 'iniciar', 'start'];\n\nlet type = 'unknown';\nlet answerValue = null;\n\nif (answerMap.hasOwnProperty(message)) {\n  type = 'answer';\n  answerValue = answerMap[message];\n} else if (greetings.some(g => message.includes(g))) {\n  type = 'greeting';\n} else {\n  type = 'help';\n}\n\nreturn {\n  type: type,\n  answerValue: answerValue,\n  originalMessage: message\n};"
      },
      "id": "parse-message",
      "name": "Parse Message",
      "type": "n8n-nodes-base.functionItem",
      "typeVersion": 1,
      "position": [1440, 200]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "conditions": {
                "options": {
                  "combineOperation": "all"
                },
                "conditions": [
                  {
                    "leftValue": "={{$node['Parse Message'].json.type}}",
                    "operation": "equals",
                    "rightValue": "answer"
                  }
                ]
              },
              "output": 0
            },
            {
              "conditions": {
                "options": {
                  "combineOperation": "all"
                },
                "conditions": [
                  {
                    "leftValue": "={{$node['Parse Message'].json.type}}",
                    "operation": "equals",
                    "rightValue": "greeting"
                  }
                ]
              },
              "output": 1
            },
            {
              "conditions": {
                "options": {
                  "combineOperation": "all"
                },
                "conditions": [
                  {
                    "leftValue": "={{$node['Parse Message'].json.type}}",
                    "operation": "equals",
                    "rightValue": "help"
                  }
                ]
              },
              "output": 2
            }
          ]
        }
      },
      "id": "route-message",
      "name": "Route Message",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [1640, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.EDUCARE_API_URL}}/children/{{$node['Get Active Child'].json.data.active_child.id}}/save-answer",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-Key",
              "value": "={{$env.EXTERNAL_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "question_id",
              "value": "={{$node['Get Unanswered Questions'].json.data.questions[0].id}}"
            },
            {
              "name": "answer",
              "value": "={{$node['Parse Message'].json.answerValue}}"
            },
            {
              "name": "answer_text",
              "value": "={{$node['Extract Phone'].json.message}}"
            },
            {
              "name": "metadata",
              "value": "={\"source\": \"whatsapp\", \"timestamp\": \"{{$now.toISO()}}\"}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "save-answer",
      "name": "Save Answer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1840, 100]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.EDUCARE_API_URL}}/children/{{$node['Get Active Child'].json.data.active_child.id}}/progress",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "={{$env.EXTERNAL_API_KEY}}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-progress",
      "name": "Get Progress",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2040, 100]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "message",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "content": "Você é a TitiNauta, assistente virtual amigável do Educare+.\nSeu papel é ajudar pais a acompanhar o desenvolvimento de seus filhos.\nSeja acolhedora, use emojis moderadamente e linguagem simples.\nResponda sempre em português brasileiro.\nMantenha respostas curtas (máximo 3 parágrafos para WhatsApp)."
            },
            {
              "content": "=Contexto:\n- Nome da criança: {{$node['Get Active Child'].json.data.active_child.name}}\n- Idade: {{$node['Get Active Child'].json.data.active_child.age_months}} meses\n- Pergunta respondida: {{$node['Get Unanswered Questions'].json.data.questions[0].domain_question}}\n- Resposta do usuário: {{$node['Extract Phone'].json.message}}\n- Valor da resposta: {{$node['Parse Message'].json.answerValue}} (0=Não, 1=Às vezes, 2=Sim)\n- Feedback para esta resposta: {{$node['Get Unanswered Questions'].json.data.questions[0]['domain_feedback_' + ($node['Parse Message'].json.answerValue + 1)]}}\n- Progresso atual: {{$node['Get Progress'].json.data.progress.progress_percentage}}%\n- Perguntas restantes: {{$node['Get Progress'].json.data.progress.unanswered_questions}}\n\nGere uma mensagem de WhatsApp que:\n1. Agradeça a resposta brevemente\n2. Forneça o feedback apropriado\n3. Se houver perguntas restantes, pergunte se deseja continuar\n4. Se não houver mais perguntas, parabenize pela conclusão\n5. Use tom amigável e acolhedor"
            }
          ]
        },
        "options": {
          "maxTokens": 500,
          "temperature": 0.7
        }
      },
      "id": "format-openai",
      "name": "Format with OpenAI",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [2240, 100],
      "credentials": {
        "openAiApi": {
          "id": "openai-credential-id",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const childName = $node['Get Active Child'].json.data.active_child.name;\nconst questions = $node['Get Unanswered Questions'].json.data.questions || [];\nconst firstQuestion = questions[0];\n\nlet message = `Olá! 👋\\n\\nEu sou a TitiNauta, sua assistente para acompanhar o desenvolvimento de ${childName}!\\n\\n`;\n\nif (firstQuestion) {\n  message += `Vamos começar? Responda com:\\n1️⃣ - Não/Raramente\\n2️⃣ - Às vezes\\n3️⃣ - Sim/Frequentemente\\n\\n`;\n  message += `📝 ${firstQuestion.domain_question}`;\n} else {\n  message += `Parabéns! 🎉 Você já respondeu todas as perguntas desta semana!\\n\\nVolte em breve para continuar acompanhando o desenvolvimento.`;\n}\n\nreturn {\n  message: message\n};"
      },
      "id": "format-greeting",
      "name": "Format Greeting",
      "type": "n8n-nodes-base.functionItem",
      "typeVersion": 1,
      "position": [1840, 200]
    },
    {
      "parameters": {
        "functionCode": "return {\n  message: `Olá! 👋\\n\\nPrecisa de ajuda? Aqui estão suas opções:\\n\\n📝 Responda 1, 2 ou 3 para as perguntas\\n🏠 Digite \"oi\" para ver a próxima pergunta\\n❓ Digite \"progresso\" para ver seu avanço\\n\\nEstou aqui para ajudar! 💜`\n};"
      },
      "id": "format-help",
      "name": "Format Help",
      "type": "n8n-nodes-base.functionItem",
      "typeVersion": 1,
      "position": [1840, 300]
    },
    {
      "parameters": {
        "functionCode": "return {\n  message: `Olá! 👋\\n\\nNão encontrei seu cadastro no Educare+.\\n\\nPara começar sua jornada de acompanhamento do desenvolvimento infantil, acesse:\\n🔗 https://educareapp.com/register\\n\\nUse este mesmo número de telefone! 📱`\n};"
      },
      "id": "format-not-found",
      "name": "Format Not Found",
      "type": "n8n-nodes-base.functionItem",
      "typeVersion": 1,
      "position": [1040, 400]
    },
    {
      "parameters": {
        "functionCode": "// Merge all message sources\nlet message = '';\n\nif ($node['Format with OpenAI']?.json?.text) {\n  message = $node['Format with OpenAI'].json.text;\n} else if ($node['Format Greeting']?.json?.message) {\n  message = $node['Format Greeting'].json.message;\n} else if ($node['Format Help']?.json?.message) {\n  message = $node['Format Help'].json.message;\n} else if ($node['Format Not Found']?.json?.message) {\n  message = $node['Format Not Found'].json.message;\n} else {\n  message = 'Desculpe, tive um probleminha. Tente novamente em alguns minutos! 🔧';\n}\n\nreturn {\n  to: $node['Extract Phone'].json.phone,\n  message: message\n};"
      },
      "id": "merge-response",
      "name": "Merge Response",
      "type": "n8n-nodes-base.functionItem",
      "typeVersion": 1,
      "position": [2440, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "from": "={{$env.TWILIO_WHATSAPP_NUMBER}}",
        "to": "=whatsapp:{{$node['Merge Response'].json.to}}",
        "body": "={{$node['Merge Response'].json.message}}"
      },
      "id": "send-whatsapp",
      "name": "Send WhatsApp",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [2640, 300],
      "credentials": {
        "twilioApi": {
          "id": "twilio-credential-id",
          "name": "Twilio API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=OK"
      },
      "id": "respond-webhook",
      "name": "Respond Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2840, 300]
    }
  ],
  "connections": {
    "Webhook Entry": {
      "main": [
        [
          {
            "node": "Extract Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Phone": {
      "main": [
        [
          {
            "node": "Search User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search User": {
      "main": [
        [
          {
            "node": "Check User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check User": {
      "main": [
        [
          {
            "node": "Get Active Child",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Child": {
      "main": [
        [
          {
            "node": "Check Child",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Child": {
      "main": [
        [
          {
            "node": "Get Unanswered Questions",
            "type": "main",
            "index": 0
          },
          {
            "node": "Parse Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Message": {
      "main": [
        [
          {
            "node": "Route Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Message": {
      "main": [
        [
          {
            "node": "Save Answer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Greeting",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Help",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Answer": {
      "main": [
        [
          {
            "node": "Get Progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Progress": {
      "main": [
        [
          {
            "node": "Format with OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format with OpenAI": {
      "main": [
        [
          {
            "node": "Merge Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Greeting": {
      "main": [
        [
          {
            "node": "Merge Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Help": {
      "main": [
        [
          {
            "node": "Merge Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Not Found": {
      "main": [
        [
          {
            "node": "Merge Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Response": {
      "main": [
        [
          {
            "node": "Send WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp": {
      "main": [
        [
          {
            "node": "Respond Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "educare",
      "createdAt": "2025-12-01T00:00:00.000Z",
      "updatedAt": "2025-12-01T00:00:00.000Z"
    },
    {
      "name": "whatsapp",
      "createdAt": "2025-12-01T00:00:00.000Z",
      "updatedAt": "2025-12-01T00:00:00.000Z"
    }
  ],
  "pinData": {},
  "versionId": "1.0.0"
}
