educare-backend/docs/n8n-inactive-reactivation-current.json
{"updatedAt":"2026-02-07T23:23:20.721Z","createdAt":"2025-12-23T16:42:42.410Z","id":"jGZCuPWlkZa8v9OB","name":"SUB | Inactive User Reactivation (WhatsApp + Stripe + PG Memory)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"CREATE TABLE IF NOT EXISTS inactive_context (\n  id SERIAL PRIMARY KEY,\n  phone VARCHAR(20) NOT NULL UNIQUE,\n  timestamp BIGINT NOT NULL,\n  last_message TEXT,\n  media_type TEXT,\n  media_url TEXT,\n  source TEXT,\n  source_id TEXT,\n  context JSONB DEFAULT '{}',\n  updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP\n);\n\nCREATE TABLE IF NOT EXISTS wa_dedup (\n  id SERIAL PRIMARY KEY,\n  channel TEXT NOT NULL,\n  message_id TEXT NOT NULL,\n  phone TEXT NOT NULL,\n  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,\n  UNIQUE(channel, message_id)\n);\n\nCREATE TABLE IF NOT EXISTS mem_short (\n  id SERIAL PRIMARY KEY,\n  phone VARCHAR(20) NOT NULL UNIQUE,\n  state JSONB DEFAULT '{}',\n  updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP\n);\n\nCREATE TABLE IF NOT EXISTS mem_long_events (\n  id SERIAL PRIMARY KEY,\n  phone VARCHAR(20) NOT NULL,\n  event_type TEXT NOT NULL,\n  event_data JSONB DEFAULT '{}',\n  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP\n);\n\nCREATE TABLE IF NOT EXISTS followup_queue (\n  id SERIAL PRIMARY KEY,\n  phone VARCHAR(20) NOT NULL,\n  user_id TEXT,\n  stage TEXT NOT NULL,\n  next_send_at TIMESTAMPTZ NOT NULL,\n  payload JSONB DEFAULT '{}',\n  status TEXT DEFAULT 'pending',\n  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-2976,1056],"id":"e7ca795f-1879-4980-aeab-2500e1c686d3","name":"DDL: Create All Tables","credentials":{"postgres":{"id":"GOPEUe1LAiJGNq6A","name":"Postgres_n8n"}}},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE IF NOT EXISTS inactive_journey (\n  id SERIAL PRIMARY KEY,\n  phone VARCHAR(20) NOT NULL,\n  step TEXT,\n  message TEXT,\n  response TEXT,\n  is_audio BOOLEAN DEFAULT FALSE,\n  media_type TEXT,\n  media_url TEXT,\n  timestamp BIGINT,\n  source TEXT,\n  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-2752,912],"id":"90d809e9-9323-4d63-9f38-e977d80536f2","name":"DDL: Create inactive_journey","credentials":{"postgres":{"id":"GOPEUe1LAiJGNq6A","name":"Postgres_n8n"}}},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE IF NOT EXISTS inactive_summary (\n  id SERIAL PRIMARY KEY,\n  phone VARCHAR(20) NOT NULL UNIQUE,\n  summary TEXT,\n  tags TEXT[],\n  funnel_step TEXT DEFAULT 'reconnect',\n  updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-2976,912],"id":"3a2825de-6651-41f9-bc96-5ce6bd4707b0","name":"DDL: Create inactive_summary","credentials":{"postgres":{"id":"GOPEUe1LAiJGNq6A","name":"Postgres_n8n"}}},{"parameters":{"operation":"executeQuery","query":"SELECT 1; -- DDL already includes funnel_step","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-2752,1056],"id":"b1571405-5586-46dd-8fd9-edd912266c78","name":"DDL: No-op (schema covered)","credentials":{"postgres":{"id":"GOPEUe1LAiJGNq6A","name":"Postgres_n8n"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-2016,1200],"id":"1ad34026-fd55-4b04-b678-3d41a9246a63","name":"Merge"},{"parameters":{"jsCode":"const j = $json;\n\n// 0) output pode vir como OBJETO (Structured Output) ou STRING\nlet obj = j.output;\n\nif (typeof obj === 'string') {\n  const raw = obj.trim();\n  try {\n    obj = JSON.parse(raw);\n  } catch (e) {\n    obj = { reply_text: raw };\n  }\n}\n\n// 1) Instancia e contato: SEMPRE do input original, nunca do AI\nconst instancia = String(j.instancia ?? j.instance ?? 'educare-chat').trim();\nconst contato = String(j.contato ?? j.phone ?? '').replace(/\\D/g, '').trim();\n\n// 2) reply_text final\nconst reply_text = String(obj?.reply_text ?? j.reply_text ?? '').trim();\nconst safeReply = reply_text || 'Oi! Notei que sua assinatura do Educare+ está inativa. Posso te ajudar a reativar?';\n\n// 3) Campos p/ Postgres (parameterized queries, no SQL injection risk)\nconst phone = contato;\nconst ts = Number(j.timestamp ?? Math.floor(Date.now() / 1000));\n\nreturn [{\n  json: {\n    ...j,\n    instancia,\n    contato,\n    phone,\n    reply_text: safeReply,\n    out_text: safeReply,\n    timestamp: ts,\n    response: safeReply,\n    source: j.source ?? j.channel ?? 'evolution',\n    step: j.step ?? 'bot_reply_sent',\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1520,1200],"id":"0c84c193-0de6-42be-b626-06b805b69597","name":"Code in JavaScript"},{"parameters":{"promptType":"define","text":"=Nome do usuário: {{ $json.user.name || 'Usuário' }}\nTelefone: {{ $json.phone }}\nStatus da assinatura: {{ $json.user.subscription_status }}\nÚltima mensagem: {{ $json.text }}\n\nEstado da memória:\n{{ JSON.stringify($json.state || {}) }}","hasOutputParser":true,"options":{"systemMessage":"=Você é o Educare+ MyChat, assistente inteligente de reativação e suporte do Educare+ Tech.\n\nCONTEXTO IMPORTANTE\nEste usuário JÁ FOI assinante do Educare+ Tech, mas sua assinatura está INATIVA.\nSeu papel é reconectá-lo com a plataforma de forma acolhedora e sem pressão.\n\nOBJETIVO PRINCIPAL\n- Reconectar o usuário com o valor do Educare+ Tech\n- Entender por que ele parou de usar\n- Avançar exatamente 1 etapa no funil a cada resposta\n\nCONTEXTO DO PRODUTO\nEducare+ Tech é um app para acompanhar saúde infantil, vacinas, consultas e desenvolvimento da criança, com assistente de IA especializado.\n\nFUNIL DE REATIVAÇÃO (3 etapas)\n1. reconnect → Acolher, perguntar como está a criança, identificar motivo da saída\n2. value_reminder → Lembrar benefícios específicos, mostrar novidades, endereçar objeções\n3. reactivate → Oferecer link de reativação de forma natural e sem pressão\n\nREGRAS DE COMUNICAÇÃO\n- Português do Brasil\n- Tom acolhedor, empático e respeitoso (NUNCA agressivo)\n- Respostas curtas (máx. 3 parágrafos)\n- Fazer no máximo 1 pergunta por mensagem\n- Nunca repetir mensagens anteriores\n- Se o usuário disser \"PARAR\", agradeça e encerre respeitosamente\n- NUNCA inventar informações ou funcionalidades\n\nREGRAS ESPECÍFICAS DE REATIVAÇÃO\n- Reconheça que o usuário já conhece a plataforma\n- Pergunte sobre a criança (demonstra interesse genuíno)\n- Na etapa de reativação, mencione o link de checkout naturalmente\n- Se o usuário tiver objeções financeiras, seja compreensivo\n- NUNCA seja insistente ou faça pressão\n\nINSTRUÇÃO TÉCNICA OBRIGATÓRIA\n- Sua resposta FINAL deve seguir EXATAMENTE o schema definido pelo Output Parser.\n- contato e instancia devem ser copiados dos valores de input.\n- Se não souber os valores, use {{ $json.phone }} para contato e 'educare-chat' para instancia."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-1824,1200],"id":"daeee16b-36a3-4bc9-be55-57648b9bf8c6","name":"AI Agent1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-1840,1376],"id":"06ab418b-65c8-49e8-ab4b-24d7068fae7c","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"gddH24JwjrAV57aC","name":"OpenAi account"}}},{"parameters":{"resource":"messages-api","instanceName":"={{ $json.instancia || 'educare-chat' }}","remoteJid":"={{ $json.contato }}","messageText":"={{ $json.reply_text }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-1344,1200],"id":"9f7606d3-50ba-49e1-82f1-54273cbaf281","name":"Enviar texto","credentials":{"evolutionApi":{"id":"4nQKa33RgOv6Iu5T","name":"Evolution account"}}},{"parameters":{"jsonSchemaExample":"{\n  \"reply_text\": \"string\",\n  \"contato\": \"string\",\n  \"instancia\": \"string\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-1664,1376],"id":"4c4525ae-93a7-441b-8afc-65ac4cd01ad9","name":"Structured Output Parser"},{"parameters":{"jsCode":"const i = $input.first().json;\nif (!i.phone || !i.channel || !i.message_id) throw new Error('Missing phone/channel/message_id');\nif (!i.user || !i.user.subscription_status) throw new Error('Missing user.subscription_status');\nreturn [{ json: {\n  channel: String(i.channel),\n  message_id: String(i.message_id),\n  phone: String(i.phone),\n  text: i.text ? String(i.text) : '',\n  user: i.user,\n  ctx: i.ctx || {}\n}}];"},"id":"c7863e5e-0237-42d1-8b92-18abeddb92a3","name":"Normalize Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2976,1216]},{"parameters":{"operation":"executeQuery","query":"insert into wa_dedup (channel, message_id, phone)\nvalues ($1, $2, $3)\non conflict do nothing\nreturning id;","options":{"queryParams":"={{ $json.channel }},{{ $json.message_id }},{{ $json.phone }}"}},"id":"834caa45-ea37-400b-a04d-80a543b2ca58","name":"PG | Dedup Insert","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[-2800,1216],"credentials":{"postgres":{"id":"GOPEUe1LAiJGNq6A","name":"Postgres_n8n"}}},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.id !== undefined && $json.id !== null}}","value2":true}]},"options":{}},"id":"78f05517-c991-41d2-b0ef-d64347caf117","name":"Gate | Already Processed?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-2624,1216]},{"parameters":{"operation":"executeQuery","query":"select state from mem_short where phone = $1;","options":{"queryParams":"={{ $json.phone }}"}},"id":"a04001e1-96fc-4578-982c-2e9da34c8474","name":"PG | Load Short Memory","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[-2400,1200],"credentials":{"postgres":{"id":"GOPEUe1LAiJGNq6A","name":"Postgres_n8n"}}},{"parameters":{"jsCode":"const inputs = $input.all();\nconst base = inputs[0]?.json || {};\n// Second input is from PG | Load Short Memory\nconst memoryResult = inputs[1]?.json;\n// Handle both array result and object result from Postgres\nlet state = {};\nif (Array.isArray(memoryResult)) {\n  state = memoryResult[0]?.state || {};\n} else if (memoryResult?.state) {\n  state = typeof memoryResult.state === 'string' ? JSON.parse(memoryResult.state) : memoryResult.state;\n}\nreturn [{ json: { ...base, state } }];"},"id":"85eb910f-7fb3-412c-9119-b4696d0d5cf5","name":"Merge State","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2976,1424]},{"parameters":{"jsCode":"const j = $input.first().json;\nconst state = j.state || {};\nconst now = Date.now();\n\n// Check if user sent PARAR/STOP\nconst text = String(j.text || '').trim().toUpperCase();\nconst isOptOut = ['PARAR', 'STOP', 'SAIR', 'CANCELAR'].includes(text);\n\n// Check existing opt-out or cooldown\nconst optOut = isOptOut || !!state.opt_out;\nconst cooldownUntil = state.cooldown_until ? Date.parse(state.cooldown_until) : 0;\nconst blocked = optOut || (cooldownUntil && cooldownUntil > now);\n\n// If new opt-out, flag it for saving\nreturn [{ json: { ...j, blocked, new_opt_out: isOptOut } }];"},"id":"6298c436-7c3e-461a-b299-47a83e525c70","name":"Gate | Opt-out / Cooldown","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2832,1424]},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.blocked}}","value2":true}]},"options":{}},"id":"85b85b2b-8df3-4123-a22f-455a9614aa46","name":"Gate | Blocked?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-2624,1424]},{"parameters":{"jsCode":"const j = $input.first().json;\nconst s = String(j.user?.subscription_status || '').toLowerCase();\nlet bucket = 'INACTIVE';\nif (['active','trialing'].includes(s)) bucket = 'ACTIVE';\nelse if (['past_due','unpaid'].includes(s)) bucket = 'GRACE';\nelse if (['canceled','cancelled','expired','inactive',''].includes(s)) bucket = 'INACTIVE';\nreturn [{ json: { ...j, bucket } }];"},"id":"8a50a445-7a1b-4307-bbd9-d026f41ae854","name":"Normalize Subscription Bucket","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2400,1440]},{"parameters":{"conditions":{"string":[{"value1":"={{$json.bucket}}","operation":"equals","value2":"INACTIVE"}]},"options":{}},"id":"a146dae5-aa68-47a1-9412-974a19c93ffc","name":"Gate | Is INACTIVE?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-2208,1440]},{"parameters":{"jsCode":"const j = $input.first().json;\nconst st = j.state || {};\nconst url = st.checkout_url || null;\nconst createdAt = st.checkout_created_at ? Date.parse(st.checkout_created_at) : 0;\nconst freshMs = 1000 * 60 * 60 * 24; // 24h\nconst useExisting = !!url && createdAt && (Date.now() - createdAt < freshMs);\n\n// Guard: If no stripe_price_id or stripe_customer_id, skip checkout entirely\nconst hasStripeData = !!(j.user?.stripe_customer_id && j.user?.stripe_price_id);\nconst skipCheckout = !hasStripeData && !useExisting;\n\nreturn [{ json: { \n  ...j, \n  useExisting: useExisting || skipCheckout, \n  checkout_url: useExisting ? url : (skipCheckout ? null : null),\n  skip_checkout: skipCheckout\n} }];"},"id":"7971f803-4cd5-4d9d-8305-c29e179e3e74","name":"Decision | Checkout URL","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2976,1680]},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.useExisting}}","value2":true}]},"options":{}},"id":"bc2eb7ca-c30a-4c39-a5ef-8bbfa1edf34d","name":"Gate | Use Existing?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-2816,1680]},{"parameters":{"resource":"checkout","operation":"create","lineItems":{"values":[{"priceId":"={{ $json.user.stripe_price_id || '' }}","quantity":1}]},"additionalFields":{"customer":"={{ $json.user.stripe_customer_id || '' }}","mode":"subscription","successUrl":"https://educareapp.com.br/dashboard?reactivated=true","cancelUrl":"https://educareapp.com.br/pricing?cancelled=true"}},"id":"0bf60844-5351-4812-86e9-ee0ac0b256eb","name":"Stripe | Create Checkout Session","type":"n8n-nodes-base.stripe","typeVersion":1,"position":[-2576,1824],"credentials":{}},{"parameters":{"jsCode":"const j = $input.first().json;\n// Stripe checkout session response has 'url' field\nconst checkout_url = j.url || j.hosted_invoice_url || j.checkout_url || '';\nif (!checkout_url) {\n  console.warn('WARNING: No checkout URL received from Stripe');\n}\nreturn [{ json: { \n  ...j, \n  checkout_url, \n  checkout_created_at: new Date().toISOString(),\n  state: { ...(j.state || {}), checkout_url, checkout_created_at: new Date().toISOString() }\n} }];"},"id":"2174745f-287e-4bdb-9244-63ba169f76d2","name":"Assign Checkout URL","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2304,1824]},{"parameters":{"jsCode":"const j = $input.first().json;\nconst name = j.user?.name ? `, ${j.user.name}` : '';\nconst url = j.checkout_url;\n\nlet text;\nif (url) {\n  text = `Oi${name}! Notamos que sua assinatura do Educare+ está inativa.\\n\\n` +\n    `Sabemos o quanto acompanhar o desenvolvimento do seu filho é importante. ` +\n    `Para reativar seu acesso completo:\\n\\n` +\n    `✅ ${url}\\n\\n` +\n    `Se tiver alguma dúvida, é só me perguntar!\\n` +\n    `Para não receber mais lembretes, responda *PARAR*.`;\n} else {\n  text = `Oi${name}! Notamos que sua assinatura do Educare+ está inativa.\\n\\n` +\n    `Gostaríamos de entender como podemos ajudar. ` +\n    `Quer saber sobre as novidades da plataforma?\\n\\n` +\n    `Para não receber mais lembretes, responda *PARAR*.`;\n}\n\nreturn [{ json: { ...j, out_text: text } }];"},"id":"88179373-71e9-434d-84b3-48a81a4b2d63","name":"Build Inactive Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2560,1664]},{"parameters":{"method":"POST","url":"https://api.educareapp.com.br/message/sendText/educare-chat","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.EVOLUTION_API_KEY || 'B0Czf3LQRP_dWid9jF97bw' }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $json.phone }}@s.whatsapp.net\",\n  \"text\": \"{{ $json.out_text }}\"\n}","options":{"allowUnauthorizedCerts":true}},"id":"f9f0a2d6-d512-4249-bdd2-89d84d8bf7b6","name":"WhatsApp | Send (Evolution)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2368,1664]},{"parameters":{"operation":"executeQuery","query":"insert into mem_short (phone, state, updated_at)\nvalues ($1, $2::jsonb, now())\non conflict (phone) do update\nset state = excluded.state,\n    updated_at = now();","options":{"queryParams":"={{ $json.phone }},={{ JSON.stringify({ ...(($json.state || {})), checkout_url: $json.checkout_url || ($json.state || {}).checkout_url, checkout_created_at: $json.checkout_created_at || ($json.state || {}).checkout_created_at, opt_out: $json.new_opt_out || ($json.state || {}).opt_out }) }}"}},"id":"9a2b7f68-53c4-4ad4-ae23-2b726743b353","name":"PG | Save Short Memory","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[-2192,1664],"credentials":{"postgres":{"id":"GOPEUe1LAiJGNq6A","name":"Postgres_n8n"}}},{"parameters":{"operation":"executeQuery","query":"insert into mem_long_events (phone, event_type, event_data)\nvalues ($1, $2, $3::jsonb);","options":{"queryParams":"={{ $json.phone }},inactive_message,={{ JSON.stringify({ text: $json.text, response: $json.out_text || $json.reply_text, bucket: $json.bucket, timestamp: Date.now() }) }}"}},"id":"3303b0b8-6715-41e4-a685-459768969d80","name":"PG | Save Long Event","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[-2016,1664],"credentials":{"postgres":{"id":"GOPEUe1LAiJGNq6A","name":"Postgres_n8n"}}},{"parameters":{"operation":"executeQuery","query":"insert into followup_queue (phone, user_id, stage, next_send_at, payload)\nvalues ($1, $2, $3, $4::timestamptz, $5::jsonb);","options":{"queryParams":"={{ $json.phone }},={{ $json.user?.user_id || '' }},inactive_followup,={{ new Date(Date.now() + 48*60*60*1000).toISOString() }},={{ JSON.stringify({ bucket: $json.bucket, attempt: 1 }) }}"}},"id":"a255484e-d272-4815-a32f-1a02737cd8a1","name":"PG | Enqueue Follow-ups","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[-1840,1664],"credentials":{"postgres":{"id":"GOPEUe1LAiJGNq6A","name":"Postgres_n8n"}}},{"parameters":{},"id":"trigger-inactive-001","name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-200,0]}],"connections":{"Merge":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Enviar texto":{"main":[[]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent1","type":"ai_outputParser","index":0}]]},"Normalize Input":{"main":[[{"node":"PG | Dedup Insert","type":"main","index":0}]]},"PG | Dedup Insert":{"main":[[{"node":"Gate | Already Processed?","type":"main","index":0}]]},"Gate | Already Processed?":{"main":[[{"node":"PG | Load Short Memory","type":"main","index":0}]]},"PG | Load Short Memory":{"main":[[{"node":"Merge State","type":"main","index":0}]]},"Merge State":{"main":[[{"node":"Gate | Opt-out / Cooldown","type":"main","index":0}]]},"Gate | Opt-out / Cooldown":{"main":[[{"node":"Gate | Blocked?","type":"main","index":0}]]},"Gate | Blocked?":{"main":[[],[{"node":"Normalize Subscription Bucket","type":"main","index":0}]]},"Normalize Subscription Bucket":{"main":[[{"node":"Gate | Is INACTIVE?","type":"main","index":0}]]},"Gate | Is INACTIVE?":{"main":[[{"node":"Decision | Checkout URL","type":"main","index":0}]]},"Decision | Checkout URL":{"main":[[{"node":"Gate | Use Existing?","type":"main","index":0}]]},"Gate | Use Existing?":{"main":[[{"node":"Build Inactive Message","type":"main","index":0}],[{"node":"Stripe | Create Checkout Session","type":"main","index":0}]]},"Stripe | Create Checkout Session":{"main":[[{"node":"Assign Checkout URL","type":"main","index":0}]]},"Assign Checkout URL":{"main":[[{"node":"Build Inactive Message","type":"main","index":0}]]},"Build Inactive Message":{"main":[[{"node":"WhatsApp | Send (Evolution)","type":"main","index":0}]]},"WhatsApp | Send (Evolution)":{"main":[[{"node":"PG | Save Short Memory","type":"main","index":0}]]},"PG | Save Short Memory":{"main":[[{"node":"PG | Save Long Event","type":"main","index":0}]]},"PG | Save Long Event":{"main":[[{"node":"PG | Enqueue Follow-ups","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Normalize Input","type":"main","index":0}]]},"DDL: Create All Tables":{"main":[[{"node":"DDL: Create inactive_journey","type":"main","index":0}]]},"DDL: Create inactive_journey":{"main":[[{"node":"DDL: Create inactive_summary","type":"main","index":0}]]},"DDL: Create inactive_summary":{"main":[[{"node":"DDL: No-op (schema covered)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d593e344-6bcd-4c56-b3db-3233d6451d3e","activeVersionId":"d593e344-6bcd-4c56-b3db-3233d6451d3e","versionCounter":236,"triggerCount":0,"shared":[{"updatedAt":"2025-12-23T16:42:42.410Z","createdAt":"2025-12-23T16:42:42.410Z","role":"workflow:owner","workflowId":"jGZCuPWlkZa8v9OB","projectId":"tqSBPI07B2cWaOvC","project":{"updatedAt":"2026-02-04T02:33:22.344Z","createdAt":"2025-12-10T16:46:36.807Z","id":"tqSBPI07B2cWaOvC","name":"Derik Silva <derik@educaremais.com.br>","type":"personal","icon":null,"description":null,"creatorId":"e8b603ff-f7e3-43cf-bede-010ec75cfbe7","projectRelations":[{"updatedAt":"2025-12-10T16:46:36.807Z","createdAt":"2025-12-10T16:46:36.807Z","userId":"e8b603ff-f7e3-43cf-bede-010ec75cfbe7","projectId":"tqSBPI07B2cWaOvC","user":{"updatedAt":"2026-02-07T03:08:21.041Z","createdAt":"2025-12-10T16:46:35.980Z","id":"e8b603ff-f7e3-43cf-bede-010ec75cfbe7","email":"derik@educaremais.com.br","firstName":"Derik","lastName":"Silva","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-12-10T17:07:09.589Z","personalization_survey_n8n_version":"1.123.5","companyIndustryExtended":["other"],"otherCompanyIndustryExtended":"Start up","companySize":"<20","companyType":"other","role":"business-owner","reportedSource":"youtube"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"n6ZpQvp96iPCaIvG","userActivatedAt":1766887969128,"npsSurvey":{"responded":true,"lastShownAt":1768003103502}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-07","isPending":false}}]}}],"tags":[{"updatedAt":"2025-12-21T13:03:08.318Z","createdAt":"2025-12-21T13:03:08.318Z","id":"FCtg3of3kkHgvSJd","name":"Educare+"}],"activeVersion":{"updatedAt":"2026-02-07T23:23:20.724Z","createdAt":"2026-02-07T23:23:20.724Z","versionId":"d593e344-6bcd-4c56-b3db-3233d6451d3e","workflowId":"jGZCuPWlkZa8v9OB","nodes":[{"parameters":{"operation":"executeQuery","query":"CREATE TABLE IF NOT EXISTS inactive_context (\n  id SERIAL PRIMARY KEY,\n  phone VARCHAR(20) NOT NULL UNIQUE,\n  timestamp BIGINT NOT NULL,\n  last_message TEXT,\n  media_type TEXT,\n  media_url TEXT,\n  source TEXT,\n  source_id TEXT,\n  context JSONB DEFAULT '{}',\n  updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP\n);\n\nCREATE TABLE IF NOT EXISTS wa_dedup (\n  id SERIAL PRIMARY KEY,\n  channel TEXT NOT NULL,\n  message_id TEXT NOT NULL,\n  phone TEXT NOT NULL,\n  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,\n  UNIQUE(channel, message_id)\n);\n\nCREATE TABLE IF NOT EXISTS mem_short (\n  id SERIAL PRIMARY KEY,\n  phone VARCHAR(20) NOT NULL UNIQUE,\n  state JSONB DEFAULT '{}',\n  updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP\n);\n\nCREATE TABLE IF NOT EXISTS mem_long_events (\n  id SERIAL PRIMARY KEY,\n  phone VARCHAR(20) NOT NULL,\n  event_type TEXT NOT NULL,\n  event_data JSONB DEFAULT '{}',\n  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP\n);\n\nCREATE TABLE IF NOT EXISTS followup_queue (\n  id SERIAL PRIMARY KEY,\n  phone VARCHAR(20) NOT NULL,\n  user_id TEXT,\n  stage TEXT NOT NULL,\n  next_send_at TIMESTAMPTZ NOT NULL,\n  payload JSONB DEFAULT '{}',\n  status TEXT DEFAULT 'pending',\n  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-2976,1056],"id":"e7ca795f-1879-4980-aeab-2500e1c686d3","name":"DDL: Create All Tables","credentials":{"postgres":{"id":"GOPEUe1LAiJGNq6A","name":"Postgres_n8n"}}},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE IF NOT EXISTS inactive_journey (\n  id SERIAL PRIMARY KEY,\n  phone VARCHAR(20) NOT NULL,\n  step TEXT,\n  message TEXT,\n  response TEXT,\n  is_audio BOOLEAN DEFAULT FALSE,\n  media_type TEXT,\n  media_url TEXT,\n  timestamp BIGINT,\n  source TEXT,\n  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-2752,912],"id":"90d809e9-9323-4d63-9f38-e977d80536f2","name":"DDL: Create inactive_journey","credentials":{"postgres":{"id":"GOPEUe1LAiJGNq6A","name":"Postgres_n8n"}}},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE IF NOT EXISTS inactive_summary (\n  id SERIAL PRIMARY KEY,\n  phone VARCHAR(20) NOT NULL UNIQUE,\n  summary TEXT,\n  tags TEXT[],\n  funnel_step TEXT DEFAULT 'reconnect',\n  updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-2976,912],"id":"3a2825de-6651-41f9-bc96-5ce6bd4707b0","name":"DDL: Create inactive_summary","credentials":{"postgres":{"id":"GOPEUe1LAiJGNq6A","name":"Postgres_n8n"}}},{"parameters":{"operation":"executeQuery","query":"SELECT 1; -- DDL already includes funnel_step","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-2752,1056],"id":"b1571405-5586-46dd-8fd9-edd912266c78","name":"DDL: No-op (schema covered)","credentials":{"postgres":{"id":"GOPEUe1LAiJGNq6A","name":"Postgres_n8n"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-2016,1200],"id":"1ad34026-fd55-4b04-b678-3d41a9246a63","name":"Merge"},{"parameters":{"jsCode":"const j = $json;\n\n// 0) output pode vir como OBJETO (Structured Output) ou STRING\nlet obj = j.output;\n\nif (typeof obj === 'string') {\n  const raw = obj.trim();\n  try {\n    obj = JSON.parse(raw);\n  } catch (e) {\n    obj = { reply_text: raw };\n  }\n}\n\n// 1) Instancia e contato: SEMPRE do input original, nunca do AI\nconst instancia = String(j.instancia ?? j.instance ?? 'educare-chat').trim();\nconst contato = String(j.contato ?? j.phone ?? '').replace(/\\D/g, '').trim();\n\n// 2) reply_text final\nconst reply_text = String(obj?.reply_text ?? j.reply_text ?? '').trim();\nconst safeReply = reply_text || 'Oi! Notei que sua assinatura do Educare+ está inativa. Posso te ajudar a reativar?';\n\n// 3) Campos p/ Postgres (parameterized queries, no SQL injection risk)\nconst phone = contato;\nconst ts = Number(j.timestamp ?? Math.floor(Date.now() / 1000));\n\nreturn [{\n  json: {\n    ...j,\n    instancia,\n    contato,\n    phone,\n    reply_text: safeReply,\n    out_text: safeReply,\n    timestamp: ts,\n    response: safeReply,\n    source: j.source ?? j.channel ?? 'evolution',\n    step: j.step ?? 'bot_reply_sent',\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1520,1200],"id":"0c84c193-0de6-42be-b626-06b805b69597","name":"Code in JavaScript"},{"parameters":{"promptType":"define","text":"=Nome do usuário: {{ $json.user.name || 'Usuário' }}\nTelefone: {{ $json.phone }}\nStatus da assinatura: {{ $json.user.subscription_status }}\nÚltima mensagem: {{ $json.text }}\n\nEstado da memória:\n{{ JSON.stringify($json.state || {}) }}","hasOutputParser":true,"options":{"systemMessage":"=Você é o Educare+ MyChat, assistente inteligente de reativação e suporte do Educare+ Tech.\n\nCONTEXTO IMPORTANTE\nEste usuário JÁ FOI assinante do Educare+ Tech, mas sua assinatura está INATIVA.\nSeu papel é reconectá-lo com a plataforma de forma acolhedora e sem pressão.\n\nOBJETIVO PRINCIPAL\n- Reconectar o usuário com o valor do Educare+ Tech\n- Entender por que ele parou de usar\n- Avançar exatamente 1 etapa no funil a cada resposta\n\nCONTEXTO DO PRODUTO\nEducare+ Tech é um app para acompanhar saúde infantil, vacinas, consultas e desenvolvimento da criança, com assistente de IA especializado.\n\nFUNIL DE REATIVAÇÃO (3 etapas)\n1. reconnect → Acolher, perguntar como está a criança, identificar motivo da saída\n2. value_reminder → Lembrar benefícios específicos, mostrar novidades, endereçar objeções\n3. reactivate → Oferecer link de reativação de forma natural e sem pressão\n\nREGRAS DE COMUNICAÇÃO\n- Português do Brasil\n- Tom acolhedor, empático e respeitoso (NUNCA agressivo)\n- Respostas curtas (máx. 3 parágrafos)\n- Fazer no máximo 1 pergunta por mensagem\n- Nunca repetir mensagens anteriores\n- Se o usuário disser \"PARAR\", agradeça e encerre respeitosamente\n- NUNCA inventar informações ou funcionalidades\n\nREGRAS ESPECÍFICAS DE REATIVAÇÃO\n- Reconheça que o usuário já conhece a plataforma\n- Pergunte sobre a criança (demonstra interesse genuíno)\n- Na etapa de reativação, mencione o link de checkout naturalmente\n- Se o usuário tiver objeções financeiras, seja compreensivo\n- NUNCA seja insistente ou faça pressão\n\nINSTRUÇÃO TÉCNICA OBRIGATÓRIA\n- Sua resposta FINAL deve seguir EXATAMENTE o schema definido pelo Output Parser.\n- contato e instancia devem ser copiados dos valores de input.\n- Se não souber os valores, use {{ $json.phone }} para contato e 'educare-chat' para instancia."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-1824,1200],"id":"daeee16b-36a3-4bc9-be55-57648b9bf8c6","name":"AI Agent1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-1840,1376],"id":"06ab418b-65c8-49e8-ab4b-24d7068fae7c","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"gddH24JwjrAV57aC","name":"OpenAi account"}}},{"parameters":{"resource":"messages-api","instanceName":"={{ $json.instancia || 'educare-chat' }}","remoteJid":"={{ $json.contato }}","messageText":"={{ $json.reply_text }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-1344,1200],"id":"9f7606d3-50ba-49e1-82f1-54273cbaf281","name":"Enviar texto","credentials":{"evolutionApi":{"id":"4nQKa33RgOv6Iu5T","name":"Evolution account"}}},{"parameters":{"jsonSchemaExample":"{\n  \"reply_text\": \"string\",\n  \"contato\": \"string\",\n  \"instancia\": \"string\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-1664,1376],"id":"4c4525ae-93a7-441b-8afc-65ac4cd01ad9","name":"Structured Output Parser"},{"parameters":{"jsCode":"const i = $input.first().json;\nif (!i.phone || !i.channel || !i.message_id) throw new Error('Missing phone/channel/message_id');\nif (!i.user || !i.user.subscription_status) throw new Error('Missing user.subscription_status');\nreturn [{ json: {\n  channel: String(i.channel),\n  message_id: String(i.message_id),\n  phone: String(i.phone),\n  text: i.text ? String(i.text) : '',\n  user: i.user,\n  ctx: i.ctx || {}\n}}];"},"id":"c7863e5e-0237-42d1-8b92-18abeddb92a3","name":"Normalize Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2976,1216]},{"parameters":{"operation":"executeQuery","query":"insert into wa_dedup (channel, message_id, phone)\nvalues ($1, $2, $3)\non conflict do nothing\nreturning id;","options":{"queryParams":"={{ $json.channel }},{{ $json.message_id }},{{ $json.phone }}"}},"id":"834caa45-ea37-400b-a04d-80a543b2ca58","name":"PG | Dedup Insert","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[-2800,1216],"credentials":{"postgres":{"id":"GOPEUe1LAiJGNq6A","name":"Postgres_n8n"}}},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.id !== undefined && $json.id !== null}}","value2":true}]},"options":{}},"id":"78f05517-c991-41d2-b0ef-d64347caf117","name":"Gate | Already Processed?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-2624,1216]},{"parameters":{"operation":"executeQuery","query":"select state from mem_short where phone = $1;","options":{"queryParams":"={{ $json.phone }}"}},"id":"a04001e1-96fc-4578-982c-2e9da34c8474","name":"PG | Load Short Memory","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[-2400,1200],"credentials":{"postgres":{"id":"GOPEUe1LAiJGNq6A","name":"Postgres_n8n"}}},{"parameters":{"jsCode":"const inputs = $input.all();\nconst base = inputs[0]?.json || {};\n// Second input is from PG | Load Short Memory\nconst memoryResult = inputs[1]?.json;\n// Handle both array result and object result from Postgres\nlet state = {};\nif (Array.isArray(memoryResult)) {\n  state = memoryResult[0]?.state || {};\n} else if (memoryResult?.state) {\n  state = typeof memoryResult.state === 'string' ? JSON.parse(memoryResult.state) : memoryResult.state;\n}\nreturn [{ json: { ...base, state } }];"},"id":"85eb910f-7fb3-412c-9119-b4696d0d5cf5","name":"Merge State","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2976,1424]},{"parameters":{"jsCode":"const j = $input.first().json;\nconst state = j.state || {};\nconst now = Date.now();\n\n// Check if user sent PARAR/STOP\nconst text = String(j.text || '').trim().toUpperCase();\nconst isOptOut = ['PARAR', 'STOP', 'SAIR', 'CANCELAR'].includes(text);\n\n// Check existing opt-out or cooldown\nconst optOut = isOptOut || !!state.opt_out;\nconst cooldownUntil = state.cooldown_until ? Date.parse(state.cooldown_until) : 0;\nconst blocked = optOut || (cooldownUntil && cooldownUntil > now);\n\n// If new opt-out, flag it for saving\nreturn [{ json: { ...j, blocked, new_opt_out: isOptOut } }];"},"id":"6298c436-7c3e-461a-b299-47a83e525c70","name":"Gate | Opt-out / Cooldown","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2832,1424]},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.blocked}}","value2":true}]},"options":{}},"id":"85b85b2b-8df3-4123-a22f-455a9614aa46","name":"Gate | Blocked?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-2624,1424]},{"parameters":{"jsCode":"const j = $input.first().json;\nconst s = String(j.user?.subscription_status || '').toLowerCase();\nlet bucket = 'INACTIVE';\nif (['active','trialing'].includes(s)) bucket = 'ACTIVE';\nelse if (['past_due','unpaid'].includes(s)) bucket = 'GRACE';\nelse if (['canceled','cancelled','expired','inactive',''].includes(s)) bucket = 'INACTIVE';\nreturn [{ json: { ...j, bucket } }];"},"id":"8a50a445-7a1b-4307-bbd9-d026f41ae854","name":"Normalize Subscription Bucket","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2400,1440]},{"parameters":{"conditions":{"string":[{"value1":"={{$json.bucket}}","operation":"equals","value2":"INACTIVE"}]},"options":{}},"id":"a146dae5-aa68-47a1-9412-974a19c93ffc","name":"Gate | Is INACTIVE?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-2208,1440]},{"parameters":{"jsCode":"const j = $input.first().json;\nconst st = j.state || {};\nconst url = st.checkout_url || null;\nconst createdAt = st.checkout_created_at ? Date.parse(st.checkout_created_at) : 0;\nconst freshMs = 1000 * 60 * 60 * 24; // 24h\nconst useExisting = !!url && createdAt && (Date.now() - createdAt < freshMs);\n\n// Guard: If no stripe_price_id or stripe_customer_id, skip checkout entirely\nconst hasStripeData = !!(j.user?.stripe_customer_id && j.user?.stripe_price_id);\nconst skipCheckout = !hasStripeData && !useExisting;\n\nreturn [{ json: { \n  ...j, \n  useExisting: useExisting || skipCheckout, \n  checkout_url: useExisting ? url : (skipCheckout ? null : null),\n  skip_checkout: skipCheckout\n} }];"},"id":"7971f803-4cd5-4d9d-8305-c29e179e3e74","name":"Decision | Checkout URL","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2976,1680]},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.useExisting}}","value2":true}]},"options":{}},"id":"bc2eb7ca-c30a-4c39-a5ef-8bbfa1edf34d","name":"Gate | Use Existing?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-2816,1680]},{"parameters":{"resource":"checkout","operation":"create","lineItems":{"values":[{"priceId":"={{ $json.user.stripe_price_id || '' }}","quantity":1}]},"additionalFields":{"customer":"={{ $json.user.stripe_customer_id || '' }}","mode":"subscription","successUrl":"https://educareapp.com.br/dashboard?reactivated=true","cancelUrl":"https://educareapp.com.br/pricing?cancelled=true"}},"id":"0bf60844-5351-4812-86e9-ee0ac0b256eb","name":"Stripe | Create Checkout Session","type":"n8n-nodes-base.stripe","typeVersion":1,"position":[-2576,1824],"credentials":{}},{"parameters":{"jsCode":"const j = $input.first().json;\n// Stripe checkout session response has 'url' field\nconst checkout_url = j.url || j.hosted_invoice_url || j.checkout_url || '';\nif (!checkout_url) {\n  console.warn('WARNING: No checkout URL received from Stripe');\n}\nreturn [{ json: { \n  ...j, \n  checkout_url, \n  checkout_created_at: new Date().toISOString(),\n  state: { ...(j.state || {}), checkout_url, checkout_created_at: new Date().toISOString() }\n} }];"},"id":"2174745f-287e-4bdb-9244-63ba169f76d2","name":"Assign Checkout URL","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2304,1824]},{"parameters":{"jsCode":"const j = $input.first().json;\nconst name = j.user?.name ? `, ${j.user.name}` : '';\nconst url = j.checkout_url;\n\nlet text;\nif (url) {\n  text = `Oi${name}! Notamos que sua assinatura do Educare+ está inativa.\\n\\n` +\n    `Sabemos o quanto acompanhar o desenvolvimento do seu filho é importante. ` +\n    `Para reativar seu acesso completo:\\n\\n` +\n    `✅ ${url}\\n\\n` +\n    `Se tiver alguma dúvida, é só me perguntar!\\n` +\n    `Para não receber mais lembretes, responda *PARAR*.`;\n} else {\n  text = `Oi${name}! Notamos que sua assinatura do Educare+ está inativa.\\n\\n` +\n    `Gostaríamos de entender como podemos ajudar. ` +\n    `Quer saber sobre as novidades da plataforma?\\n\\n` +\n    `Para não receber mais lembretes, responda *PARAR*.`;\n}\n\nreturn [{ json: { ...j, out_text: text } }];"},"id":"88179373-71e9-434d-84b3-48a81a4b2d63","name":"Build Inactive Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2560,1664]},{"parameters":{"method":"POST","url":"https://api.educareapp.com.br/message/sendText/educare-chat","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.EVOLUTION_API_KEY || 'B0Czf3LQRP_dWid9jF97bw' }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $json.phone }}@s.whatsapp.net\",\n  \"text\": \"{{ $json.out_text }}\"\n}","options":{"allowUnauthorizedCerts":true}},"id":"f9f0a2d6-d512-4249-bdd2-89d84d8bf7b6","name":"WhatsApp | Send (Evolution)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2368,1664]},{"parameters":{"operation":"executeQuery","query":"insert into mem_short (phone, state, updated_at)\nvalues ($1, $2::jsonb, now())\non conflict (phone) do update\nset state = excluded.state,\n    updated_at = now();","options":{"queryParams":"={{ $json.phone }},={{ JSON.stringify({ ...(($json.state || {})), checkout_url: $json.checkout_url || ($json.state || {}).checkout_url, checkout_created_at: $json.checkout_created_at || ($json.state || {}).checkout_created_at, opt_out: $json.new_opt_out || ($json.state || {}).opt_out }) }}"}},"id":"9a2b7f68-53c4-4ad4-ae23-2b726743b353","name":"PG | Save Short Memory","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[-2192,1664],"credentials":{"postgres":{"id":"GOPEUe1LAiJGNq6A","name":"Postgres_n8n"}}},{"parameters":{"operation":"executeQuery","query":"insert into mem_long_events (phone, event_type, event_data)\nvalues ($1, $2, $3::jsonb);","options":{"queryParams":"={{ $json.phone }},inactive_message,={{ JSON.stringify({ text: $json.text, response: $json.out_text || $json.reply_text, bucket: $json.bucket, timestamp: Date.now() }) }}"}},"id":"3303b0b8-6715-41e4-a685-459768969d80","name":"PG | Save Long Event","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[-2016,1664],"credentials":{"postgres":{"id":"GOPEUe1LAiJGNq6A","name":"Postgres_n8n"}}},{"parameters":{"operation":"executeQuery","query":"insert into followup_queue (phone, user_id, stage, next_send_at, payload)\nvalues ($1, $2, $3, $4::timestamptz, $5::jsonb);","options":{"queryParams":"={{ $json.phone }},={{ $json.user?.user_id || '' }},inactive_followup,={{ new Date(Date.now() + 48*60*60*1000).toISOString() }},={{ JSON.stringify({ bucket: $json.bucket, attempt: 1 }) }}"}},"id":"a255484e-d272-4815-a32f-1a02737cd8a1","name":"PG | Enqueue Follow-ups","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[-1840,1664],"credentials":{"postgres":{"id":"GOPEUe1LAiJGNq6A","name":"Postgres_n8n"}}},{"parameters":{},"id":"trigger-inactive-001","name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-200,0]}],"connections":{"Merge":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Enviar texto":{"main":[[]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent1","type":"ai_outputParser","index":0}]]},"Normalize Input":{"main":[[{"node":"PG | Dedup Insert","type":"main","index":0}]]},"PG | Dedup Insert":{"main":[[{"node":"Gate | Already Processed?","type":"main","index":0}]]},"Gate | Already Processed?":{"main":[[{"node":"PG | Load Short Memory","type":"main","index":0}]]},"PG | Load Short Memory":{"main":[[{"node":"Merge State","type":"main","index":0}]]},"Merge State":{"main":[[{"node":"Gate | Opt-out / Cooldown","type":"main","index":0}]]},"Gate | Opt-out / Cooldown":{"main":[[{"node":"Gate | Blocked?","type":"main","index":0}]]},"Gate | Blocked?":{"main":[[],[{"node":"Normalize Subscription Bucket","type":"main","index":0}]]},"Normalize Subscription Bucket":{"main":[[{"node":"Gate | Is INACTIVE?","type":"main","index":0}]]},"Gate | Is INACTIVE?":{"main":[[{"node":"Decision | Checkout URL","type":"main","index":0}]]},"Decision | Checkout URL":{"main":[[{"node":"Gate | Use Existing?","type":"main","index":0}]]},"Gate | Use Existing?":{"main":[[{"node":"Build Inactive Message","type":"main","index":0}],[{"node":"Stripe | Create Checkout Session","type":"main","index":0}]]},"Stripe | Create Checkout Session":{"main":[[{"node":"Assign Checkout URL","type":"main","index":0}]]},"Assign Checkout URL":{"main":[[{"node":"Build Inactive Message","type":"main","index":0}]]},"Build Inactive Message":{"main":[[{"node":"WhatsApp | Send (Evolution)","type":"main","index":0}]]},"WhatsApp | Send (Evolution)":{"main":[[{"node":"PG | Save Short Memory","type":"main","index":0}]]},"PG | Save Short Memory":{"main":[[{"node":"PG | Save Long Event","type":"main","index":0}]]},"PG | Save Long Event":{"main":[[{"node":"PG | Enqueue Follow-ups","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Normalize Input","type":"main","index":0}]]},"DDL: Create All Tables":{"main":[[{"node":"DDL: Create inactive_journey","type":"main","index":0}]]},"DDL: Create inactive_journey":{"main":[[{"node":"DDL: Create inactive_summary","type":"main","index":0}]]},"DDL: Create inactive_summary":{"main":[[{"node":"DDL: No-op (schema covered)","type":"main","index":0}]]}},"authors":"Derik Silva","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-02-07T23:23:20.857Z","id":108,"workflowId":"jGZCuPWlkZa8v9OB","versionId":"d593e344-6bcd-4c56-b3db-3233d6451d3e","event":"activated","userId":"e8b603ff-f7e3-43cf-bede-010ec75cfbe7"}]}}