educare-backend/docs/n8n-educare-chat-v2-state-machine.json
{
  "name": "Educare app-chat",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "options": {}
      },
      "id": "801324b6-72df-42cd-9ab1-91ee230dad0e",
      "name": "Webhook (Unified Entry)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -4384,
        656
      ],
      "webhookId": "f44aaa18-a489-4a77-a5af-b3f5b20953a9",
      "notes": "Ponto de entrada unificado - recebe mensagens do Evolution API OU Chatwoot"
    },
    {
      "parameters": {
        "jsCode": "// Source Detector v4.2 - Chatwoot + Evolution (normalização correta)\n\nconst items = $input.all();\nconst results = [];\n\nfunction pickTextFromEvolutionMessage(msg = {}) {\n  return (\n    msg.conversation ||\n    msg.extendedTextMessage?.text ||\n    msg.imageMessage?.caption ||\n    msg.videoMessage?.caption ||\n    msg.documentMessage?.caption ||\n    null\n  );\n}\n\nfunction pickMediaFromEvolutionMessage(msg = {}) {\n  // URL às vezes não vem no upsert; pode exigir etapa posterior de download\n  if (msg.imageMessage) return { type: \"image\", mime: msg.imageMessage.mimetype || null, url: null };\n  if (msg.videoMessage) return { type: \"video\", mime: msg.videoMessage.mimetype || null, url: null };\n  if (msg.audioMessage) return { type: \"audio\", mime: msg.audioMessage.mimetype || null, url: null };\n  if (msg.documentMessage) return { type: \"document\", mime: msg.documentMessage.mimetype || null, url: null };\n  return { type: null, mime: null, url: null };\n}\n\nfor (const item of items) {\n  const body = item.json.body || item.json || {};\n\n  // Detectar Chatwoot\n  const isChatwoot = !!(body.event && body.conversation);\n\n  // Detectar Evolution\n  const data = body.data || body;\n  const isEvolution = !!(data.key?.remoteJid);\n\n  let source = \"unknown\";\n  if (isChatwoot) source = \"chatwoot\";\n  else if (isEvolution) source = \"evolution\";\n\n  // Defaults (mantém compatibilidade com o resto do fluxo)\n  let nome = null;\n  let contato = null;\n  let id_mensagem = null;\n  let mensagem = null;\n  let type_message = null;\n  let url_anexo = null;\n  let mime_type = null;\n  let canal = null;\n  let instancia = body.instance || body.instancia || \"educare-chat\";\n  let origem = null;\n  let timestamp = body.timestamp || body.created_at || new Date().toISOString();\n\n  // Flag humano (default)\n  let is_human = null;\n\n  // ---- Normalização por fonte ----\n  if (isChatwoot) {\n    nome = body.sender?.name || body.sender_name || null;\n    contato = body.sender?.phone_number?.replace(\"+\", \"\") || body.phone || null;\n    id_mensagem = body.id || body.message_id || null;\n    mensagem = body.message || body.content || null;\n    type_message = body.content_type || body.type_message || null;\n    url_anexo = body.url_anexo || null;\n    mime_type = body.mime_type || null;\n    canal = body.conversation?.channel || body.canal || null;\n    origem = body.inbox?.name || body.origem || null;\n\n    // Chatwoot: humano geralmente é quem NÃO é \"private note\"/bot/etc (depende da sua regra)\n    // Mantendo neutro:\n    is_human = true;\n  }\n\n  if (isEvolution) {\n    const key = data.key || {};\n    const msg = data.message || {};\n\n    nome = data.pushName || null;\n    contato = key.remoteJid ? key.remoteJid.split(\"@\")[0] : null;\n    id_mensagem = key.id || null;\n\n    const text = pickTextFromEvolutionMessage(msg);\n    const media = pickMediaFromEvolutionMessage(msg);\n\n    mensagem = text;\n    type_message = data.messageType || media.type || null;\n    url_anexo = media.url;\n    mime_type = media.mime;\n\n    canal = \"evolution\";\n    origem = \"whatsapp\";\n\n    // Use o timestamp da própria mensagem se existir\n    timestamp = data.messageTimestamp\n      ? new Date(Number(data.messageTimestamp) * 1000).toISOString()\n      : timestamp;\n\n    // HUMANO = inbound (fromMe === false) + tem conteúdo (texto ou mídia)\n    const hasContent = !!text || !!media.type;\n    is_human = (key.fromMe === false) && hasContent;\n  }\n\n  const enrichedData = {\n    source,\n    raw_body: body,\n    is_chatwoot: isChatwoot,\n    is_evolution: isEvolution,\n\n    nome,\n    contato,\n    id_mensagem,\n    mensagem,\n    type_message,\n    url_anexo,\n    mime_type,\n    canal,\n    instancia,\n    origem,\n    timestamp,\n\n    // Campos auxiliares úteis pro fluxo:\n    is_human,\n    from_me: isEvolution ? (data.key?.fromMe ?? null) : null,\n    remote_jid: isEvolution ? (data.key?.remoteJid ?? null) : null\n  };\n\n  results.push({ json: enrichedData });\n}\n\nreturn results;"
      },
      "id": "300684ba-6022-423b-afa9-c4625b081598",
      "name": "Source Detector",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -4096,
        656
      ],
      "notes": "Identifica se a mensagem vem do Chatwoot ou Evolution API"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.source }}",
        "rules": {
          "rules": [
            {
              "value2": "chatwoot"
            },
            {
              "value2": "evolution",
              "output": 1
            }
          ]
        }
      },
      "id": "8373b41d-efc1-4e0c-b4da-70afb219d615",
      "name": "Router: Source Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -3392,
        624
      ],
      "notes": "Roteia para extrator específico baseado na fonte"
    },
    {
      "parameters": {
        "jsCode": "// Chatwoot Extractor v4.2\n// Extração robusta de mensagens e anexos do Chatwoot\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const body = item.json.raw || item.json.raw_body || {};\n  const event = body.event || '';\n  const conversation = body.conversation || {};\n  const meta = conversation.meta || {};\n  const sender = meta.sender || {};\n  const messages = conversation.messages || [];\n  const latestMessage = messages[messages.length - 1] || {};\n\n  const messageType = latestMessage.message_type || '';\n\n  // Filtrar apenas mensagens do usuário\n  if (event !== 'message_created' || messageType === 'outgoing') {\n    results.push({ json: { skip: true, reason: 'not_incoming_message' } });\n    continue;\n  }\n\n  // Anexos\n  let attachments = body.attachments || [];\n  if (attachments.length === 0 && latestMessage.attachments) {\n    attachments = latestMessage.attachments;\n  }\n\n  // Telefone\n  let phone = sender.phone_number || sender.identifier || '';\n  phone = phone.replace(/\\D/g, '').replace('@s.whatsapp.net', '');\n  if (phone.startsWith('+')) phone = phone.substring(1);\n\n  // Conteúdo da mensagem\n  const message = latestMessage.content || body.content || '';\n\n  // Detectar mídia\n  let is_audio = false;\n  let media_url = null;\n  let media_type = 'text';\n\n  const audio = attachments.find(a => a.file_type === 'audio');\n  const image = attachments.find(a => a.file_type === 'image');\n  const doc = attachments.find(a => ['file', 'document'].includes(a.file_type));\n\n  if (audio) {\n    is_audio = true;\n    media_type = 'audio';\n    media_url = audio.data_url;\n  } else if (image) {\n    media_type = 'image';\n    media_url = image.data_url;\n  } else if (doc) {\n    media_type = 'document';\n    media_url = doc.data_url;\n  }\n\n  results.push({\n    json: {\n      source: 'chatwoot',\n      phone,\n      message,\n      is_audio,\n      media_url,\n      media_type,\n      source_id: latestMessage.source_id || '',\n      conversation_id: conversation.id,\n      inbox_id: body.inbox?.id || conversation.inbox_id,\n      account_id: body.account?.id,\n      contact_id: sender.id,\n      sender_name: sender.name || '',\n      timestamp: latestMessage.created_at || body.created_at || new Date().toISOString(),\n      raw: body\n    }\n  });\n}\n\nreturn results.length ? results : [{ json: { skip: true } }];"
      },
      "id": "cd241153-9467-4752-b166-ff0d28b4b801",
      "name": "Chatwoot Extractor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -3072,
        528
      ],
      "notes": "Extrai phone, message, audio de webhooks Chatwoot"
    },
    {
      "parameters": {
        "jsCode": "// Evolution API Extractor v4.1\n// Extração de mensagens com mídia, texto e botões - padronizado\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const body = item.json.raw_body || {};\n  const data = body.data || body;\n  const key = data.key || {};\n  const msg = data.message || {};\n\n  // 1. Filtro: ignora mensagens enviadas por si ou de status\n  if (key.fromMe || key.remoteJid?.includes('status')) {\n    results.push({ json: { skip: true, reason: 'from_me_or_status' } });\n    continue;\n  }\n\n  // 2. Extrair telefone\n  const phone = key.remoteJid?.replace(/\\D/g, '').replace('@s.whatsapp.net', '') || '';\n\n  // 3. Detectar tipo de mensagem/mídia\n  let is_audio = false;\n  let media_url = null;\n  let message = '';\n  let media_type = 'text';\n  const type_message = Object.keys(msg)[0] || 'unknown';\n\n  if (msg.audioMessage) {\n    is_audio = true;\n    media_url = msg.audioMessage.url || data.mediaUrl;\n    media_type = 'audio';\n  } else if (msg.imageMessage) {\n    media_url = msg.imageMessage.url || data.mediaUrl;\n    message = msg.imageMessage.caption || '';\n    media_type = 'image';\n  } else if (msg.documentMessage) {\n    media_url = msg.documentMessage.url || data.mediaUrl;\n    message = msg.documentMessage.caption || '';\n    media_type = 'document';\n  } else if (msg.conversation) {\n    message = msg.conversation;\n  } else if (msg.extendedTextMessage) {\n    message = msg.extendedTextMessage.text;\n  } else if (msg.buttonsResponseMessage) {\n    message = msg.buttonsResponseMessage.selectedButtonId;\n  } else if (msg.listResponseMessage) {\n    message = msg.listResponseMessage.singleSelectReply?.selectedRowId || '';\n  }\n\n  results.push({\n    json: {\n      source: 'evolution',\n      phone,\n      message,\n      is_audio,\n      media_url,\n      media_type,\n      type_message,\n      conversation_id: null,\n      inbox_id: null,\n      account_id: null,\n      contact_id: null,\n      sender_name: data.pushName || '',\n      timestamp: data.messageTimestamp || data.messageTimestampMs || new Date().toISOString(),\n      raw: data\n    }\n  });\n}\n\nreturn results.length ? results : [{ json: { skip: true } }];"
      },
      "id": "6c0617aa-8bcf-4266-be9e-dbee037442b8",
      "name": "Evolution Extractor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -3072,
        736
      ],
      "notes": "Extrai phone, message, audio de webhooks Evolution API"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b5e1eb68-9b03-47f5-888e-29f691aa7c16",
      "name": "Gate: Not Skipped?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2752,
        640
      ],
      "notes": "Filtra mensagens que devem ser ignoradas (skip=true)"
    },
    {
      "parameters": {
        "dataType": "boolean",
        "value1": "={{ $json.is_audio }}",
        "rules": {
          "rules": [
            {
              "operation": "notEqual"
            },
            {
              "output": 1
            }
          ]
        }
      },
      "id": "c47042b2-2f79-4d59-b0cf-b452703d4a06",
      "name": "Router: Input Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -2400,
        768
      ]
    },
    {
      "parameters": {
        "jsCode": "// Normaliza o áudio transcrito para texto\nconst item = $input.item;\nreturn [{\n  json: {\n    ...item.json,\n    message: item.json.text || item.json.message, \n    is_audio_transcribed: true\n  }\n}];"
      },
      "id": "13785ce9-b68c-4614-b07e-caee1e59f9f5",
      "name": "Normalize Audio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -2032,
        384
      ]
    },
    {
      "parameters": {
        "url": "={{ $node[\"Global Constants\"].json.EDUCARE_API_URL }}/api/n8n/users/check",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $input.item.json.phone }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $node[\"Global Constants\"].json.EDUCARE_API_KEY }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "e9882692-7e4f-4370-81a4-87b4683aad19",
      "name": "API: Check User",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1728,
        752
      ],
      "notes": "Verifica se usuário existe e status da assinatura"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "exists",
              "leftValue": "={{ $json.exists }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9318ec1d-6d10-4440-bd08-c850d335dfc3",
      "name": "Gate: User Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1376,
        624
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "active",
              "leftValue": "={{ $json.subscription_status }}",
              "rightValue": "active",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "trialing",
              "leftValue": "={{ $json.subscription_status }}",
              "rightValue": "trialing",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "8fa51ab3-a33a-44ad-8af3-658bdd05162b",
      "name": "Gate: Active Sub?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1088,
        608
      ]
    },
    {
      "parameters": {
        "jsCode": "// Motor Temporal: Define a semana da criança\nconst item = $input.item;\nconst child = item.json.child || {};\n\nif (!child.dob) {\n  return [{ json: { \n    ...item.json,\n    error: 'no_dob',\n    target_flow: 'onboarding', \n    response_text: 'Por favor, cadastre seu bebê no app Educare+ primeiro.' \n  } }];\n}\n\nconst dob = new Date(child.dob);\nconst diff = Math.abs(new Date() - dob);\nconst currentWeek = Math.floor(Math.ceil(diff / (1000 * 60 * 60 * 24)) / 7);\n\nreturn [{ \n  json: { \n    ...item.json, \n    current_week: currentWeek, \n    child_id: child.id, \n    child_name: child.name \n  } \n}];"
      },
      "id": "16ff861a-9f3e-467d-bd41-0faae8a64562",
      "name": "Engine: Calc Weeks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -816,
        1200
      ],
      "notes": "Calcula a semana de vida do bebê baseado na data de nascimento"
    },
    {
      "parameters": {
        "jsCode": "// Deterministic Intent Classifier v2.3\n// Classificação robusta com vocabulário PT-BR expandido, logging e desambiguação\nconst item = $input.item;\nconst rawMsg = (item.json.message || '').toString().trim();\nconst msg = rawMsg.toLowerCase()\n  .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n  .replace(/(?<!\\d)[.,](?!\\d)|[!?;:()]/g, ' ')  // preserve decimal points like 8.5\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nconst wordCount = msg.split(' ').filter(w => w.length > 0).length;\nlet intent = 'question';\nlet confidence = 0;\nlet matched_keywords = [];\n\n// === QUESTION SIGNALS (detect questions FIRST) ===\nconst isQuestion = /^(como|quando|qual|quais|que|quanto|por\\s*que|porque|onde|o\\s+que|sera\\s+que|pode|posso|devo|preciso|e\\s+normal|e\\s+verdade|o\\s+que\\s+e|o\\s+que\\s+sao|dicas?|ajuda\\s+com|me\\s+(ajuda|explica|fala|diz)|gostaria\\s+de\\s+saber|quero\\s+saber)/.test(msg);\n  const hasAdvicePattern = /\\b(ideal|normal|certo|correto|adequado|recomendad|esperado|indicado|saudavel|deve\\s+ser|deveria|media|medio|tabela|referencia|padrao)\\b/.test(msg);\nconst endsWithQuestion = /\\?$/.test(rawMsg.trim());\nconst isQuestionLike = isQuestion || endsWithQuestion || hasAdvicePattern;\n\n// === MENU NAVIGATION ===\nconst menuExact = /^(menu|opcoes|opcao|ajuda|help|inicio|voltar|sair|cancelar|oi|ola|bom dia|boa tarde|boa noite)$/;\nconst menuSingle = /^\\d$/;\nif (menuExact.test(msg) || menuSingle.test(msg)) {\n  intent = 'menu_nav'; confidence = 1.0;\n  matched_keywords.push('menu_exact');\n}\n\n// === BIOMETRICS (peso, altura, perímetro cefálico) ===\nif (intent === 'question') {\n  const bioPatterns = [\n    /\\bpeso\\b/, /\\bpesa\\b/, /\\bpesou\\b/, /\\bpesar\\b/, /\\bpesando\\b/,\n    /\\bquilos?\\b/, /\\bkg\\b/, /\\bgramas?\\b/, /\\b\\d+\\s*g\\b/,\n    /\\baltura\\b/, /\\bmede\\b/, /\\bmediu\\b/, /\\bmedir\\b/, /\\bmedindo\\b/,\n    /\\bcentimetros?\\b/, /\\bcm\\b/,\n    /\\bperimetro\\b/, /\\bcefalico\\b/, /\\bcabeca\\b/, /\\bcircunferencia\\b/,\n    /\\bcrescimento\\b/, /\\bcresceu\\b/, /\\bengordou\\b/, /\\bemagreceu\\b/,\n    /\\bganhou\\b.*\\bpeso\\b/, /\\bperdeu\\b.*\\bpeso\\b/,\n    /\\btamanho\\b/, /\\bcomprimento\\b/,\n    /\\b\\d+[.,]?\\d*\\s*(kg|cm|g|m)\\b/, /\\d+kg/, /\\d+cm/, /\\d+g\\b/\n  ];\n  const m = bioPatterns.filter(p => p.test(msg));\n  if (m.length > 0) {\n    const hasNumericData = /\\d/.test(msg);\n    const hasActionVerb = /registr|anot|salv|log|colocar|atualiz/i.test(msg);\n\n    if (isQuestionLike && !hasNumericData && !hasActionVerb) {\n      intent = 'question'; confidence = 0.8;\n      matched_keywords = ['question_about_biometrics'];\n    } else if (wordCount <= 1 && !hasNumericData) {\n      intent = 'question'; confidence = 0.6;\n      matched_keywords = ['single_word_ambiguous'];\n    } else {\n      intent = 'biometrics';\n      confidence = Math.min(1.0, 0.5 + m.length * 0.2);\n      if (hasNumericData) confidence = Math.min(1.0, confidence + 0.2);\n      matched_keywords = m.map(p => p.source).slice(0, 5);\n    }\n  }\n}\n\n// === SLEEP ===\nif (intent === 'question') {\n  const sleepPatterns = [\n    /\\bsono\\b/, /\\bdormiu\\b/, /\\bdormir\\b/, /\\bdormindo\\b/, /\\bdorme\\b/,\n    /\\bacordou\\b/, /\\bacordar\\b/, /\\bacordando\\b/,\n    /\\bcochilo\\b/, /\\bcochilar\\b/, /\\bsoneca\\b/, /\\bsoninho\\b/,\n    /\\bnoite\\b.*\\b(dormiu|sono|acordou)\\b/, /\\bmadrugada\\b/,\n    /\\binsonia\\b/, /\\bdespertou\\b/, /\\bdespertar\\b/,\n    /\\bnaninha\\b/, /\\bninar\\b/, /\\bninando\\b/,\n    /\\bhoras?\\b.*\\b(dormiu|sono)\\b/, /\\bdormiu\\b.*\\bhoras?\\b/,\n    /\\bdescanso\\b/, /\\bdescansou\\b/, /\\bdescansar\\b/,\n    /\\brotina\\b.*\\bsono\\b/, /\\bsono\\b.*\\brotina\\b/\n  ];\n  const m = sleepPatterns.filter(p => p.test(msg));\n  if (m.length > 0) {\n    const hasTimeData = /\\d+\\s*h|\\d{1,2}:\\d{2}|\\d+\\s*horas?|\\d+\\s*minutos?/i.test(msg);\n    const hasActionVerb = /registr|anot|salv|log/i.test(msg);\n    const hasPastTense = /dormiu|acordou|descansou|despertou|cochilou/i.test(msg);\n\n    if (isQuestionLike && !hasTimeData && !hasActionVerb && !hasPastTense) {\n      intent = 'question'; confidence = 0.8;\n      matched_keywords = ['question_about_sleep'];\n    } else if (wordCount <= 1) {\n      intent = 'question'; confidence = 0.6;\n      matched_keywords = ['single_word_ambiguous'];\n    } else {\n      intent = 'sleep';\n      confidence = Math.min(1.0, 0.5 + m.length * 0.2);\n      if (hasTimeData || hasPastTense) confidence = Math.min(1.0, confidence + 0.2);\n      matched_keywords = m.map(p => p.source).slice(0, 5);\n    }\n  }\n}\n\n// === VACCINES ===\nif (intent === 'question') {\n  const vaccinePatterns = [\n    /\\bvacina\\b/, /\\bvacinas\\b/, /\\bvacinacao\\b/, /\\bvacinado\\b/, /\\bvacinar\\b/,\n    /\\bimuniza\\b/, /\\bimunizacao\\b/,\n    /\\bbcg\\b/, /\\bhepatite\\b/, /\\bpentavalente\\b/, /\\btetravalente\\b/,\n    /\\bpolio\\b/, /\\bpoliomelite\\b/, /\\bvop\\b/, /\\bvip\\b/,\n    /\\btriplice\\b/, /\\bsrc\\b/, /\\bmmr\\b/,\n    /\\brotavirus\\b/, /\\bpneumo\\b/, /\\bpneumococica\\b/,\n    /\\bmeningo\\b/, /\\bmeningococica\\b/,\n    /\\bfebre\\s*amarela\\b/, /\\bvaricela\\b/, /\\bcatapora\\b/,\n    /\\bdose\\b/, /\\breforco\\b/, /\\bcaderneta\\b.*\\bvacin\\b/,\n    /\\bdtp\\b/, /\\binfluenza\\b/, /\\bgripe\\b.*\\bvacin\\b/,\n    /\\bcovid\\b.*\\bvacin\\b/, /\\bvacin\\b.*\\bcovid\\b/,\n    /\\bcartao\\b.*\\bvacin\\b/, /\\bvacin\\b.*\\bcartao\\b/\n  ];\n  const m = vaccinePatterns.filter(p => p.test(msg));\n  if (m.length > 0) {\n    const hasActionVerb = /tomou|registr|anot|salv|fez|aplicou|log/i.test(msg);\n    const hasDoseInfo = /\\bdose\\b|\\breforco\\b|\\bsegunda\\b|\\bterceira\\b|\\bprimeira\\b/i.test(msg);\n\n    if (isQuestionLike && !hasActionVerb && !hasDoseInfo && m.length <= 1) {\n      intent = 'question'; confidence = 0.7;\n      matched_keywords = ['question_about_vaccine'];\n    } else {\n      intent = 'vaccine';\n      confidence = Math.min(1.0, 0.5 + m.length * 0.2);\n      if (hasActionVerb || hasDoseInfo) confidence = Math.min(1.0, confidence + 0.15);\n      matched_keywords = m.map(p => p.source).slice(0, 5);\n    }\n  }\n}\n\n// === APPOINTMENTS ===\nif (intent === 'question') {\n  const apptPatterns = [\n    /\\bconsulta\\b/, /\\bconsultas\\b/, /\\bconsultar\\b/,\n    /\\bmedico\\b/, /\\bmedica\\b/, /\\bdoutor\\b/, /\\bdoutora\\b/,\n    /\\bdr\\b/, /\\bdra\\b/,\n    /\\bpediatra\\b/, /\\bneuropediatra\\b/, /\\bortopedista\\b/,\n    /\\bespecialista\\b/, /\\bginecologista\\b/, /\\bobstetra\\b/,\n    /\\bexame\\b/, /\\bexames\\b/,\n    /\\bagend\\b/, /\\bagendar\\b/, /\\bagendamento\\b/, /\\bagendei\\b/,\n    /\\bmarcar\\b/, /\\bmarquei\\b/, /\\bmarque\\b/,\n    /\\bclinica\\b/, /\\bubs\\b/, /\\bhospital\\b/, /\\bmaternidade\\b/,\n    /\\bpronto\\s*socorro\\b/,\n    /\\bretorno\\b/, /\\brevisao\\b/,\n    /\\bultra\\b/, /\\bultrass?om\\b/, /\\becografia\\b/,\n    /\\bhemograma\\b/, /\\braio\\s*x\\b/, /\\bressonancia\\b/\n  ];\n  const m = apptPatterns.filter(p => p.test(msg));\n  if (m.length > 0) {\n    const hasActionVerb = /agend|marc|registr|anot|salv|log/i.test(msg);\n    const hasDateRef = /dia|amanha|semana|mes|segunda|terca|quarta|quinta|sexta|sabado|domingo|\\d{1,2}\\/\\d/i.test(msg);\n\n    if (isQuestionLike && !hasActionVerb && !hasDateRef && m.length <= 1) {\n      intent = 'question'; confidence = 0.7;\n      matched_keywords = ['question_about_appointment'];\n    } else {\n      intent = 'appointment';\n      confidence = Math.min(1.0, 0.5 + m.length * 0.2);\n      if (hasActionVerb || hasDateRef) confidence = Math.min(1.0, confidence + 0.15);\n      matched_keywords = m.map(p => p.source).slice(0, 5);\n    }\n  }\n}\n\n// Logging para auditoria\nconst log = {\n  ts: new Date().toISOString(),\n  msg: rawMsg.substring(0, 80),\n  intent,\n  conf: Math.round(confidence * 100) / 100,\n  keys: matched_keywords.slice(0, 3),\n  words: wordCount,\n  q: isQuestionLike,\n  v: 'v2.3'\n};\nconsole.log('[IC]', JSON.stringify(log));\n\nreturn [{\n  json: {\n    ...item.json,\n    intent,\n    intent_confidence: Math.round(confidence * 100) / 100,\n    classifier_version: 'deterministic_v2.3'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -624,
        1200
      ],
      "id": "4b27a7f6-d9d0-4831-828b-cfda3da83e43",
      "name": "Intent Classifier",
      "alwaysOutputData": true,
      "notes": "Classificador determinístico v2.0 — vocabulário PT-BR expandido, normalização Unicode, logging, resolução de conflitos"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.intent }}",
        "rules": {
          "rules": [
            {
              "value2": "menu_nav"
            },
            {
              "value2": "biometrics",
              "output": 1
            },
            {
              "value2": "sleep",
              "output": 2
            },
            {
              "value2": "vaccine",
              "output": 3
            },
            {
              "value2": "question",
              "output": 4
            },
            {
              "value2": "appointment",
              "output": 5
            }
          ]
        },
        "fallbackOutput": 4
      },
      "id": "ae984e0c-eae3-43fd-ab6f-ec55a0f1ac25",
      "name": "Router: Intent Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -432,
        1168
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $input.item.json.message }}",
        "rules": {
          "rules": [
            {
              "value2": "1"
            },
            {
              "value2": "2",
              "output": 1
            },
            {
              "value2": "3",
              "output": 2
            },
            {
              "value2": "4",
              "output": 3
            },
            {
              "value2": "5",
              "output": 3
            }
          ]
        },
        "fallbackOutput": 0
      },
      "id": "fe8880af-20a8-478a-a932-3085497ace29",
      "name": "Router: Menu Options",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -256,
        368
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"Global Constants\"].json.EDUCARE_API_URL }}/api/n8n/biometrics/update",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $node[\"Global Constants\"].json.EDUCARE_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "child_id",
              "value": "={{ $input.item.json.child_id }}"
            },
            {
              "name": "raw_text",
              "value": "={{ $input.item.json.message }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "cbcbb161-43c4-41bc-9a8a-2332a94096cd",
      "name": "API: Biometrics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        304
      ],
      "notes": "Registra peso/altura com NLP parsing"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"Global Constants\"].json.EDUCARE_API_URL }}/api/n8n/sleep/log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $node[\"Global Constants\"].json.EDUCARE_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "child_id",
              "value": "={{ $input.item.json.child_id }}"
            },
            {
              "name": "raw_text",
              "value": "={{ $input.item.json.message }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "072a06aa-c76e-4077-8bc8-f9a247e70aff",
      "name": "API: Sleep Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        16,
        480
      ],
      "notes": "Registra sono com NLP parsing"
    },
    {
      "parameters": {
        "url": "={{ $node[\"Global Constants\"].json.EDUCARE_API_URL }}/api/n8n/vaccines/check",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "childId",
              "value": "={{ $input.item.json.child_id }}"
            },
            {
              "name": "age_weeks",
              "value": "={{ $input.item.json.current_week }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $node[\"Global Constants\"].json.EDUCARE_API_KEY }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "d76b5f9e-9621-471e-82c0-dd5960ed373d",
      "name": "API: Vaccines",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        16,
        656
      ],
      "notes": "Verifica calendário vacinal SBP"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"Global Constants\"].json.EDUCARE_API_URL }}/api/n8n/rag/ask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $node[\"Global Constants\"].json.EDUCARE_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        },
        "contentType": "json",
        "body": "={\n  \"question\": \"{{ $json.enhanced_message || $json.message }}\",\n  \"phone\": \"{{ $json.phone }}\",\n  \"context\": \"{{ $json.active_context || $json.state_context || 'child' }}\",\n  \"system_prompt\": \"{{ $json.system_prompt }}\"\n}"
      },
      "id": "eeba3f30-d87c-426e-b1c3-67261241b396",
      "name": "API: RAG (TitiNauta)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        960
      ],
      "notes": "Perguntas gerais via RAG com contexto do bebê"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"Global Constants\"].json.EDUCARE_API_URL }}/api/n8n/appointments/create",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $node[\"Global Constants\"].json.EDUCARE_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "child_id",
              "value": "={{ $input.item.json.child_id }}"
            },
            {
              "name": "raw_text",
              "value": "={{ $input.item.json.message }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "1c6dfe97-455e-4075-9bc4-64379ddeca04",
      "name": "API: Appointments",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -352,
        1504
      ],
      "notes": "Agenda consultas com NLP parsing"
    },
    {
      "parameters": {
        "url": "={{ $node[\"Global Constants\"].json.EDUCARE_API_URL }}/api/n8n/content/child",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "weeks",
              "value": "={{ $input.item.json.current_week }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $node[\"Global Constants\"].json.EDUCARE_API_KEY }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "d9190aae-4619-4de6-946e-c64a781c71d5",
      "name": "API: Child Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        -32
      ]
    },
    {
      "parameters": {
        "url": "={{ $node[\"Global Constants\"].json.EDUCARE_API_URL }}/api/n8n/content/mother",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "weeks",
              "value": "={{ $input.item.json.current_week }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $node[\"Global Constants\"].json.EDUCARE_API_KEY }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "fcdb2bd2-6c01-446d-b770-f95f8c377da2",
      "name": "API: Mother Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepara resposta unificada para roteamento de saída\n// v2.0 — Phase 2 fix: removed Merge: Unified Data references\nconst item = $input.item;\n\n// Recuperar dados do extractor ativo nesta execução\nlet extractorData = {};\ntry { extractorData = $('Chatwoot Extractor').item.json; } catch(e) {\n  try { extractorData = $('Evolution Extractor').item.json; } catch(e2) {\n    extractorData = {};\n  }\n}\n\nconst source = item.json.source || extractorData.source || 'evolution';\nconst responseText = item.json.response_text || item.json.answer || item.json.message || 'Mensagem recebida!';\nconst mediaType = item.json.media_type || 'text';\n\nreturn [{\n  json: {\n    ...item.json,\n    source,\n    response_text: responseText,\n    media_type: mediaType,\n    phone: item.json.phone || extractorData.phone,\n    conversation_id: item.json.conversation_id || extractorData.conversation_id || null,\n    inbox_id: item.json.inbox_id || extractorData.inbox_id || null,\n    account_id: item.json.account_id || extractorData.account_id || null\n  }\n}];"
      },
      "id": "d52f2243-68b7-4dca-affa-b8a393686db3",
      "name": "Prepare Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        368,
        272
      ],
      "notes": "Prepara dados unificados para resposta"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.source }}",
        "rules": {
          "rules": [
            {
              "value2": "chatwoot"
            },
            {
              "value2": "evolution",
              "output": 1
            }
          ]
        },
        "fallbackOutput": 1
      },
      "id": "90a64423-8f62-4de5-9897-22edc5fc39c4",
      "name": "Router: Response Source",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        560,
        816
      ],
      "notes": "Roteia resposta para Chatwoot ou Evolution API"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"Global Constants\"].json.CHATWOOT_API_URL }}/api/v1/accounts/{{ $json.account_id }}/conversations/{{ $json.conversation_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $node[\"Global Constants\"].json.CHATWOOT_API_TOKEN || '' }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.response_text }}"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "name": "content_type",
              "value": "text"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "d88f2d2a-1a71-4139-ada0-a8d02e597a02",
      "name": "Chatwoot: Send Text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        704,
        592
      ],
      "notes": "Envia resposta de texto via Chatwoot API"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.media_type || 'text' }}",
        "rules": {
          "rules": [
            {
              "value2": "text"
            },
            {
              "value2": "image",
              "output": 1
            },
            {
              "value2": "audio",
              "output": 2
            },
            {
              "value2": "document",
              "output": 3
            }
          ]
        },
        "fallbackOutput": 0
      },
      "id": "26db85f2-f552-499e-a009-b70c1b7ea1c2",
      "name": "Router: Evo Output Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        800,
        800
      ],
      "notes": "Roteia resposta Evolution baseado no tipo de mídia"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"Global Constants\"].json.EVOLUTION_API_URL }}/message/sendText/{{ $node[\"Global Constants\"].json.EVOLUTION_INSTANCE }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $node[\"Global Constants\"].json.EVOLUTION_API_KEY || '' }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "text",
              "value": "={{ $json.response_text }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "a6fb2c65-4170-4c1a-8cf9-e799af45a472",
      "name": "Evo: Send Text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1024,
        448
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"Global Constants\"].json.EVOLUTION_API_URL }}/message/sendMedia/{{ $node[\"Global Constants\"].json.EVOLUTION_INSTANCE }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $node[\"Global Constants\"].json.EVOLUTION_API_KEY || '' }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "mediatype",
              "value": "image"
            },
            {
              "name": "media",
              "value": "={{ $json.media_url }}"
            },
            {
              "name": "caption",
              "value": "={{ $json.response_text }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "79a7281c-9d55-41ca-8b1a-530f3c4793a8",
      "name": "Evo: Send Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1024,
        656
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"Global Constants\"].json.EVOLUTION_API_URL }}/message/sendWhatsAppAudio/{{ $node[\"Global Constants\"].json.EVOLUTION_INSTANCE }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $node[\"Global Constants\"].json.EVOLUTION_API_KEY || '' }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "audio",
              "value": "={{ $json.media_url }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "07d71687-6614-4859-a05f-63135dc2828f",
      "name": "Evo: Send Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1024,
        848
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"Global Constants\"].json.EVOLUTION_API_URL }}/message/sendMedia/{{ $node[\"Global Constants\"].json.EVOLUTION_INSTANCE }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $node[\"Global Constants\"].json.EVOLUTION_API_KEY || '' }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "mediatype",
              "value": "document"
            },
            {
              "name": "media",
              "value": "={{ $json.media_url }}"
            },
            {
              "name": "caption",
              "value": "={{ $json.response_text }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "4e10b0e0-a80f-402a-a2e8-dcc4ebb3e80a",
      "name": "Evo: Send Document",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        1056
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare: No User Msg v2.0 — supports both Chatwoot and Evolution sources\nconst item = $input.item;\n\n// Try to get data from whichever extractor ran\nlet ref;\ntry {\n  ref = $('Chatwoot Extractor').item.json;\n} catch (e1) {\n  try {\n    ref = $('Evolution Extractor').item.json;\n  } catch (e2) {\n    ref = item.json;\n  }\n}\n\nconst escapeMarkdown = (text = '') => text.replace(/([_*~])/g, '\\\\$1');\n\nconst phone = String(ref.phone || '');\nconst message = ref.message || '';\nconst media_type = ref.media_type || 'text';\nconst media_url = ref.media_url || null;\nconst is_audio = String(ref.is_audio || false);\nconst source_id = ref.source_id || null;\nconst timestamp = ref.timestamp || Date.now();\nconst source = ref.source || 'evolution';\n\nconst conversation_id = String(ref.conversation_id || '');\nconst inbox_id = String(ref.inbox_id || '');\nconst account_id = String(ref.account_id || '');\nconst contact_id = String(ref.contact_id || '');\nconst sender_name_raw = ref.sender_name || ref.name || '';\nconst sender_name = sender_name_raw.trim() || 'mamãe/papai';\nconst safe_sender_name = escapeMarkdown(sender_name);\n\nconst instancia = ref.instancia || 'educare-chat';\n\nconst response_text = `Oi, ${safe_sender_name}! 👋\n\nNotei que você ainda não tem uma conta ativa no app *Educare+*. Com ele, você acompanha vacinas, consultas, fases do bebê, tudo com muito carinho e praticidade. 👶✨\n\n💙 Que tal experimentar o app gratuitamente?\n\n📲 Baixe agora: https://educareapp.com.br/app\n\nSe preferir, posso te ajudar por aqui no WhatsApp também!`;\n\nreturn [{\n  json: {\n    phone,\n    message,\n    media_type,\n    media_url,\n    is_audio,\n    source_id,\n    timestamp,\n    conversation_id,\n    inbox_id,\n    account_id,\n    contact_id,\n    sender_name,\n    instancia,\n    source,\n    response_text,\n    user_found: false,\n    lead_status: 'novo'\n  }\n}];"
      },
      "id": "873f7608-c956-4d1f-9140-151357602a33",
      "name": "Prepare: No User Msg",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -1376,
        880
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepara mensagem para usuários com assinatura inativa\n// v2.0 — Phase 2 fix: removed Merge: Unified Data references\nconst base = $input.item.json;\n\n// Recuperar dados do extractor ativo nesta execução\nlet extractorData = {};\ntry { extractorData = $('Chatwoot Extractor').item.json; } catch(e) {\n  try { extractorData = $('Evolution Extractor').item.json; } catch(e2) {\n    extractorData = {};\n  }\n}\n\nconst phone = base.phone || extractorData.phone || '';\n\nreturn [{\n  json: {\n    channel: base.source || extractorData.source || 'evolution',\n    source: base.source || extractorData.source || 'evolution',\n    message_id: base.message_id || base.id || String(base.timestamp || $execution.id),\n    phone,\n    text: base.text || base.message || base.body || '',\n    user: {\n      user_id: base.user_id || (base.user ? (base.user.id || base.user.user_id) : undefined),\n      name: base.user_name || (base.user ? base.user.name : '') || '',\n      subscription_status: base.subscription_status || (base.user ? base.user.subscription_status : '') || 'inactive',\n      stripe_customer_id: base.stripe_customer_id || (base.user ? base.user.stripe_customer_id : '') || '',\n      stripe_checkout_url: base.stripe_checkout_url || ''\n    },\n    ctx: {\n      locale: base.locale || 'pt-BR',\n      campaign_id: base.campaign_id || 'inactive_reactivation_v1',\n      conversation_id: extractorData.conversation_id || null,\n      inbox_id: extractorData.inbox_id || null,\n      account_id: extractorData.account_id || null\n    }\n  }\n}];"
      },
      "id": "f594a78d-d93c-494f-88d5-73c49cefd846",
      "name": "Prepare: Inactive Msg",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -1104,
        880
      ]
    },
    {
      "parameters": {
        "content": "Validação de usuário, classificação, e  descarte de mensagem geradas por agentes. Ou atualizações do chatwoot ou evolution.",
        "height": 480,
        "width": 928
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3824,
        464
      ],
      "id": "54cbb66f-6337-49bf-93b2-d952dae3b6d5",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Detecta o tipo de mensagem (texto, audio, etc.)",
        "height": 624,
        "width": 1344,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2832,
        336
      ],
      "id": "bd7fd420-7656-4601-9703-a57a116e5c82",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -2192,
        640
      ],
      "id": "a15cb076-9a83-4d14-8662-7e047eb06203",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "gddH24JwjrAV57aC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8d59441a-8a58-4dae-8bad-8477b148786b",
              "name": "phone",
              "value": "={{$json.phone}}",
              "type": "string"
            },
            {
              "id": "30ddb993-997d-4fa8-8418-c07c48f96624",
              "name": "name",
              "value": "={{$json.sender_name}}\n",
              "type": "string"
            },
            {
              "id": "a5077ce4-5e0c-4f3c-9785-de5c9d5b6b55",
              "name": "lastmessage",
              "value": "={{$json.message}}",
              "type": "string"
            },
            {
              "id": "168d7eff-bfd3-46fd-8112-10b795103105",
              "name": "media_type",
              "value": "={{$json.media_type}}",
              "type": "string"
            },
            {
              "id": "d1c66522-0cfa-48cb-9918-f7f20c97a8ed",
              "name": "media_url",
              "value": "={{$json.media_url}}",
              "type": "string"
            },
            {
              "id": "32f49946-61b4-4c0b-8ecb-dfa927849f6c",
              "name": "is_audio",
              "value": "={{$json.is_audio}}",
              "type": "boolean"
            },
            {
              "id": "b4e529ad-2ec8-419d-bc4c-6fd3d2f0072d",
              "name": "source",
              "value": "={{$json.source}}",
              "type": "string"
            },
            {
              "id": "dd0c314f-ae01-4c71-a102-ce9a5c3d0708",
              "name": "source_id",
              "value": "={{$json.source_id}}",
              "type": "string"
            },
            {
              "id": "5e264e66-8654-4623-97b8-feba01a06db5",
              "name": "timestamp",
              "value": "={{$json.timestamp}}",
              "type": "number"
            },
            {
              "id": "864ea5bf-be3e-4764-a38d-4447b29cb624",
              "name": "conversation_id",
              "value": "={{$json.conversation_id}}",
              "type": "string"
            },
            {
              "id": "937ef3c0-a6de-4b81-ab7c-3db3e0772eaa",
              "name": "inbox_id",
              "value": "={{ $json.inbox_id }}",
              "type": "string"
            },
            {
              "id": "ec2a4fb8-d54c-4b1c-8439-9543164520ce",
              "name": "account_id",
              "value": "={{ $json.account_id }}",
              "type": "string"
            },
            {
              "id": "6408684e-59ac-43f7-a2e9-5aea4a5030e4",
              "name": "contact_id",
              "value": "={{ $json.contact_id }}",
              "type": "string"
            },
            {
              "id": "ccefef9e-50db-4a5e-941f-afb9fed2643e",
              "name": "sender_name",
              "value": "={{ $json.sender_name }}",
              "type": "string"
            },
            {
              "id": "ea85d2fc-e888-4418-88c1-a90de65c08c9",
              "name": "thumbnail",
              "value": "={{ $json.thumbnail }}",
              "type": "string"
            },
            {
              "id": "c4083e63-e4fe-4313-aaa5-7909edb7c7db",
              "name": "lead_status",
              "value": "={{ $json.lead_status }}",
              "type": "string"
            },
            {
              "id": "6df6bcdd-63fc-4b16-99fb-a8b596a5b535",
              "name": "user_found",
              "value": "={{ $json.user_found }}",
              "type": "boolean"
            },
            {
              "id": "bbb87b09-5467-40d7-9fdf-8c2a84f67f50",
              "name": "response_text",
              "value": "={{ $json.response_text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1376,
        1088
      ],
      "id": "b3c3bba5-51be-4b40-af77-96aa016f47b9",
      "name": "Edit Fields",
      "notes": "Dados para tratar leads"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "45663cbc-a1b9-46d2-9fa5-0d6b32039e88",
              "leftValue": "={{$json.is_human}}",
              "rightValue": "incoming",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3744,
        656
      ],
      "id": "66fee6be-f9d6-442a-977b-d56a5ef973c7",
      "name": "É humano?"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1088,
        1088
      ],
      "id": "00fa1dae-5a2c-47f7-b5d9-65d75077617c",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "jGZCuPWlkZa8v9OB",
          "mode": "list",
          "cachedResultUrl": "/workflow/jGZCuPWlkZa8v9OB",
          "cachedResultName": "SUB | Inactive User Reactivation (WhatsApp + Stripe + PG Memory)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "thisFieldAcceptsAnyType": "={{$json}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "aField",
              "displayName": "aField",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "aNumber",
              "displayName": "aNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": true
            },
            {
              "id": "thisFieldAcceptsAnyType",
              "displayName": "thisFieldAcceptsAnyType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "anArray",
              "displayName": "anArray",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1088,
        1264
      ],
      "id": "12f082d0-0412-4824-b7c6-4767c3e1b1d4",
      "name": "Call 'Agente Lead - long memory'1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "n6ZpQvp96iPCaIvG",
          "mode": "list",
          "cachedResultUrl": "/workflow/n6ZpQvp96iPCaIvG",
          "cachedResultName": "Lead CRM"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "thisFieldAcceptsAnyType": "={{$json}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "aField",
              "displayName": "aField",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "aNumber",
              "displayName": "aNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": true
            },
            {
              "id": "thisFieldAcceptsAnyType",
              "displayName": "thisFieldAcceptsAnyType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "anArray",
              "displayName": "anArray",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1376,
        1392
      ],
      "id": "14fd7168-4324-463f-8d7a-19f617a6b4b3",
      "name": "Call 'Agente Lead'"
    },
    {
      "parameters": {
        "jsCode": "// Global Constants v2.1 — Static values + Phone 9th digit normalization\nconst item = $input.item;\nlet phone = item.json.phone || \"\";\n\n// Brazilian phone 9th digit fix: 559891628206 (12 digits) → 5598991628206 (13 digits)\n// Evolution API sometimes drops the 9th digit from mobile numbers\nif (phone) {\n  const digits = phone.replace(/\\D/g, \"\");\n  if (digits.length === 12 && digits.startsWith(\"55\")) {\n    const ddd = digits.substring(2, 4);\n    const localNumber = digits.substring(4);\n    // Mobile numbers should have 9 digits (starting with 9)\n    if (localNumber.length === 8 && !localNumber.startsWith(\"9\")) {\n      // Add the 9th digit\n      phone = digits.substring(0, 4) + \"9\" + localNumber;\n    } else if (localNumber.length === 8) {\n      phone = digits.substring(0, 4) + \"9\" + localNumber;\n    }\n  }\n}\n\nreturn [{\n  json: {\n    ...item.json,\n    phone,\n    phone_original: item.json.phone || \"\",\n    EDUCARE_API_URL: \"https://educareapp.com.br\",\n    EDUCARE_API_KEY: \"educare_external_api_key_2025\",\n    EVOLUTION_API_URL: \"https://api.educareapp.com.br\",\n    EVOLUTION_INSTANCE: \"educare-chat\",\n    EVOLUTION_API_KEY: \"0C7951B425D6-458B-B662-1FF1EFDE0AFF\",\n    CHATWOOT_API_URL: \"https://chatwoot.educareapp.com.br\",\n    CHATWOOT_API_TOKEN: \"\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -1984,
        752
      ],
      "id": "8cdeb497-286a-4d70-bae7-756e8c68eb99",
      "name": "Global Constants",
      "alwaysOutputData": true,
      "notes": "Constantes globais hardcoded (server-to-server, seguro)"
    },
    {
      "parameters": {
        "url": "={{ $node[\"Global Constants\"].json.EDUCARE_API_URL }}/api/conversation/state",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $node[\"Global Constants\"].json.phone }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $node[\"Global Constants\"].json.EDUCARE_API_KEY }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 10000
        }
      },
      "id": "state-get-001",
      "name": "API: Get State",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -976,
        368
      ]
    },
    {
      "parameters": {
        "jsCode": "// State Router v2.1 — Fixed nested state access\nconst item = $input.item;\nconst rawData = item.json;\n\n// API: Get State returns {success, state: {user_phone, state, active_context, ...}}\nconst stateObj = rawData.state || rawData;\nconst currentState = (stateObj.state || stateObj.current_state || \"ENTRY\").toUpperCase();\n\n// Get phone and message from upstream nodes\nlet upstreamData = {};\ntry { upstreamData = $node[\"Global Constants\"].json || {}; } catch(e) {\n  try { upstreamData = $node[\"Gate: Active Sub?\"].json || {}; } catch(e2) {\n    try { upstreamData = $node[\"API: Check User\"].json || {}; } catch(e3) {}\n  }\n}\n\nconst message = (upstreamData.message || \"\").toString().trim();\nconst msgLower = message.toLowerCase();\nconst phone = upstreamData.phone || stateObj.user_phone || stateObj.phone || \"\";\n\nconst result = {\n  ...upstreamData,\n  phone,\n  message,\n  conversation_state: currentState,\n  active_context: stateObj.active_context || stateObj.context || null,\n  assistant_name: stateObj.assistant_name || null,\n  selected_child_id: stateObj.active_child_id || stateObj.selected_child_id || null,\n  journey_week: stateObj.journey_week || null,\n  audio_preference: stateObj.audio_preference || \"text\",\n  route: \"normal\"\n};\n\nconst isContextButton = (msgLower === \"ctx_child\" || msgLower === \"ctx_mother\" ||\n  (currentState === \"CONTEXT_SELECTION\" && (msgLower === \"1\" || msgLower === \"2\")));\n\nconst isActionButton = (msgLower.startsWith(\"action_\") || msgLower.startsWith(\"content_\") ||\n  msgLower.startsWith(\"log_\") || msgLower.startsWith(\"support_\"));\n\nconst isFeedbackButton = msgLower.startsWith(\"fb_\");\n\nif (currentState === \"ENTRY\" || !currentState || currentState === \"null\" || currentState === \"undefined\") {\n  result.route = \"entry\";\n} else if (isContextButton) {\n  result.route = \"button_resolve\";\n  result.button_id = msgLower === \"1\" ? \"ctx_child\" : msgLower === \"2\" ? \"ctx_mother\" : msgLower;\n} else if (currentState === \"CONTEXT_SELECTION\") {\n  result.route = \"entry\";\n} else if (isFeedbackButton || currentState === \"FEEDBACK\") {\n  result.route = \"feedback\";\n  if (isFeedbackButton) result.button_id = msgLower;\n} else if (isActionButton) {\n  result.route = \"button_resolve\";\n  result.button_id = msgLower;\n} else if (currentState === \"EXIT\" || currentState === \"PAUSE\") {\n  result.route = \"entry\";\n} else {\n  result.route = \"normal\";\n}\n\nreturn [{ json: result }];"
      },
      "id": "state-router-001",
      "name": "State Router",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -784,
        368
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.route }}",
        "rules": {
          "rules": [
            {
              "value2": "normal"
            },
            {
              "value2": "entry",
              "output": 1
            },
            {
              "value2": "feedback",
              "output": 2
            },
            {
              "value2": "exit",
              "output": 3
            },
            {
              "value2": "button_resolve",
              "output": 4
            }
          ]
        },
        "fallbackOutput": 0
      },
      "id": "state-switch-001",
      "name": "Router: State Flow",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -512,
        224
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"Global Constants\"].json.EDUCARE_API_URL }}/api/conversation/state/transition",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $node[\"Global Constants\"].json.EDUCARE_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone: $json.phone, to_state: \"CONTEXT_SELECTION\" }) }}",
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 10000
        },
        "contentType": "json",
        "body": "={\n  \"phone\": \"{{ $node[\\\"State Router\\\"].json.phone }}\",\n  \"to_state\": \"CONTEXT_SELECTION\"\n}"
      },
      "id": "entry-transition-001",
      "name": "API: Entry Transition",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -528,
        32
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"Global Constants\"].json.EVOLUTION_API_URL }}/message/sendButtons/{{ $node[\"Global Constants\"].json.EVOLUTION_INSTANCE }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $node[\"Global Constants\"].json.EVOLUTION_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.phone || $node[\"State Router\"].json.phone }}\",\n  \"options\": { \"delay\": 300, \"presence\": \"composing\" },\n  \"buttonMessage\": {\n    \"text\": \"Sobre o que você quer falar agora? 💬\",\n    \"buttons\": [\n      { \"type\": \"reply\", \"reply\": { \"id\": \"ctx_child\", \"title\": \"👶 Sobre meu bebê\" } },\n      { \"type\": \"reply\", \"reply\": { \"id\": \"ctx_mother\", \"title\": \"💚 Sobre mim\" } }\n    ],\n    \"footerText\": \"TitiNauta 🚀\"\n  }\n}",
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 10000
        },
        "contentType": "json",
        "body": "={\n  \"number\": \"{{ $json.phone }}\",\n  \"options\": { \"delay\": 300, \"presence\": \"composing\" },\n  \"buttonMessage\": {\n    \"text\": \"Sobre o que voc\\u00ea quer falar agora? \\ud83d\\udcac\",\n    \"buttons\": [\n      { \"type\": \"reply\", \"reply\": { \"id\": \"ctx_child\", \"title\": \"\\ud83d\\udc76 Sobre meu beb\\u00ea\" } },\n      { \"type\": \"reply\", \"reply\": { \"id\": \"ctx_mother\", \"title\": \"\\ud83d\\udc9a Sobre mim\" } }\n    ],\n    \"footerText\": \"TitiNauta \\ud83d\\ude80\"\n  }\n}"
      },
      "id": "entry-buttons-001",
      "name": "API: Send Context Buttons",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -352,
        32
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"Global Constants\"].json.EDUCARE_API_URL }}/api/conversation/feedback",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $node[\"Global Constants\"].json.EDUCARE_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  phone: $json.phone,\n  rating: $json.message === 'fb_1' ? 1 : ($json.message === 'fb_3' ? 3 : 5),\n  context: $json.conversation_state || 'FEEDBACK',\n  source: 'whatsapp_button'\n}) }}",
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 10000
        },
        "contentType": "json",
        "body": "={\n  \"phone\": \"{{ $json.phone }}\",\n  \"score\": 3,\n  \"state\": \"{{ $json.conversation_state }}\",\n  \"active_context\": \"{{ $json.active_context }}\"\n}"
      },
      "id": "feedback-save-001",
      "name": "API: Save Feedback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -592,
        640
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare thank-you message after feedback\nconst item = $input.item;\nconst phone = item.json.phone || '';\n\nlet extractorData = {};\ntry { extractorData = $node[\"Evolution Extractor\"].item.json; } catch(e) {\n  try { extractorData = $node[\"Chatwoot Extractor\"].item.json; } catch(e2) {}\n}\n\nreturn [{ json: {\n  source: extractorData.source || 'evolution',\n  phone,\n  response_text: 'Obrigado pelo seu feedback! Ele nos ajuda a melhorar. 💙',\n  media_type: 'text',\n  conversation_id: extractorData.conversation_id || null,\n  inbox_id: extractorData.inbox_id || null,\n  account_id: extractorData.account_id || null\n}}];"
      },
      "id": "feedback-thanks-001",
      "name": "Feedback: Thank You",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        640
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"Global Constants\"].json.EDUCARE_API_URL }}/api/conversation/state/transition",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $node[\"Global Constants\"].json.EDUCARE_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone: $json.phone, to_state: \"EXIT\" }) }}",
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 10000
        },
        "contentType": "json",
        "body": "={\n  \"phone\": \"{{ $json.phone }}\",\n  \"to_state\": \"EXIT\"\n}"
      },
      "id": "exit-handler-001",
      "name": "Exit: Reset State",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -688,
        832
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare goodbye message\nconst item = $input.item;\nlet extractorData = {};\ntry { extractorData = $node[\"Evolution Extractor\"].item.json; } catch(e) {\n  try { extractorData = $node[\"Chatwoot Extractor\"].item.json; } catch(e2) {}\n}\n\nreturn [{ json: {\n  source: extractorData.source || 'evolution',\n  phone: item.json.phone || '',\n  response_text: 'Até logo! Volte quando precisar. 👋',\n  media_type: 'text',\n  conversation_id: extractorData.conversation_id || null,\n  inbox_id: extractorData.inbox_id || null,\n  account_id: extractorData.account_id || null\n}}];"
      },
      "id": "exit-msg-001",
      "name": "Exit: Goodbye",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        832
      ]
    },
    {
      "parameters": {
        "url": "={{ $node[\"Global Constants\"].json.EDUCARE_API_URL }}/api/conversation/context/{{ $json.phone }}/prompt",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $node[\"Global Constants\"].json.EDUCARE_API_KEY }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 10000
        }
      },
      "id": "context-prompt-001",
      "name": "API: Get Context Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -128,
        1232
      ]
    },
    {
      "parameters": {
        "jsCode": "// Merge context prompt with RAG request data\nconst item = $input.item;\nconst contextPrompt = item.json.prompt || '';\n\n// Get upstream data for the RAG call\nlet ragData = {};\ntry { ragData = $node[\"Router: Intent Switch\"].json || {}; } catch(e) {\n  try { ragData = $node[\"Router: Menu Options\"].json || {}; } catch(e2) {}\n}\n\nreturn [{ json: {\n  ...ragData,\n  system_prompt: contextPrompt,\n  enhanced_message: ragData.message || '',\n  phone: ragData.phone || item.json.phone || ''\n}}];"
      },
      "id": "context-merge-001",
      "name": "Merge: Context + RAG",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        960
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"Global Constants\"].json.EDUCARE_API_URL }}/api/conversation/memory",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $node[\"Global Constants\"].json.EDUCARE_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  phone: $json.phone,\n  content: 'Pergunta: ' + ($json.original_message || $json.message || '') + ' | Resposta: ' + ($json.response_text || '').substring(0, 200),\n  metadata: {\n    intent: $json.intent || 'unknown',\n    state: $json.conversation_state || 'FREE_CONVERSATION',\n    child_id: $json.child_id || null,\n    timestamp: new Date().toISOString()\n  }\n}) }}",
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 10000
        },
        "contentType": "json",
        "body": "={\n  \"phone\": \"{{ $json.phone }}\",\n  \"role\": \"assistant_response\",\n  \"text\": \"{{ $json.response_text }}\",\n  \"metadata\": {\n    \"type\": \"conversa\",\n    \"active_context\": \"{{ $json.active_context }}\"\n  }\n}"
      },
      "id": "memory-save-001",
      "name": "API: Save Memory",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        -48
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"Global Constants\"].json.EVOLUTION_API_URL }}/message/sendButtons/{{ $node[\"Global Constants\"].json.EVOLUTION_INSTANCE }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $node[\"Global Constants\"].json.EVOLUTION_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.phone }}\",\n  \"options\": { \"delay\": 1500, \"presence\": \"composing\" },\n  \"buttonMessage\": {\n    \"text\": \"Como foi sua experiência até agora? ⭐\",\n    \"buttons\": [\n      { \"type\": \"reply\", \"reply\": { \"id\": \"fb_1\", \"title\": \"⭐ 1-2 estrelas\" } },\n      { \"type\": \"reply\", \"reply\": { \"id\": \"fb_3\", \"title\": \"⭐⭐⭐ 3 estrelas\" } },\n      { \"type\": \"reply\", \"reply\": { \"id\": \"fb_5\", \"title\": \"⭐⭐⭐⭐⭐ 4-5 estrelas\" } }\n    ],\n    \"footerText\": \"TitiNauta 🚀\"\n  }\n}",
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 10000
        },
        "contentType": "json",
        "body": "={\n  \"number\": \"{{ $json.phone }}\",\n  \"options\": { \"delay\": 1500, \"presence\": \"composing\" },\n  \"buttonMessage\": {\n    \"text\": \"Como foi sua experi\\u00eancia at\\u00e9 agora? \\u2b50\",\n    \"buttons\": [\n      { \"type\": \"reply\", \"reply\": { \"id\": \"fb_1\", \"title\": \"\\u2b50 1-2 estrelas\" } },\n      { \"type\": \"reply\", \"reply\": { \"id\": \"fb_3\", \"title\": \"\\u2b50\\u2b50\\u2b50 3 estrelas\" } },\n      { \"type\": \"reply\", \"reply\": { \"id\": \"fb_5\", \"title\": \"\\u2b50\\u2b50\\u2b50\\u2b50\\u2b50 4-5\" } }\n    ],\n    \"footerText\": \"Avalia\\u00e7\\u00e3o Educare+\"\n  }\n}"
      },
      "id": "feedback-buttons-001",
      "name": "API: Send Feedback Buttons",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        448
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "fb_check",
              "leftValue": "={{ $json.message }}",
              "rightValue": "fb_",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "feedback-detect-001",
      "name": "Gate: Is Feedback?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2560,
        640
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"Global Constants\"].json.EDUCARE_API_URL }}/api/conversation/feedback",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $node[\"Global Constants\"].json.EDUCARE_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  phone: $json.phone,\n  rating: $json.message === 'fb_1' ? 1 : ($json.message === 'fb_3' ? 3 : 5),\n  context: 'whatsapp_inline',\n  source: 'whatsapp_button'\n}) }}",
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 10000
        },
        "contentType": "json",
        "body": "={\n  \"phone\": \"{{ $json.phone }}\",\n  \"score\": 3\n}"
      },
      "id": "feedback-direct-001",
      "name": "Feedback: Direct Save",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2464,
        448
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"Global Constants\"].json.EVOLUTION_API_URL }}/message/sendText/{{ $node[\"Global Constants\"].json.EVOLUTION_INSTANCE }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $node[\"Global Constants\"].json.EVOLUTION_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.phone }}\",\n  \"options\": { \"delay\": 200, \"presence\": \"composing\" },\n  \"text\": \"Obrigado por compartilhar! Sua opinião nos ajuda muito 💜\"\n}",
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 10000
        },
        "contentType": "json",
        "body": "={\n  \"number\": \"{{ $json.phone }}\",\n  \"options\": { \"delay\": 200, \"presence\": \"composing\" },\n  \"text\": \"Obrigado por compartilhar! Sua opini\\u00e3o nos ajuda muito \\ud83d\\udc9c\"\n}"
      },
      "id": "feedback-ack-001",
      "name": "Feedback: Send Ack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2272,
        448
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"Global Constants\"].json.EDUCARE_API_URL }}/api/conversation/buttons/resolve",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $node[\"Global Constants\"].json.EDUCARE_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"phone\": \"{{ $json.phone }}\",\n  \"button_id\": \"{{ $json.button_id }}\"\n}",
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 10000
        }
      },
      "id": "resolve-button-001",
      "name": "API: Resolve Button",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -320,
        -160
      ]
    },
    {
      "parameters": {
        "jsCode": "// Process button resolution result and prepare response\nconst item = $input.item;\nconst result = item.json;\nconst action = result.action || '';\nconst phone = result.state_data?.phone || '';\n\nlet extractorData = {};\ntry { extractorData = $('Evolution Extractor').item.json; } catch(e) {\n  try { extractorData = $('Chatwoot Extractor').item.json; } catch(e2) {}\n}\n\nconst source = extractorData.source || 'evolution';\n\nif (action === 'context_selected') {\n  const ctx = result.context?.active_context;\n  const msg = ctx === 'child'\n    ? 'Perfeito 💙\\nEntão vamos falar sobre seu bebê 👶\\n\\nPode me contar sua dúvida! Estou aqui para ajudar.'\n    : 'Combinado 💚\\nAgora nosso foco é você.\\n\\nPode me contar sua dúvida! Estou aqui para ajudar.';\n  return [{ json: {\n    phone, source, response_text: msg, media_type: 'text',\n    active_context: ctx,\n    assistant_name: result.context?.assistant_name,\n    conversation_state: 'FREE_CONVERSATION',\n    conversation_id: extractorData.conversation_id,\n    inbox_id: extractorData.inbox_id,\n    account_id: extractorData.account_id\n  }}];\n}\n\nif (action === 'feedback_saved') {\n  const score = result.score || 3;\n  const msg = score >= 4\n    ? 'Que bom saber disso 💙\\nObrigado por compartilhar!'\n    : 'Obrigado por me contar 🤍\\nSe quiser, pode me dizer o que posso melhorar.';\n  return [{ json: {\n    phone, source, response_text: msg, media_type: 'text',\n    conversation_id: extractorData.conversation_id,\n    inbox_id: extractorData.inbox_id,\n    account_id: extractorData.account_id\n  }}];\n}\n\nif (action === 'state_transition') {\n  const toState = result.button_action?.to_state || 'FREE_CONVERSATION';\n  const stateMsg = result.state_message?.text || 'Como posso te ajudar? ✨';\n  return [{ json: {\n    phone, source, response_text: stateMsg, media_type: 'text',\n    conversation_state: toState,\n    conversation_id: extractorData.conversation_id,\n    inbox_id: extractorData.inbox_id,\n    account_id: extractorData.account_id\n  }}];\n}\n\nreturn [{ json: {\n  phone, source, response_text: 'Desculpe, não entendi. Tente novamente! 😊',\n  media_type: 'text',\n  conversation_id: extractorData.conversation_id,\n  inbox_id: extractorData.inbox_id,\n  account_id: extractorData.account_id\n}}];"
      },
      "id": "process-button-001",
      "name": "Process Button Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        -160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"Global Constants\"].json.EDUCARE_API_URL }}/api/conversation/buffer",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $node[\"Global Constants\"].json.EDUCARE_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"phone\": \"{{ $node[\\\"State Router\\\"].json.phone }}\",\n  \"message\": \"{{ $node[\\\"State Router\\\"].json.message }}\"\n}",
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 10000
        }
      },
      "id": "buffer-add-01",
      "name": "API: Add To Buffer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -960,
        1200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Buffer Decision v1.0\n// Decides whether to process buffered messages or wait\nconst item = $input.item;\nconst bufferResult = item.json;\n\n// Get upstream data\nlet upstreamData = {};\ntry { upstreamData = $node[\"State Router\"].json || {}; } catch(e) {}\n\nconst phone = upstreamData.phone || \"\";\nconst ready = bufferResult.ready_to_process === true;\nconst needsPrompt = bufferResult.needs_prompt === true;\nconst combinedText = bufferResult.combined_text || upstreamData.message || \"\";\nconst promptMessage = bufferResult.prompt_message || \"\";\n\nreturn [{ json: {\n  ...upstreamData,\n  phone,\n  buffer_ready: ready,\n  buffer_needs_prompt: needsPrompt,\n  message: ready ? combinedText : upstreamData.message,\n  original_message: upstreamData.message,\n  buffer_prompt: promptMessage,\n  buffer_count: bufferResult.buffer_count || 0\n}}];\n"
      },
      "id": "buffer-decision-01",
      "name": "Buffer Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -816,
        1200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "buffer_check",
              "leftValue": "={{ $json.buffer_ready }}",
              "rightValue": true,
              "operator": {
                "type": "boolean:equals",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "buffer-gate-01",
      "name": "Gate: Buffer Ready?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -624,
        1200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"Global Constants\"].json.EVOLUTION_API_URL }}/message/sendText/{{ $node[\"Global Constants\"].json.EVOLUTION_INSTANCE }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $node[\"Global Constants\"].json.EVOLUTION_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"number\": \"{{ $json.phone }}\",\n  \"options\": { \"delay\": 200, \"presence\": \"composing\" },\n  \"text\": \"{{ $json.buffer_prompt || 'Oi \\ud83d\\ude0a\\nMe conta um pouquinho mais pra eu conseguir te ajudar melhor.' }}\"\n}",
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 10000
        }
      },
      "id": "buffer-wait-01",
      "name": "Buffer: Send Wait Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -432,
        1360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"Global Constants\"].json.EDUCARE_API_URL }}/api/conversation/buffer/consume",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $node[\"Global Constants\"].json.EDUCARE_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"phone\": \"{{ $node[\"Buffer Decision\"].json.phone }}\"\n}",
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 10000
        }
      },
      "id": "buffer-consume-01",
      "name": "API: Consume Buffer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -432,
        1100
      ]
    },
    {
      "parameters": {
        "jsCode": "// Merge consumed buffer text with upstream data\nconst item = $input.item;\nconst consumeResult = item.json;\n\nlet upstreamData = {};\ntry { upstreamData = $node[\"Buffer Decision\"].json || {}; } catch(e) {}\n\nconst combinedText = consumeResult.combined_text || upstreamData.message || \"\";\n\nreturn [{ json: {\n  ...upstreamData,\n  message: combinedText,\n  buffer_consumed: true,\n  buffer_message_count: consumeResult.message_count || 1\n}}];\n"
      },
      "id": "merge-buffer-01",
      "name": "Merge Buffer Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        1100
      ]
    }
  ],
  "connections": {
    "Webhook (Unified Entry)": {
      "main": [
        [
          {
            "node": "Source Detector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Source Detector": {
      "main": [
        [
          {
            "node": "É humano?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router: Source Type": {
      "main": [
        [
          {
            "node": "Chatwoot Extractor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Evolution Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chatwoot Extractor": {
      "main": [
        [
          {
            "node": "Gate: Not Skipped?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution Extractor": {
      "main": [
        [
          {
            "node": "Gate: Not Skipped?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gate: Not Skipped?": {
      "main": [
        [
          {
            "node": "Gate: Is Feedback?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router: Input Type": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Global Constants",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Normalize Audio": {
      "main": [
        [
          {
            "node": "Global Constants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Check User": {
      "main": [
        [
          {
            "node": "Gate: User Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gate: User Exists?": {
      "main": [
        [
          {
            "node": "Gate: Active Sub?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare: No User Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gate: Active Sub?": {
      "main": [
        [
          {
            "node": "API: Get State",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare: Inactive Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare: No User Msg": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare: Inactive Msg": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Engine: Calc Weeks": {
      "main": [
        [
          {
            "node": "Intent Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router: Intent Switch": {
      "main": [
        [
          {
            "node": "Router: Menu Options",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "API: Biometrics",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "API: Sleep Log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "API: Vaccines",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "API: Get Context Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "API: Appointments",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "API: Get Context Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router: Menu Options": {
      "main": [
        [
          {
            "node": "API: Child Content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "API: Mother Content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "API: Vaccines",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "API: Get Context Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Biometrics": {
      "main": [
        [
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Sleep Log": {
      "main": [
        [
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Vaccines": {
      "main": [
        [
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: RAG (TitiNauta)": {
      "main": [
        [
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Appointments": {
      "main": [
        [
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Child Content": {
      "main": [
        [
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Mother Content": {
      "main": [
        [
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Response": {
      "main": [
        [
          {
            "node": "Router: Response Source",
            "type": "main",
            "index": 0
          },
          {
            "node": "API: Save Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router: Response Source": {
      "main": [
        [
          {
            "node": "Chatwoot: Send Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Router: Evo Output Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router: Evo Output Type": {
      "main": [
        [
          {
            "node": "Evo: Send Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Evo: Send Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Evo: Send Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Evo: Send Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Normalize Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Call 'Agente Lead'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É humano?": {
      "main": [
        [
          {
            "node": "Router: Source Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Call 'Agente Lead - long memory'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Global Constants": {
      "main": [
        [
          {
            "node": "API: Check User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intent Classifier": {
      "main": [
        [
          {
            "node": "Router: Intent Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Get State": {
      "main": [
        [
          {
            "node": "State Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "State Router": {
      "main": [
        [
          {
            "node": "Router: State Flow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router: State Flow": {
      "main": [
        [
          {
            "node": "API: Add To Buffer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "API: Entry Transition",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "API: Save Feedback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Exit: Reset State",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "API: Resolve Button",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "API: Add To Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Entry Transition": {
      "main": [
        [
          {
            "node": "API: Send Context Buttons",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Save Feedback": {
      "main": [
        [
          {
            "node": "Feedback: Thank You",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feedback: Thank You": {
      "main": [
        [
          {
            "node": "Router: Response Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exit: Reset State": {
      "main": [
        [
          {
            "node": "Exit: Goodbye",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exit: Goodbye": {
      "main": [
        [
          {
            "node": "Router: Response Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Get Context Prompt": {
      "main": [
        [
          {
            "node": "Merge: Context + RAG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge: Context + RAG": {
      "main": [
        [
          {
            "node": "API: RAG (TitiNauta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evo: Send Text": {
      "main": [
        [
          {
            "node": "API: Send Feedback Buttons",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gate: Is Feedback?": {
      "main": [
        [
          {
            "node": "Feedback: Direct Save",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Router: Input Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feedback: Direct Save": {
      "main": [
        [
          {
            "node": "Feedback: Send Ack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evo: Send Audio": {
      "main": [
        []
      ]
    },
    "API: Resolve Button": {
      "main": [
        [
          {
            "node": "Process Button Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Button Result": {
      "main": [
        [
          {
            "node": "Router: Response Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Add To Buffer": {
      "main": [
        [
          {
            "node": "Buffer Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buffer Decision": {
      "main": [
        [
          {
            "node": "Gate: Buffer Ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gate: Buffer Ready?": {
      "main": [
        [
          {
            "node": "API: Consume Buffer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buffer: Send Wait Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Consume Buffer": {
      "main": [
        [
          {
            "node": "Merge Buffer Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Buffer Result": {
      "main": [
        [
          {
            "node": "Engine: Calc Weeks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}