attached_assets/Pasted--name-Educare-Chat-Master-System-v3-0-Full-Features-nod_1765468460127.txt
{
  "name": "Educare+ Chat: Master System v3.0 (Full Features)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-educare-v3",
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook (Evolution API)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Extração Inteligente v3.0\n// Suporte a Texto, Botões e Detecção de Áudio\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json.body || item.json.data || {};\n  const key = data.key || {};\n  const msg = data.message || {};\n  \n  // 1. Filtro de Segurança (Ignora status e msg própria)\n  if (key.fromMe || key.remoteJid?.includes('status')) continue;\n\n  const phone = key.remoteJid?.replace(/\\D/g, '') || '';\n  \n  // 2. Detecção de Tipo de Mídia\n  // Ajuste o caminho 'audioMessage' conforme a versão da sua Evolution API\n  const isAudio = !!(msg.audioMessage || msg.voiceMessage);\n  let mediaUrl = '';\n  let messageContent = '';\n\n  if (isAudio) {\n     mediaUrl = data.mediaUrl || msg.audioMessage?.url || '';\n  } else {\n     // Prioridade: Texto > Botão > Lista\n     messageContent = msg.conversation || \n                      msg.extendedTextMessage?.text || \n                      msg.buttonsResponseMessage?.selectedButtonId || \n                      msg.listResponseMessage?.singleSelectReply?.selectedRowId || '';\n  }\n  \n  if (phone && (messageContent || isAudio)) {\n    results.push({\n      json: {\n        phone,\n        message: messageContent,\n        is_audio: isAudio,\n        media_url: mediaUrl,\n        senderName: data.pushName || 'Usuário',\n        timestamp: new Date().toISOString(),\n        messageId: key.id\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "id": "smart-extract",
      "name": "Smart Extraction",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.is_audio }}",
        "rules": {
          "rules": [
            { "value2": "true", "output": 0 },
            { "value2": "false", "output": 1 }
          ]
        }
      },
      "id": "router-input",
      "name": "Router: Input Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [440, 300]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "fileUrl": "={{ $json.media_url }}",
        "options": { "language": "pt" }
      },
      "id": "whisper",
      "name": "AI: Whisper Transcribe",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [660, 160],
      "credentials": { "openAiApi": { "id": "YOUR_OPENAI_CREDENTIAL_ID", "name": "OpenAI Account" } }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Normaliza o áudio transcrito para texto\nreturn [{\n  json: {\n    ...$input.item.json,\n    message: $input.item.json.text, \n    is_audio_transcribed: true\n  }\n}];"
      },
      "id": "normalize-audio",
      "name": "Normalize Audio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 160]
    },
    {
      "parameters": {
        "url": "={{ $vars.EDUCARE_API_URL }}/api/users/check",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "phone", "value": "={{ $json.phone }}" },
            { "name": "api_key", "value": "={{ $vars.EDUCARE_API_KEY }}" }
          ]
        }
      },
      "id": "api-check-user",
      "name": "API: Check User",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "exists", "leftValue": "={{ $json.exists }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }]
        }
      },
      "id": "gate-exists",
      "name": "Gate: User Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1320, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            { "id": "active", "leftValue": "={{ $json.subscription_status }}", "rightValue": "active", "operator": { "type": "string", "operation": "equals" } },
            { "id": "trialing", "leftValue": "={{ $json.subscription_status }}", "rightValue": "trialing", "operator": { "type": "string", "operation": "equals" } }
          ],
          "combinator": "or"
        }
      },
      "id": "gate-sub",
      "name": "Gate: Active Sub?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1540, 240]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Motor Temporal: Define a semana da criança\nconst child = $json.child || {};\nif (!child.dob) return [{ json: { error: 'no_dob', target_flow: 'onboarding' } }];\n\nconst dob = new Date(child.dob);\nconst diff = Math.abs(new Date() - dob);\nconst currentWeek = Math.floor(Math.ceil(diff / (1000 * 60 * 60 * 24)) / 7);\n\nreturn [{ json: { ...$json, current_week: currentWeek, child_id: child.id, child_name: child.name } }];"
      },
      "id": "time-engine",
      "name": "Engine: Calc Weeks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 140]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Classifique a intenção do usuário em uma das categorias abaixo (Responda APENAS a palavra-chave):\n\n1. 'menu_nav': Navegação numérica (1, 2, 3), 'voltar', 'menu'.\n2. 'biometrics': Registrar peso ou altura (Ex: '8kg', 'Mede 60cm').\n3. 'sleep': Registrar sono (Ex: 'Dormiu', 'Acordou').\n4. 'vaccine': Dúvidas ou registro de vacinas.\n5. 'appointment': Marcar ou consultar médico/exames.\n6. 'question': Dúvidas gerais (Nutrição, Saúde, Comportamento, RAG)."
            },
            {
              "role": "user",
              "content": "={{ $json.message }}"
            }
          ]
        }
      },
      "id": "ai-intent",
      "name": "AI Intent Classifier",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [1980, 140]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.message.content }}",
        "rules": {
          "rules": [
            { "value2": "menu_nav", "output": 0 },
            { "value2": "biometrics", "output": 1 },
            { "value2": "sleep", "output": 2 },
            { "value2": "vaccine", "output": 3 },
            { "value2": "question", "output": 4 },
            { "value2": "appointment", "output": 5 }
          ]
        },
        "fallbackOutput": 4
      },
      "id": "router-intent",
      "name": "Router: Intent Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [2200, 140]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $('Webhook (Evolution API)').item.json.message }}",
        "rules": {
          "rules": [
            { "value2": "1", "output": 0 },
            { "value2": "2", "output": 1 },
            { "value2": "3", "output": 2 },
            { "value2": "4", "output": 3 },
            { "value2": "5", "output": 4 }
          ]
        },
        "fallbackOutput": 0
      },
      "id": "router-menu",
      "name": "Router: Menu Options",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [2460, -100]
    },
    {
      "parameters": { "url": "={{ $vars.EDUCARE_API_URL }}/api/biometrics/update", "method": "POST", "sendBody": true, "jsonBody": "={ \"child_id\": \"{{ $('Engine: Calc Weeks').item.json.child_id }}\", \"raw_text\": \"{{ $('Webhook (Evolution API)').item.json.message }}\" }" },
      "id": "api-bio", "name": "API: Biometrics", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2460, 60]
    },
    {
      "parameters": { "url": "={{ $vars.EDUCARE_API_URL }}/api/vaccines/check", "sendQuery": true, "queryParameters": { "parameters": [{ "name": "age_weeks", "value": "={{ $('Engine: Calc Weeks').item.json.current_week }}" }] } },
      "id": "api-vac", "name": "API: Vaccines", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2460, 220]
    },
    {
      "parameters": { "url": "={{ $vars.EDUCARE_API_URL }}/api/rag/ask", "method": "POST", "sendBody": true, "jsonBody": "={ \"question\": \"{{ $('Webhook (Evolution API)').item.json.message }}\", \"context\": { \"week\": {{ $('Engine: Calc Weeks').item.json.current_week }}, \"child_name\": \"{{ $('Engine: Calc Weeks').item.json.child_name }}\" } }" },
      "id": "api-rag", "name": "API: RAG", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2460, 380]
    },
    {
      "parameters": { "url": "={{ $vars.EDUCARE_API_URL }}/api/content/child", "sendQuery": true, "queryParameters": { "parameters": [{ "name": "week", "value": "={{ $('Engine: Calc Weeks').item.json.current_week }}" }] } },
      "id": "api-content-child", "name": "API: Child Content", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2700, -260]
    },
    {
      "parameters": { "url": "={{ $vars.EDUCARE_API_URL }}/api/content/mother", "sendQuery": true, "queryParameters": { "parameters": [{ "name": "week", "value": "={{ $('Engine: Calc Weeks').item.json.current_week }}" }] } },
      "id": "api-content-mother", "name": "API: Mother Content", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2700, -120]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.media_type || 'text' }}",
        "rules": {
          "rules": [
            { "value2": "text", "output": 0 },
            { "value2": "image", "output": 1 },
            { "value2": "audio", "output": 2 },
            { "value2": "document", "output": 3 }
          ]
        },
        "fallbackOutput": 0
      },
      "id": "router-output",
      "name": "Router: Output Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [3000, 140]
    },
    {
      "parameters": { "method": "POST", "url": "={{ $vars.EVOLUTION_API_URL }}/message/sendText/{{ $vars.EVOLUTION_INSTANCE }}", "sendHeaders": true, "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{ $vars.EVOLUTION_API_KEY }}" }] }, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"number\": \"{{ $('Webhook (Evolution API)').item.json.phone }}\",\n  \"text\": \"{{ $json.response_text || 'Comando recebido!' }}\"\n}" },
      "id": "send-text", "name": "Evo: Send Text", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [3260, 0]
    },
    {
      "parameters": { "method": "POST", "url": "={{ $vars.EVOLUTION_API_URL }}/message/sendWhatsAppAudio/{{ $vars.EVOLUTION_INSTANCE }}", "sendHeaders": true, "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{ $vars.EVOLUTION_API_KEY }}" }] }, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"number\": \"{{ $('Webhook (Evolution API)').item.json.phone }}\",\n  \"audio\": \"{{ $json.media_url }}\"\n}" },
      "id": "send-audio", "name": "Evo: Send Audio", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [3260, 160]
    },
    {
      "parameters": { "method": "POST", "url": "={{ $vars.EVOLUTION_API_URL }}/message/sendMedia/{{ $vars.EVOLUTION_INSTANCE }}", "sendHeaders": true, "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{ $vars.EVOLUTION_API_KEY }}" }] }, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"number\": \"{{ $('Webhook (Evolution API)').item.json.phone }}\",\n  \"mediatype\": \"image\",\n  \"mimetype\": \"image/jpeg\",\n  \"caption\": \"{{ $json.response_text }}\",\n  \"media\": \"{{ $json.media_url }}\"\n}" },
      "id": "send-image", "name": "Evo: Send Image", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [3260, 320]
    }
  ],
  "connections": {
    "Webhook (Evolution API)": { "main": [[{ "node": "Smart Extraction", "type": "main", "index": 0 }]] },
    "Smart Extraction": { "main": [[{ "node": "Router: Input Type", "type": "main", "index": 0 }]] },
    "Router: Input Type": { "main": [[{ "node": "AI: Whisper Transcribe", "type": "main", "index": 0 }], [{ "node": "API: Check User", "type": "main", "index": 0 }]] },
    "AI: Whisper Transcribe": { "main": [[{ "node": "Normalize Audio", "type": "main", "index": 0 }]] },
    "Normalize Audio": { "main": [[{ "node": "API: Check User", "type": "main", "index": 0 }]] },
    "API: Check User": { "main": [[{ "node": "Gate: User Exists?", "type": "main", "index": 0 }]] },
    "Gate: User Exists?": { "main": [[{ "node": "Gate: Active Sub?", "type": "main", "index": 0 }]] },
    "Gate: Active Sub?": { "main": [[{ "node": "Engine: Calc Weeks", "type": "main", "index": 0 }]] },
    "Engine: Calc Weeks": { "main": [[{ "node": "AI Intent Classifier", "type": "main", "index": 0 }]] },
    "AI Intent Classifier": { "main": [[{ "node": "Router: Intent Switch", "type": "main", "index": 0 }]] },
    "Router: Intent Switch": { "main": [[{ "node": "Router: Menu Options", "type": "main", "index": 0 }], [{ "node": "API: Biometrics", "type": "main", "index": 0 }], [], [{ "node": "API: Vaccines", "type": "main", "index": 0 }], [{ "node": "API: RAG", "type": "main", "index": 0 }], []] },
    "Router: Menu Options": { "main": [[{ "node": "API: Child Content", "type": "main", "index": 0 }], [{ "node": "API: Mother Content", "type": "main", "index": 0 }], [], []] },
    "API: Biometrics": { "main": [[{ "node": "Router: Output Type", "type": "main", "index": 0 }]] },
    "API: Vaccines": { "main": [[{ "node": "Router: Output Type", "type": "main", "index": 0 }]] },
    "API: RAG": { "main": [[{ "node": "Router: Output Type", "type": "main", "index": 0 }]] },
    "API: Child Content": { "main": [[{ "node": "Router: Output Type", "type": "main", "index": 0 }]] },
    "API: Mother Content": { "main": [[{ "node": "Router: Output Type", "type": "main", "index": 0 }]] },
    "Router: Output Type": { "main": [[{ "node": "Evo: Send Text", "type": "main", "index": 0 }], [{ "node": "Evo: Send Image", "type": "main", "index": 0 }], [{ "node": "Evo: Send Audio", "type": "main", "index": 0 }]] }
  }
}